[2015-09-10 01:23] pixelzoom opened #1 "support for color functions"
In Function Builder, some of the required functions involve color filtering. We currently don’t have support for that, but there is a related scenery issue: https://github.com/phetsims/scenery/issues/158.

The color functions are:

• **Grayscale** (non-invertible) - converts the input image to grayscale

• **Color inversion** (invertible) - maps colors in the input image to the opposite side of th

[2015-09-10 01:27] pixelzoom commented on #1
Skype conversation:

[9/9/15, 1:09:05 PM] Sam Reid: WebGL is a natural solution for color mapping like that.  Not sure what to do for webgl-less platforms.
[9/9/15, 1:09:35 PM] Sam Reid: When I have tried pixel ops on canvas itself, it is often too slow to use.  Though if the images are small enough, pixel ops may be feasible there.
[9/9/15, 1:09:41 PM] Chris Malley: omit those functions from the

[2015-09-10 01:27] pixelzoom commented on #1
I asked @amanda-phet via email:

She replied:

[2015-09-10 01:36] jonathanolson commented on #1
@amanda-phet, how is the Warhol function invertible? Its output range of images is much smaller than "every possible image", and maps multiple images (those with the same alpha channel) to one result.

[2015-09-10 01:38] pixelzoom commented on #1
My bad, the Warhol function is non-invertible in the design doc. First comment above edited to reflect the correction. And I'm going to delete this comment and @jonathanolson's for issue hygiene :)

[2015-09-10 01:43] jonathanolson commented on #1
Also, the "changes as they drag it through" - is that like a slow fade for the entire image, or a sharp boundary where it changes from "before" to "after", or something else?

[2015-09-10 01:47] pixelzoom commented on #1
See the design doc at https://docs.google.com/document/d/1S6pkoJODPNZFtkLaSmk2MKzh2aAH6lk30pqCTxTX8z8/edit

There is a "spy glass" at the boundary where 2 functions meet that lets you see what is coming out of the left function and going into the right function.  So no, there is no slow fade.

[2015-09-10 01:48] pixelzoom commented on #1
See the design doc at https://docs.google.com/document/d/1S6pkoJODPNZFtkLaSmk2MKzh2aAH6lk30pqCTxTX8z8/edit

There is a "spy glass" at the boundary where 2 functions meet that lets you see what is coming out of the left function and going into the right function.  So no, there is no slow fade, and you don't see an animation of the transformation occurring.

[2015-09-10 02:02] jonathanolson commented on #1
Since there is no fading, it seems like using Canvas pixel mapping and/or Canvas operations would be best. WebGL would do the same thing (but with a lot more code), and I wouldn't recommend starting with it.

For the RGB inversion, Canvas blending mode "difference" (globalCompositeOperation) could be used.

For the Warhol effect, you could draw in four smaller copies of the image, set globalCompos

[2015-09-10 16:45] jonathanolson commented on #1
Also if we use the Canvas method described above, no Scenery work in https://github.com/phetsims/scenery/issues/158 would be needed for this feature.

[2015-09-10 18:58] pixelzoom commented on #1
I'll process with Canvas approach, will consult with @jonathanolson.

[2015-09-10 20:39] ariel-phet opened #2 "Function Builder master checklist"
## Design
- [x] **Design doc created** (Date: 7/22/2014)
 - [x] Make phethelp@gmail.com owner, share with phet-team
 - [x] Add to [Master Doc List](https://docs.google.com/document/d/1yjT1oE95JG_evwob9LB_De-brD7JpfFM6iIL6pF812k/edit#)
- [x] **Learning goals and standards identified** (Date: //)
- [x] **Design concept complete**  (Date: //)
- [x] **Wireframes complete** (Date: //)
- [x] **Mockups c

[2015-09-15 04:11] pixelzoom commented on #2
@ariel-phet Can you comment on why this is labeled "developer-meeting"?

[2015-09-15 04:43] ariel-phet commented on #2
Because it was a black and white label....and I accidentally put that instead of master checklist :facepunch:

[2015-10-06 03:55] pixelzoom commented on #1
http://www.colorado.edu/physics/phet/dev/html/function-builder/1.0.0-dev.1/function-builder_en.html

This dev version demonstrates all functions applied to all cards. Everything is implemented using the most basic Canvas API, no globalCompositeOperation (which is likely to have issues browser compatibility issues).  Even this is exhibiting browser compatibility issues. It works reliably with Chrom

[2015-10-06 03:55] pixelzoom commented on #1
About the Safari and Firefox weirdness, @jonathanolson said:

[2015-10-06 03:58] pixelzoom commented on #1
Also worth noting in the 1.0.0-dev.1 is that image quality generally stinks in Firefox. And using mipmaps in this case is practically not an option.

[2015-10-09 19:01] pixelzoom opened #3 "image layout problem"
(This issue was being discussed with @jonathanolson via email, but that didn't seem to be an effective medium for quick turnaround. So converting it to a GitHub issue.)

On 10/5/15 I wrote in email:

I’m testing function-builder.Grayscale (grayscale function) and I’m seeing a browser difference that I didn’t anticipate.

With this input card:

![screenshot_17](https://cloud.githubusercontent.com/a

[2015-10-09 19:02] pixelzoom commented on #3
Making this change in Grayscale.js fixes the problem:

[code]

I guess those “optional” args aren’t really optional for some browsers.

[2015-10-09 19:02] pixelzoom commented on #3
On 10/5/15, @jonathanolson wrote in email:

[2015-10-09 19:02] pixelzoom commented on #3
Hmmm…. The “fix” I noted is sporadic.  Or maybe isn’t doing anything at all.

Yes, I guess I’ll need some assistance debugging at some point. Thanks for the offer.

[2015-10-09 19:02] pixelzoom commented on #3
Is there something in my implementation that is async? That would explain why the position of the images is off.

This perhaps?

`outputImage.src = canvas.toDataURL();`

[2015-10-09 19:03] pixelzoom commented on #3
From scenery.Image doc:

[code]

I’m passing in an HTMLImageElement, but it’s src is a URL.  Does that have the same problems as if I pass the URL directly to Image?

[2015-10-09 19:03] pixelzoom commented on #3
On 10/7/15 @jonathanolson wrote via email:

Since the plan was to only use Canvases from the initial require()'d image up until the final displayed output, not using images in-between, e.g. context.drawImage( canvas ), I imagine the async part would only cause layout issues for the final displayed Scenery Images, since browsers can't guarantee a synchronous width and height.

Instead of creating a

[2015-10-09 19:04] pixelzoom commented on #3
I’m confused. The doc for scenery.Image says that passing a URL to Image "works, but does NOT support bounds-based parameter object keys like 'left', 'centerX', etc. also necessary to force updateScene() after it has loaded”.  Since I need to center the Image on a card, how will this not be a problem?  And please clarify about updateScene, does the client need to make an explicit call?  I don’t se

[2015-10-09 19:06] pixelzoom commented on #3
You can also see the problem occurring in the "Test" screen of function-builder (master) or in http://www.colorado.edu/physics/phet/dev/html/function-builder/1.0.0-dev.1/function-builder_en.html

[2015-10-09 19:08] pixelzoom commented on #1
These functions are all basically working. The sub-issue of their layout has been moved to https://github.com/phetsims/function-builder/issues/3.  Closing.

[2015-10-09 19:08] #1 closed

[2015-10-10 05:23] jonathanolson commented on #3
On line 52 of Grayscale, an HTMLImageElement (the input Card's image) is being drawn into the Canvas. I mean a Canvas being drawn into a Canvas. So for example, if we have currently:
[code]

I would recommend passing the Canvas through the Cards directly:
[code]

Also you can use initialWidth/initialHeight when creating a Scenery Image node.

Updated Image constructor docs:
[code]

[2015-10-12 19:23] pixelzoom opened #4 "image quality issues"
Image quality seems to have taken a turn for the worse after changing rendering strategies in https://github.com/phetsims/function-builder/issues/3.

Here's the previous strategy, which draws HTMLImageElement to Canvas, convert the Canvas back to HTMLImageElement, then uses `new scenery.Image(HTMLImageElement)`.
http://www.colorado.edu/physics/phet/dev/html/function-builder/1.0.0-dev.2/function-bu

[2015-10-12 19:25] pixelzoom commented on #3
The issue with image layout is resolved after switching to a canvas-to-canvas rendering approach, and using the `new Image(canvas)` form of the scenery.Image constructor.

The quality of the rendering is inferior on Mac+Chrome, but that issues is tracked in https://github.com/phetsims/function-builder/issues/4.

Closing.

[2015-10-12 19:25] #3 closed

[2015-10-12 21:10] pixelzoom commented on #4
I'll need to potentially handle retina issues too.   Misc notes:

In the console, should see this on retina devices:
[code]

Canvas context has `backingStorePixelRation`, whose names differs by platform. See `scenery.Util.backingStorePixelRatio`.

[2015-10-12 21:26] pixelzoom commented on #4
Using Image(canvas.toDataURL) instead of Image(canvas) improved quality greatly. Still jaggy on FF, as it typically is.

Some Image options that could be investigated, but have performance implications:

[code]

I tried this in CardNode, made FF a bit better, but not great. For now, we'll live with jaggy FF.

[2015-10-12 21:41] pixelzoom commented on #4
Mentioning @amanda-phet and @ariel-phet, so that you're aware of this.

We're going to live with jaggy quality on FF for now, since doing otherwise will adversely affect performance for this sim.  Mipmapping is not an option for this sim, and we're going to have to make a tradeoff between responsiveness and image quality (on some platforms).

Closing.

[2015-10-12 21:45] ariel-phet commented on #4
@pixelzoom - please comment on why mipmapping is not an option (I believe you of course, but it would be good to document why)

[2015-10-12 21:50] ariel-phet commented on #4
and feel free to close after a brief explanatory comment

[2015-10-12 22:15] pixelzoom commented on #4
@ariel-phet asked:

Changing a function (or composed function) needs to immediately change multiple images: the images that the user(s) are dragging, the image(s) that are visible in the output carousel (which may be in the process of being scrolled.)  And in the case of a composed function (2-3 functions chained together) this is a multi-step process, where the intermediate images need to be reta

[2015-10-12 22:26] ariel-phet commented on #4
Nope...thanks for the explanation, useful for me to understand the constraints when discussing potential future designs and such!

[2015-10-12 22:26] #4 closed

[2015-12-08 22:37] jonathanolson opened #5 "Automated testing error"
[code]

Looks like it's getting null from a PlaceholderImage and trying to create a scenery.Image with it.

[2015-12-08 22:45] pixelzoom commented on #5
@jonathanolson please indicate which automated test this fails with.

[2015-12-08 23:02] jonathanolson commented on #5
Detected with Chipper's test-sims.html.

5 for 5 runs I just did of /function-builder/function-builder_en.html?fuzzMouse=100&ea fail out.

[2015-12-08 23:03] jonathanolson commented on #5
(i.e. you don't need to run automated tests to reproduce).

[2015-12-09 16:38] pixelzoom commented on #5
Thanks. What I was looking for was "fails requirejs fuzzMouse".

[2015-12-09 16:39] pixelzoom commented on #5
`fuzzMouse` apparently not necessary, fails on startup with `ea`.

[2015-12-09 16:42] #5 closed

[2016-01-06 00:04] pixelzoom opened #6 "design screen icons"
Screen icons are not specified in the design document, so they need to be designed.

It would be nice to have these for the NCTM demo on April 13, 2016.  I'll need them a week prior to guarantee that they are implemented.

[2016-01-11 19:24] jonathanolson opened #7 "Automated testing error"
Might be a double-call of dispose?

[code]

[2016-01-11 19:39] pixelzoom commented on #7
Which automated test is failing? (In general, a helpful bit of information to provide.)  I was guessing `fuzzMouse`, but haven't been able to reproduce.

[2016-01-11 19:50] pixelzoom commented on #7
It's the `fuzzMouse` test, reproduced more quickly when running with `screens=1`.

[2016-01-11 19:50] pixelzoom commented on #7
Add assertions to guard against calling things that have been set to `null` by calling dispose.

[2016-01-11 19:54] pixelzoom commented on #7
This happens on 'Reset All'.  The function instances get disposed of by PatternsScene (the model), but also by any associated MovableFunctionNodes (the view).

[2016-01-11 19:59] pixelzoom commented on #7
This can be reproduced without `fuzzMouse` in the "Patterns" screen by:

• set MoveTo `duration:10` to slow down the animation to mortal speed
• drag a function out of the carousel
• release the function
• press the 'Reset All' button before the function returns to the carousel, PatternsScene will call dispose and the function will disappear
• wait a few seconds for the animation to complete, disp

[2016-01-11 20:03] pixelzoom commented on #7
Fixed, closing.  Thanks for reporting.

[2016-01-11 20:03] #7 closed

[2016-01-11 20:18] jonathanolson commented on #7
Would "require.js fuzzMouse", "built fuzzMouse" or "build" be helpful for every automated testing error (from test-server)? Should I specify test-server?

[2016-01-11 20:19] pixelzoom commented on #7
yes, knowing which test failed would save a bit of time.  I'm fine with knowing that "automated test" means "test-server", so that's up to you.

[2016-01-16 16:55] samreid opened #8 "Eslint failure"
During build:

Building function-builder
Running "eslint:allFiles" (eslint) task

/Users/samreid/github/function-builder/js/patterns/model/PatternsScene.js
  12:7  error  "CanvasUtils" is defined but never used  no-unused-vars

✖ 1 problem (1 error, 0 warnings)

Warning: Task "eslint:allFiles" failed. Use --force to continue.

Aborted due to warnings.

[2016-01-16 20:37] pixelzoom commented on #8
I have master HEAD (sha ac1935c5dc96ce6df94723420b9fda49ebcccbb5) of function-builder in my working copy, and I see no such error with `grunt lint`.   @samreid is your working copy current?

[2016-01-16 20:41] pixelzoom commented on #8
`CanvasUtils` was removed from PatternsScene.js on 1/15/2016 at 11:58am, about 18 hours before this issue was created. So I'm guessing that @samreid's working copy isn't current.

[2016-01-16 23:20] samreid commented on #8
This update fixed the problem, closing.

[2016-01-16 23:20] #8 closed

[2016-02-10 16:21] pixelzoom opened #9 "should input and output carousels be anchored to the edges of the browser window?"
In https://github.com/phetsims/axon/issues/86#issuecomment-178874447, @samreid said:

@pixelzoom said:

[2016-02-10 16:22] pixelzoom commented on #9
I checked with the function-builder team at 2/4/16 design meeting. This feature is not desired in function-builder, where we want to (1) maintain proximity of the inputs and outputs so they can be easily compared, and (2) have a fairly short "drag distance" between carousels and the builder.

Closing.

[2016-02-10 16:22] #9 closed

[2016-02-10 16:28] pixelzoom commented on #6
@amanda-phet provided me with these on 1/27/16, see attached mockup.  I've created these programmatically in the sim.  The "Patterns" (Warhol) icon is a little crunchy, but I'll fix that later. Closing.

![screenshot_07](https://cloud.githubusercontent.com/assets/3046552/12953650/8d8ea360-cfd8-11e5-9479-c846b350765e.png)

[2016-02-10 16:28] #6 closed

[2016-02-15 18:29] phet-steele opened #10 "Automated Testing Error"
[code]

[2016-02-15 18:53] pixelzoom commented on #10
You caught me during an big refactor. Fixed, closing.

[2016-02-15 18:53] #10 closed

[2016-03-07 21:05] pixelzoom opened #11 "suggestions for how to implement 'spy glass' feature"
In Function Builder, there's a "Spy Glass" feature.  Here's a mockup from the design document:

![screenshot_18](https://cloud.githubusercontent.com/assets/3046552/13583025/9d9dfe7e-e46c-11e5-934b-8e33fd1435fa.png)

The "Spy Glass" check box (lower left) toggles the visibility of the spy glasses.  When the spy glasses are visible, the card that is being dragged through the function builder is visi

[2016-03-07 21:06] samreid commented on #11
Use Path/Shape instead of Rectangle, and create the shape with lineTo/arc commands.  Similar to how we cut the hole out of the ProbeNode line 147.  Also keep in mind that when creating path with holes that the clockwise/counterclockwise matters. (I think inner shapes have to go opposite direction of outer shapes, but not 100% sure).

[2016-03-07 21:07] pixelzoom commented on #11
So I'll need 2 shapes, one with holes and one without.  And I'll need to line up the spy glasses (lens+handle) with these holes.  Do I understand that correctly?

[2016-03-07 21:12] samreid commented on #11
Yes, you understood my suggestion.

Brainstorming... another way to do this could be to make the bottom half with semicircle cutouts and the top half with semicircle cutouts.  Then to show the cutouts filled in, put a larger rectangle/circle behind the holes.

I suspect @jonathanolson will have good suggestions as well.

[2016-03-07 21:12] pixelzoom commented on #11
Another complication in function-builder is that spy glasses are supposed to appear only to the right of "slots" in the builder that are populated with functions. For example, if the builder has 3 slots, and only the left slot is populated, then a spy glass appears only for that slot.  So it sounds like I'll need to either (a) eagerly create a different Shape for each possible configuration, or (b

[2016-03-07 21:14] samreid commented on #11
Or just create one shape with holes and then (when closed) cover the holes with circles or rectangles that are slightly bigger than the holes.

[2016-03-07 22:41] jonathanolson commented on #11
The Shape "make the outline counter-clockwise (or clockwise) and then the holes clockwise (or counter-clockwise" that @samreid mentioned is the approach to making shapes with holes. Note that for circles, you'll want to moveTo so that it doesn't stroke from the end of your outline to the start of your hole.

I'm fine with either:

OR

Performance isn't a huge concern, since the shape isn't going t

[2016-03-07 23:15] pixelzoom commented on #11
But if the shape is changing dynamically, if will need to change while the user is dragging functions in/out of the builder.  So performance may be an issue.

[2016-03-07 23:21] jonathanolson commented on #11
I was imagining this as a "user releases mouse (or dragged something over), and it immediately toggles from "no hole" to "complete hole" or vice versa.

Is this instead something where there are more shapes in-between "no hole" and "complete hole", where every mouse/touch-move would be changing the same?

[2016-03-07 23:33] pixelzoom commented on #11
User toggles spy glasses on/off via a check box.  If a function is removed from the builder, the spyglass on it's right edge disappears. If a function is added to the builder, a spyglass appears on it's right edge.

[2016-03-07 23:39] jonathanolson commented on #11
The safest way to start if concerned about performance is to make a shape with all of the holes, and use circles in the foreground (with the same fill), which will be transparent when there are spyglasses. There may be a chance of a seam between the filled-in hole and the outer shape (browser-specific chance).

The safest way to start for appearance and code complexity is to change the shape dynam

[2016-03-08 00:16] pixelzoom commented on #11
Thanks for the pointers.

[2016-03-08 00:20] samreid commented on #11
If my combinatorics are correct this would result in 2^3=8 distinct shapes.

[2016-03-08 00:22] jonathanolson commented on #11
With 3 spyglasses, yes. May be preferable to create the 8 shapes on startup.

[2016-03-08 00:28] samreid commented on #11
Or 4 shapes, if using the "covering" approach.

[2016-03-08 22:21] pixelzoom commented on #11
Hmmm... I'll also need to cut holes in the function placeholders (dashed lines where you drop functions into the builder).  This "hole cutting" approach is getting too complicated.   I think I'll investigate a different approach, where the "spy glass" feature is its own layer (Node) with cards as children and clipAreas for the spy glass holes.

[2016-03-10 18:18] pixelzoom commented on #11
Closing.  Thanks to all who contributed ideas.

[2016-03-10 18:18] #11 closed

[2016-03-15 15:07] pixelzoom opened #12 "revise colors"
From 2/4/16 meeting notes in the design document:

![screenshot_20](https://cloud.githubusercontent.com/assets/3046552/13782544/3802e54e-ea8d-11e5-81cd-73480b4d9476.png)

[2016-03-15 15:09] pixelzoom commented on #12
Recommended to address this sometime after all 3 screens are somewhat fleshed out, so we can see the colors in context.

[2016-03-15 15:12] pixelzoom opened #13 "revisit artwork on functions and cards"
From 1/28/16 meeting notes in the design document:

![screenshot_22](https://cloud.githubusercontent.com/assets/3046552/13782738/fb05a48c-ea8d-11e5-9d73-ebb198d7ab57.png)

[2016-03-15 15:43] pixelzoom commented on #13
I don't think we want to change the background color of the cards; white is key to the clarity of the image functions.  So we'll probably need to fiddle with the background color of the carousels (and consequently their scroll button colors).

Here's a quick comparison between 2 extremes, using the "single" scene on the "Patterns" screen.

Current card carousels where both the cards and carousels

[2016-03-15 15:45] pixelzoom commented on #13
Going back to EM's original observations... The images were difficult to see on white cards, which may or may not be affected by the background of the carousels.  So we should also investigate increasing the contrast of the artwork.

[2016-03-15 15:46] pixelzoom commented on #13
I'd also be interested to know the context of these observations. How many students? Was their an impairment involved? etc.

[2016-03-15 15:55] ariel-phet commented on #13
@pixelzoom the observation was just EM sitting in the back of the room and viewing on the projector, no students involved

[2016-03-15 16:23] pixelzoom commented on #13
Note that if we make the images crisper, then we will undoubtedly notice degradations in image quality due to image processing and browser deficiencies. And the latter cannot be addressed by using mipmap in this sim, due to the image processing requirements.

[2016-03-17 16:44] pixelzoom commented on #13
3/17/16 status meeting:
@emily-phet also suggested to reduce the amount of detail in the images.

[2016-03-17 17:04] emily-phet commented on #13
After seeing more of the representations being included in this sim today in status, I think in addition to attending to contrast (e.g., darkening colors and/or adding outline stroke to reps like the snowflake) you might consider increasing the size of the representations on the cards (there's a lot of padding) and decreasing the level of detail. I looked around online for some iconic, very low de

[2016-03-17 18:22] pixelzoom opened #14 "revise Warhol function"
There is confusion about what the Warhol function does, and what the result should be when applying it multiple times. This has come up multiple times, most recently reported by @oliver-phet.

This implementation currently matches what was requested in the 9/9/15 design meeting. E.g.:

Applied once:

![screenshot_25](https://cloud.githubusercontent.com/assets/3046552/13856373/7d6f7666-ec3a-11e5-8b

[2016-03-17 18:24] pixelzoom commented on #14
@oliver-phet supplied this URL that demonstrates a Warhol effect:
http://convertimage.net/online-photo-effects/make-an-online-andy-warhol-pop-art-effect.asp?i=20150328-021235-bxdlm

Also note that the "soup can" icon here is a little bit inappropriate. Warhol's famous artwork involving soup cans looked nothing like this effect.  His series on Marilyn Monroe used the effect that is similar to what

[2016-03-17 18:36] oliver-phet commented on #14
Here is another editor that demonstrates the effect: http://www124.lunapic.com/editor/?action=warhol

Inputting this already "Warholed" image
![unnamed](https://cloud.githubusercontent.com/assets/5090275/13856865/e8c14866-ec3c-11e5-8ab0-a8eb68ef968f.png)

results in something like this:
<img width="621" alt="screen shot 2016-03-17 at 12 35 17 pm" src="https://cloud.githubusercontent.com/assets/509

[2016-03-17 18:47] pixelzoom opened #15 "InvalidStateError on startup"
Reported by @ariel-phet with 1.0.0-dev.13 on Win7 with FF 45.
Reproduced by @pixelzoom on Mac OS X 10.11.3 with FF 44.0.2.

To reproduce (sporadically, not consistently):

1. Clear your FF cache (Preferences -> Advanced -> Network -> “Clear Now” buttons (2)
2. Open the console (Tools -> Web Developer -> Toggle Tools)
3. Run the sim: http://www.colorado.edu/physics/phet/dev/html/function-builder/1.

[2016-03-17 19:26] phet-steele opened #16 "Automated Testing Errors"
fuzztesting build, on phettest:
[code]

[2016-03-17 19:34] phet-steele commented on #16
fuzztesting requirejs:
[code]

[2016-03-17 19:37] phet-steele commented on #16
fuzztesting requirejs, in Chrome:
[code]

[2016-03-17 19:38] phet-steele commented on #16
fuzztesting requirejs, in Chrome:
[code]

[2016-03-17 19:41] pixelzoom commented on #16
@phet-steele Are all of these tests with master?

[2016-03-17 19:44] phet-steele commented on #16
All but the first were tested on the version of master at 11:41 AM today, so any commits made since were not taken into account.

[2016-03-17 19:46] phet-steele commented on #16
Addendum, the first was actually the same time as the others.

[2016-03-17 19:55] pixelzoom commented on #16
The last 3 are all known issues, marked with TODO items in the source code. I've added this issue number next to those TODO items.

The first issue (https://github.com/phetsims/function-builder/issues/16#issue-141683887) is not something that I recognize, looks like it's internal to scenery. And the error message doesn't point me to a location in the sim source code.  @jonathanolson Can you provid

[2016-03-17 20:06] pixelzoom commented on #15
I suspect that this may be related to an image (or canvas?) not being ready for use.  Images on the cards are read using the image plug-in. In `ImageCard.withImage` the image is written to a canvas using `CanvasUtils.createCanvasWithImage`.  The canvas is display in using a scenery.Image, see `ImageCardNode.updateContent`. No image functions are applied at startup, so we can safely ignore the imag

[2016-03-17 21:54] pixelzoom commented on #16
Assertions 2 & 3 above come in pairs, so they are likely related.

[2016-03-17 21:54] pixelzoom commented on #16
In 1 hour of fuzzMouse testing, I have not been able to reproduce assertions 1 & 4.

[2016-03-17 22:00] phet-steele commented on #16
@pixelzoom I can't say anything about 1, but 4 I've seen twice (once in OSX Safari and once in Win 10 Chrome) taking only a couple of minutes each time. Guess I'm lucky?

[2016-03-17 22:04] pixelzoom commented on #16
While I haven't seen assertion 4, I believe I know what could cause it.  2 functions may both be competing for the same slot in the builder. The first function sees that the slot is empty, so start animating towards it.  Before the first function arrives and gets put in the slot, a second function notices that the slot is empty, and also starts animating towards it. When the second slot arrives, i

[2016-03-17 22:08] pixelzoom opened #17 "Cannot read property 'addRemoveCounter' of null"
Factored out of https://github.com/phetsims/function-builder/issues/16#issue-141683887, automated test error on 3/17/16 by @phet-steele

fuzztesting build, on phettest:

[code]

[2016-03-17 22:09] pixelzoom commented on #17
This error is not something that I recognize, looks like it's internal to scenery (addRemoveCounter is a property of scenery.Instance). And the error message doesn't point me to a location in the sim source code. @jonathanolson Can you provide any hints on where I might look to identify the source of this error?

[2016-03-17 22:11] pixelzoom opened #18 "assertion failures in CardNode.startDrag and endDrag"
Factored out of https://github.com/phetsims/function-builder/issues/16#issuecomment-198048645 and https://github.com/phetsims/function-builder/issues/16#issuecomment-198049175, automated testing (Chrome) report by @phet-steele on 3/17/16.

These 2 issues come in pairs and are likely related.

This error occurs in CardNode.startDrag, when we see that the node is in the animationLayer, where it shou

[2016-03-17 22:14] pixelzoom opened #19 "Assertion failed: slot <N> is occupied"
Factored out of https://github.com/phetsims/function-builder/issues/16#issuecomment-198049903, automated testing (Chrome) by @phet-steele on 3/17/16.

[code]

[2016-03-17 22:14] pixelzoom commented on #19
While I haven't seen this assertion failure, I believe I know what could cause it. 2 functions may both be competing for the same slot in the builder. The first function sees that the slot is empty, so start animating towards it. Before the first function arrives and gets put in the slot, a second function notices that the slot is empty, and also starts animating towards it. When the second slot a

[2016-03-17 22:17] pixelzoom commented on #16
@phet-steele I've reviewed these test results. Since there are 3 different problems here, I've created 3 separate issues (#17, #18, #19).

Closing.

[2016-03-17 22:17] #16 closed

[2016-03-17 22:20] pixelzoom commented on #18
Fixed. The problem was that the SeeInsideLayer is a CardNode's second parent (using scenery's DAG feature) and it needed to be set to `pickable:false`.  Ran fuzzMouse test 3x for 10 minutes each, didn't see these assertions.

Closing.

[2016-03-17 22:20] #18 closed

[2016-03-17 22:32] pixelzoom commented on #19
A better approach might be to handle this in the animationCompleted callback. Currently, if a slot is occupied, the occupier is moved out of the slot before the animation to the slot begins. Clearing out the occupier in the animationCompleted callback would resolve this issue. If 2 functions were both animating towards a slot, the last one to reach the slot would bump the first one out of the slot

[2016-03-17 22:39] pixelzoom commented on #13
There's a little terminology issue that seems to be causing some confusion here. "Cards" are the things in the left and right vertical carousels.  "Functions" are the things in the bottom-center horizontal carousel.  To address @emily-phet's concerns, it sounds like we need to revisit the artwork for both cards and functions.  I've change the title of this issue to reflect that.

[2016-03-17 22:39] pixelzoom commented on #13
Since @amanda-phet is on leave, assigning to @ariel-phet to decide how to get going on this.

[2016-03-18 02:21] jonathanolson commented on #15
For what it's worth, I just can't seem to reproduce this on a freshly-built version from master, even though I can reliably reproduce with the given link. I'll need to reproduce (ideally on a build without uglification) to speed up tracking this down.

This leads me to suspect it's actually a problem when it is drawn BACK to a Canvas. I checked phet.joist.display.popupDebug(), and 1.1.0-dev.13 fro

[2016-03-18 02:36] pixelzoom commented on #15
If the 1+ frame delay results in a "noticeable" absence of the image, then likely not acceptable. And of course "noticeable" will likely vary from sim to sim.

I unfortunately don't have any suggestions for a better workaround. I don't have much understanding of scenery internals, which seems to be required in this case.

Also no idea what you can't reproduce this on a freshly-built version from m

[2016-03-18 03:04] pixelzoom commented on #19
Approach described in https://github.com/phetsims/function-builder/issues/19#issuecomment-198109952 has been implemented.  This approach also has the advantage of support N functions in play (multi-touch). The last function to reach a slot simply replaces whatever function is in the slot, and will swap slots with adjacent functions if possible.

Ran fuzzMouse test for 10 minutes and didn't see any

[2016-03-18 03:04] #19 closed

[2016-03-18 16:52] ariel-phet commented on #15
@jonathanolson I would agree considering the centrality of function builder to the math grant, this would be go to investigate sooner than later. Marking as high priority.

[2016-03-18 20:37] jonathanolson commented on #17
This looks like an internal error that would be caught by an assertion beforehand, and most likely only occurs due to an assertion/error interrupting a previous animation frame (likely some Scenery code didn't get executed due to the error occurring before it would be run, putting Scenery in an illegal state).

Since it looks like the other assertions/issues have been fixed, I'll try fuzzing the r

[2016-03-18 20:47] jonathanolson commented on #17
~10 mins of fuzzing for both require/build versions, with about 7 restarts each didn't result in anything. Closing.

[2016-03-18 20:47] #17 closed

[2016-03-18 21:36] jonathanolson commented on #15
This was actually caused by screen constructors being called before the images were loaded (i.e. before the SimLauncher.launch callback was called). Applied fix in master as noted above (as it's probably generally the correct thing to do), even though I haven't been able to reproduce in master.

With caches cleared, the starImage used for the pattern screen would have width/height 0, and trying to

[2016-03-18 22:45] pixelzoom commented on #15
Thanks @jonathanolson.

Searching for "var screens =", I see 16 other sims that are creating screens before `SimLauncher.launch` is called. (Possibly more, if they are using a different var name.) Do you recommend that we change those sims?

[2016-03-18 22:46] pixelzoom commented on #15
Tagged for developer meeting to make other devs aware of this general issue, and decide what to do about other sims that are creating screens before calling `SimLauncher.launch`.

[2016-03-18 22:48] ariel-phet opened #20 "Meeting with Amanda 3/18/2016 notes"
- Amanda approves of "mole under carpet" look (this transparency effect works nicely)
- Also likes the dragging solution for cards following an invisible line
- "See Inside" the cut-out works well, no "window" needed, but might be good to have the interior look the interior of the tube instead of just black. Worth trying, but black might look best, look like inside the most. Perhaps try the look g

[2016-03-18 23:03] ariel-phet commented on #14
@pixelzoom you and I should talk next week (perhaps just on skype) and flesh out, I think I know how I want this to work, so lets come up with a solution that makes sense to both you and the potential user.

[2016-03-18 23:07] pixelzoom commented on #15
For all of the sims that I'm responsible for, I moved instantiation of screens into the callback provide to SimLauncher.launch. The general pattern is:

[code]

Remaining sims that should consider doing this (identified by searching for `var screens =`, so there may be others):

capacitor-lab-basics @jessegreenberg
chains @samreid
fraction-comparison ??
rutherford-scattering @phetsims/schmitzware

[2016-03-18 23:41] jessegreenberg commented on #15
Sounds good, did this for capacitor-lab-basics.  Also looked through other sims that I have worked on to verify that screens are instantiated inside of SimLauncher.launch.

[2016-03-19 02:10] ariel-phet commented on #13
Deferring until after we have more functionality in the sim

[2016-03-19 15:37] pixelzoom commented on #17
Thanks @jonathanolson.

[2016-03-20 02:46] samreid commented on #15
I manually looked at all 80 occurrences of `new Sim` and identified the cases that were not instantiating screens in the launch callback, fixed the 7 occurrences I found (including but not limited to the ones @pixelzoom pointed out above), tested each in requirejs mode and committed.  @pixelzoom want to review anything?

[2016-03-20 03:11] pixelzoom commented on #15
I feel no need to review. Closing.

[2016-03-20 03:11] #15 closed

[2016-03-23 01:33] pixelzoom opened #21 "Numbers screen has no non-invertible functions"
While implementing the Numbers screen, I noticed that there are no non-invertible functions specified in the design document for this screen.  It seems odd to introduce the concept of non-invertibility in the Patterns screen with images, then not reinforce it in the Number screen with numbers, then bring it back in the Equations screen (where it will be mixed in with more difficult material).

Con

[2016-03-23 01:47] ariel-phet commented on #21
@pixelzoom which of the proposed functions would you propose replacing... and would you propose having it be a "mystery" function or an explicit function (like +3)

[2016-03-23 02:03] pixelzoom commented on #21
I think an explicit function might be best, so we're not combining "guess the function" with non-invertible functions.

I don't know which of the functions would be best to replace.  But it seems like there are a disproportionate number of "mystery" functions (6 of 9).   And as I'm playing with the sim, they seem difficult to guess - might be good to vet these mystery functions to make sure they a

[2016-03-23 02:04] pixelzoom commented on #21
Also consider the possibility of adding an addition 3 functions (including 'x 0').  The Patterns screen has 12 functions, the Numbers screen currently has 9.

[2016-03-23 02:05] pixelzoom commented on #21
Rather than replacing a function, consider the possibility of adding an additional 3 functions (including 'x 0').  The Patterns screen has 12 functions, the Numbers screen currently has 9.  Adding additional functions might also help to address the disproportionate number of "mystery" functions.

[2016-03-23 02:15] ariel-phet commented on #21
@amanda-phet mentioning you in case you have time to weigh in.

[2016-03-23 02:38] pixelzoom commented on #21
Here's a dev version that included basic work on the Numbers screen. This should give you a feel for the current set of functions and inputs.

http://www.colorado.edu/physics/phet/dev/html/function-builder/1.0.0-dev.14/function-builder_en.html

[2016-03-23 03:41] pixelzoom opened #22 "Equations screen: range of input cards results in empty position in carousel"
For the Equations screen, the design document indicates that the input carousel contains cards in the range [-4,6] and shows 4 items per page:

![screenshot_31](https://cloud.githubusercontent.com/assets/3046552/13974953/3de7a578-f076-11e5-817a-5ffe0375197f.png)

With those requirements, both the input and output carousels will have an empty position at the upper end of the range:

![screenshot_32

[2016-03-23 03:45] pixelzoom commented on #14
In https://github.com/phetsims/function-builder/issues/20 (Meeting with Amanda 3/18/2016 notes), @ariel-phet said:

[2016-03-23 03:49] pixelzoom commented on #20
Re:

I've moved this comment to the relevant issue (#14).

Re:

I tried the interior color shown in the mockup, it didn't look good.  After experimenting with several other options, black looked best.  If you want to see any of these options, please create an issue and specify what colors you'd like, and I'll create a dev version for each color.

All other notes in https://github.com/phetsims/func

[2016-03-23 05:34] ariel-phet commented on #20
@pixelzoom I think black works fine for now and the near future, we can always revisit later (seems like an easy change comparatively). Closing

[2016-03-23 05:34] #20 closed

[2016-03-23 06:15] ariel-phet commented on #22
@pixelzoom I don't disagree it has potential to be a tad confusing, but at the same time, especially with the drag interaction you have programmed, there is no possibility to fill that empty slot through dragging cards or such correct?

There does not seem to be a good alternative. Shrinking the carousel to only three slots in that case seems like it would be confusing as well (and from my underst

[2016-03-23 17:28] pixelzoom commented on #22
Changing the number of items per pages for a carousel is actually trivial, just set `options.itemsPerPage:3`. But I don't recommend it in this case -- I think it's important to have the same `itemsPerPage` on all screens.

[2016-03-23 17:28] pixelzoom commented on #22
... so let's roll with it as is for now, and revisit when the sim is more fleshed out.

[2016-03-29 17:41] phet-steele opened #23 "Automated Testing Sim Errors (3/29/2016 10:00 AM)"
[code]

[2016-03-29 17:41] phet-steele commented on #23
[code]

[2016-03-31 17:25] pixelzoom commented on #23
Thanks. Introduced in https://github.com/phetsims/function-builder/commit/7f32b2cbc97cecdd9926a6937103078ec73e3388 (make cards stop at 'see inside' windows when animating).

[2016-03-31 17:30] pixelzoom commented on #23
Note to self: This is probably because I removed `pickable:false` from SeeInsideLayer, in order to make cards draggable when they are stopped at windows.

[2016-03-31 17:48] pixelzoom commented on #23
One-line fix in above commit. Ran with fuzzMouse for 10 minutes, no assertion failures. Closing.

[2016-03-31 17:48] #23 closed

[2016-03-31 17:50] pixelzoom opened #24 "Cannot read property 'startNotInvertibleAnimation' of null"
Saw this error while running with `?fuzzMouse`:

![screenshot_33](https://cloud.githubusercontent.com/assets/3046552/14185344/9ec62272-f736-11e5-94df-97e967d324e2.png)

Master HEAD 69e3a040580349bcd0b8fbb7b0fd44a5fd9a5698.

[2016-03-31 17:51] pixelzoom commented on #24
Here's the snippet of related code in CardNode:

[code]

[2016-03-31 17:54] pixelzoom commented on #24
The error is occurring in the callback to `card.animateTo`. What's likely happening is that `blockedSlotNumber` has changed by the time the callback is invoked.

This may be a general problem with such callbacks. Perhaps an IIFE should be used to create a closure, so that these callbacks are immune from such state changes.

[2016-03-31 17:59] pixelzoom commented on #24
The above is probably not the correct diagnosis.  What's more likely to be happening is that the non-invertible (blocking) function that was in the slot was removed from the slot before the animation callback occurred.

[2016-03-31 18:06] pixelzoom opened #25 "Cannot grab card in "see inside" window when there's a function in the slot"
... because function dragLayer is in front of card dragLayer.

This issue appeared when I fixed https://github.com/phetsims/function-builder/issues/23.

[2016-03-31 18:07] pixelzoom commented on #23
Note that fixing this caused #25 to appear.

[2016-03-31 18:14] pixelzoom commented on #24
This is a natty problem. When animating to the left, we're currently testing for blocking (not invertible) functions before the animation starts.  But the functions may change while the animation is occurring, so by the time the card gets to a slot, it may contain a different function, or it may be empty. We really need to animate to one function at a time, and determine whether that function is b

[2016-04-05 17:36] pixelzoom commented on #25
The best way to address this is to make SeeInsideLayer pickable, and allow cards and functions to be grabbed while they're animating.   This should be tested with slow animation speeds.

[2016-04-05 18:05] pixelzoom commented on #25
Done.  There is no longer a separate "animation layer", and cards in SeeInsideLayer are pickable.  Cards and functions can be grabbed while they are animating.  Query parameter `?slow` can be used to slow animation to 25% of normal., useful for being able to grab things while animating.

No assertion failures noted with `?fuzzMouse`.

Closing.

[2016-04-05 18:05] #25 closed

[2016-04-05 23:00] ariel-phet commented on #21
Discussed over skype 4/5/2016, @pixelzoom will add another page to the carousel.

[2016-04-05 23:09] pixelzoom commented on #21
In addition to 'x 0', I'll add 2 other concrete (non-mystery) functions.  Note that functions can be easily changed later, as long as we stick to plus/minus/times/divide operators.

[2016-04-06 00:12] pixelzoom commented on #21
I added 2 pages, for a total of 5 pages.

The first 3 pages contain 2 concrete example and 1 mystery for each operator, and includes the non-invertible 'x 0':

![screenshot_34](https://cloud.githubusercontent.com/assets/3046552/14302017/aea6c9ae-fb59-11e5-89ca-49fbe87c2960.png)
![screenshot_35](https://cloud.githubusercontent.com/assets/3046552/14302019/b200ae62-fb59-11e5-9dfd-f3360e6d7d55.png)
![

[2016-04-06 00:19] pixelzoom commented on #21
Demonstrated in this dev version:
http://www.colorado.edu/physics/phet/dev/html/function-builder/1.0.0-dev.17/function-builder_en.html

Back to @ariel-phet.  Feel free to close after reviewing, and we can refine the functions later.

[2016-04-06 00:20] pixelzoom commented on #14
Discussed with @ariel-phet today via Skype, I'll try the different approach based on remapping colors.

[2016-04-06 01:04] ariel-phet commented on #21
Looks good, closing

[2016-04-06 01:04] #21 closed

[2016-04-07 21:38] pixelzoom commented on #14
Revised the Warhol function using the approach described at http://chennanni.com/archives/1111.  The basics steps are:

1. Scale the image by 50%.
2. Convert the image to grayscale.
3. Use intensity of pixels in the grayscale image to map pixels to colors.
4. Draw the mapped image into 1 of the 4 quadrants.
5. Repeat steps 3 & 4 for each quadrant, using a different color mapping.

[2016-04-09 02:31] samreid opened #26 "Simplify equations"
One of the requested features for one of the math screens is the ability to simplify equations.  I saw this 3rd party library today which has the capability to do symbolic equation simplification in JS.  It is likely to be too heavy-handed a solution for this problem, like using a sledgehammer to squash an ant, but thought I'd point it out in case it is useful:
https://github.com/davidedc/Algebrit

[2016-04-11 17:54] pixelzoom commented on #26
Thanks, I'll have a look when I get around to implementing that feature.

[2016-04-11 18:13] pixelzoom commented on #14
Did a lot of work on this, which can be seen in http://www.colorado.edu/physics/phet/dev/html/function-builder/1.0.0-dev.18/function-builder_en.html

Here's what the first few cards look like for single and double Warhol:

![warhol](https://cloud.githubusercontent.com/assets/3046552/14437065/cd9c1882-ffdc-11e5-8af0-6bc64298fcbf.png)

Some notes:

(1) Warhol tends to look better/interesting in imag

[2016-04-11 18:14] pixelzoom commented on #14
Assigning to @ariel-phet, let me know if/when you want further work on this.

[2016-04-11 19:11] ariel-phet commented on #14
@pixelzoom no further work. I think this work fulfills the "vision" of the Warhol function. I am guessing if we do further work it will mainly involve:

a) revising the images a bit so that they all have consistent bounds
b) tweaking the color maps a bit (but from the code you showed me, that was a minor change as mentioned above)

Unassigning the issue for now, but leaving open

[2016-04-12 22:44] pixelzoom commented on #24
Fixed in above commit. Closing.

[2016-04-12 22:44] #24 closed

[2016-04-18 21:42] pixelzoom opened #27 "function icons contain English text"
Some of the icons provided for the "mystery" functions currently contain English text ('A', 'B', 'C').

Patterns screen:

![screenshot_10](https://cloud.githubusercontent.com/assets/3046552/14620721/90cc572e-057b-11e6-8096-d522d1cf5569.png)

Equations screen:

![screenshot_09](https://cloud.githubusercontent.com/assets/3046552/14620701/729be1ca-057b-11e6-96c7-04b419ce5e88.png)

Options:

(1) Make

[2016-04-18 22:15] pixelzoom commented on #22
It turns out that this is not an issue.  The range is [-4,6], followed by 'x'.  So there are in fact no empty positions in the carousel.

Closing.

[2016-04-18 22:15] #22 closed

[2016-04-19 01:03] ariel-phet commented on #27
@pixelzoom my instinct would be to make the text translatable. Normally I would be in favor of an icon, but this is supposed to be scaffolding up to thinking about functions in an algebraic sense where variables are used to represent them ( like "f(x)" for instance )

Assigning to @amanda-phet to see if she has any thoughts.

[2016-04-20 19:20] pixelzoom commented on #14
Unlike other image processing functions in this sim, Warhol changes the transparent pixels in an image to opaque white (as requested by @ariel-phet).  Here's one scenario where that could be confusing, see screenshot below.  If there image was erased, then what is Warhol operating on? And why does each Warhol output have the same dimensions as original image?

In the current implementation, when a

[2016-04-20 19:53] pixelzoom commented on #14
I changed the Warhol function to first examine the input canvas. If the input is blank (all transparent pixels) then the Identity function is applied instead of the Warhol function.  Here's what it looks like in the scenario that was shown in the previous comment.  Better?

![screenshot_14](https://cloud.githubusercontent.com/assets/3046552/14688320/4593fb6a-06ff-11e6-844f-b4ad1b89776f.png)

[2016-04-20 19:57] pixelzoom commented on #14
Changes for the above scenario:
https://github.com/phetsims/function-builder/commit/02f7447fe0a5f051e98f227793663db1597269cc
https://github.com/phetsims/function-builder/commit/45e49d66341370ae48acbb69fbce9eec62efc819

[2016-04-20 23:57] ariel-phet commented on #14
@pixelzoom yes, I think that is better.

[2016-05-09 15:52] pixelzoom commented on #26
Algerije is not going to be useful for this sim.  "Unsimplified" form is going to be very PhET specific, and "simplified" form is going to be slope-intercept form.  See specification and examples in https://github.com/phetsims/function-builder/blob/master/doc/equation-formats.md.

[2016-05-09 15:52] #26 closed

[2016-05-11 16:13] pixelzoom opened #28 "[iOS] x & y don't render on mobile Safari"
Noted in 1.0.0-dev.26 and master.
See https://github.com/phetsims/scenery/issues/545, where this general issue is being tracked.

[2016-05-11 16:16] pixelzoom commented on #27
This was completed awhile ago. Closing.

[2016-05-11 16:16] #27 closed

[2016-05-11 16:17] pixelzoom commented on #14
Everyone seems to be satisfied with the current behavior. Closing.

[2016-05-11 16:17] #14 closed

[2016-05-11 16:32] pixelzoom opened #29 "[iOS] function pickers are not working"
Reported by @kathy-phet via email:

The "pickers" referred to are instances of scenery-phet.NumberPicker.

The version that @kathy-phet is testing is presumably 1.0.0-dev.26. I received no info on her iPad model, iOS version or browser version.

I reproduced the problem on iPad2 with iO 9.3.1 and mobile Safari.

Steps to reproduce:
1. Start 1.0.0-dev.26: http://www.colorado.edu/physics/phet/dev/ht

[2016-05-11 16:34] phet-steele opened #30 "[Edge] The "Artifact" Problem"
@pixelzoom Edge only problem seen during phetsims/tasks/issues/589.

So this sim doesn't like Edge very much. There are consistent, what I will call, "artifacts" left behind after an object translation. There is not an explicit way of reproducing this, it all just sort of happens (with maybe an 80% occurrence rate). **Ignore the poor performance in each video!** Strap in:

1. An artifact is left b

[2016-05-11 16:45] phet-steele opened #31 "[Edge] Card ghosting"
@pixelzoom Edge only problem seen during phetsims/tasks/issues/589.

The cards in the input carousel are in their apparent ghost state (the state normally seen after two cards of a single kind have been used) immediately upon sim load. It does not matter if both cards have been used or not at this point, they will always look grayed.

Edge:
![edgein](https://cloud.githubusercontent.com/assets/5863

[2016-05-11 16:46] pixelzoom commented on #30
To clarify what @phet-steele is calling an "artifact"... It's a lot more than an artifact - the entire function or card continues to be drawn where it previously was.

When a function moves between the carousel, to dragging, to the builder, it is reparented.  Similarly, a card is reparented when it moves between carousels and being dragged.  What appears to be happing is that, when reparented, a f

[2016-05-11 16:49] pixelzoom commented on #31
No idea how to address this, likely a problem with Edge support in scenery.  This would be a showstopper for publication.

Assigning to @ariel-phet to prioritize and assign.

[2016-05-11 16:49] phet-steele opened #32 "[Edge] Input carousel doesn't clip to current page of items"
@pixelzoom Edge only problem seen during phetsims/tasks/issues/589, and give this a better title :smile:.

The next "set" of cards are seen prematurely in the input carousel. This occurs immediately upon sim load and happens in each screen. The cards are not interactable and do not prevent the use of the checkbox options. This does not occur in the output carousel.
![edgecards](https://cloud.githu

[2016-05-11 16:49] pixelzoom commented on #30
No idea how to address this, likely a problem with Edge support in scenery. This would be a showstopper for publication.

Assigning to @ariel-phet to prioritize and assign.

[2016-05-11 16:51] pixelzoom commented on #30
In https://github.com/phetsims/function-builder/issues/30#issuecomment-218518690, I said:

But based on https://github.com/phetsims/function-builder/issues/31, it's possible that an entire card is still in the carousel, and that it's opacity is messed up.

[2016-05-11 17:00] phet-steele commented on #32
Scrolling through the carousel shows previous cards above as well. Numbers screen on startup also shows previous cards:

![edgecardsnum](https://cloud.githubusercontent.com/assets/5863899/15189378/9a14b4b8-1767-11e6-85e4-3e5544fdefa8.PNG)

[2016-05-11 17:02] pixelzoom commented on #32
A carousel clips the set of items that it contains, so that the current "page" of items is shown. In the first screenshot above (Patterns carousel), you're seeing the next page of items below the carousel. In the second screenshot above you're seeing both the next page (below the carousel) and previous page (above the carousel).  So there is a serious clipping issue here.  Since this sim relies he

[2016-05-11 17:02] pixelzoom commented on #32
Btw... sun.Carousel is a common UI component, so I suspect that this affects any sim that uses a Carousel.

[2016-05-11 17:06] phet-steele commented on #32
Area Builder and even the Sun Demo sim do not have this issue.

[2016-05-11 17:10] pixelzoom commented on #32
Mentioning @jonathanolson, since he will undoubtedly be involved in addressing this.

[2016-05-11 17:11] pixelzoom commented on #31
Mentioning @jonathanolson, since he will undoubtedly be involved in addressing this.

[2016-05-11 17:31] pixelzoom commented on #30
Mentioning @jonathanolson, since he will undoubtedly be involved in addressing this.

[2016-05-11 17:32] pixelzoom commented on #29
This is a showstopper.
Assigning to @ariel-phet to prioritize and assign.
Mentioning @jonathanolson, since he will undoubtedly be involved in addressing this.

[2016-05-11 17:36] pixelzoom commented on #13
The Patterns screen is now fully functional, and we're 7 weeks out from RC testing.  Recommend to assign this to someone to address, interview on revised icons, and iterate.

[2016-05-11 17:41] pixelzoom commented on #12
Generalizing this to "revise colors", since we'll undoubtedly need to tweak not only builder colors, but colors for functions, backgrounds, etc.

[2016-05-11 17:57] pixelzoom opened #33 "[iOS] edges of "drawers" are clipped"
Drawers open and close by using a clipArea.  On iOS, it looks like the edges of the drawers are being clipped.

Example on iOS 9.3.1 with mobile Safari, notice how the left edge of the "graph" drawer is missing:

![img_0079](https://cloud.githubusercontent.com/assets/3046552/15190860/53c613c8-176f-11e6-9162-873b43621dee.PNG)

Here's a desktop Chrome screenshot, showing what it's supposed to look l

[2016-05-11 18:07] phet-steele opened #34 "star.png off center when rotated"
The image for star.png could use a redraw or resize. It does not look as expected when rotated 90 degrees (looks off center) maybe due to the image not being perfectly square or the top point being a different size:

![fbstar](https://cloud.githubusercontent.com/assets/5863899/15191169/aa50f2de-1770-11e6-88ae-0982851eb422.PNG)

@pixelzoom please do as you see fit with this info. For phetsims/tasks

[2016-05-11 18:12] pixelzoom commented on #34
This artwork must be revised. The star is not symmetrical, perhaps it was "eyeballed" when drawn. And the image file is not square; star.png has dimensions 123x120. If the star is to rotate about its center, then the image size must be square, and the center of the star must be in the center of the image file.

Assigning to @ariel-phet to prioritize and assign.

[2016-05-11 18:14] pixelzoom commented on #34
The asset file for the icons is in GitHub at https://github.com/phetsims/function-builder/blob/master/assets/function-and-card-icons.ai.  Please use this file as a starting point for revising the star, and send me the revised .ai file.

[2016-05-11 18:15] pixelzoom commented on #13
The asset file for the function and card icons is in GitHub at https://github.com/phetsims/function-builder/blob/master/assets/function-and-card-icons.ai. Please use this file as a starting point for revising the icons, and send me the revised .ai file.

[2016-05-11 18:24] phet-steele opened #35 "[iOS] white path trailing card drag"
@pixelzoom, I believe I've narrowed this issue down to model and iOS. I've tested on our 5 iPads and decided this is an issue only on Witten and Tycho (iPad **2**, iOS **9.3.1**).

From sim start up, dragging a card through the function machine has a chance to leave a white path behind, around the edges of the function machine. This is regardless of screen, card, direction, and function presence.

[2016-05-11 18:24] pixelzoom commented on #33
Here's the relevant code in function-builder.Drawer:

[code]

So two possibilities:

(1) `drawNode.width` is inaccurate, not taking lineWidth into account.
(2) clipArea feature is inaccurate on iOS.

If `drawNode.width` is inaccurate, then it should be possible to workaround by increasing the width of the clipArea, like this:

```options.clipArea = Shape.rect( -10, 0, drawerNode.width + 20, drawer

[2016-05-11 18:28] pixelzoom commented on #13
Looks like it could be related to clipArea, undoubtedly a scenery issue, but no idea how to address this.

Assigning to @ariel-phet to prioritize and assign.

Mentioning @jonathanolson since he will undoubtedly be involved.

[2016-05-11 18:28] pixelzoom commented on #35
Looks like it could be related to clipArea, undoubtedly a scenery issue, but no idea how to address this. This is a showstopper.

Assigning to @ariel-phet to prioritize and assign.

Mentioning @jonathanolson since he will undoubtedly be involved.

[2016-05-11 18:39] pixelzoom commented on #35
I reproduced this on my iPad2 with iOS 9.3.1 and mobile Safari. It occurs only if you drag slowly, and the output carousel is empty. As soon as there's a card in the output carousel, the problem mysteriously disappears.

[2016-05-11 18:51] pixelzoom commented on #35
This problem appears to be specific to iOS 9.3.1 on iPad2. Newer models (iPad3) with iOS 9.3.1 did not exhibit the problem. Other iPad2s running iOS 8.4.1 did not exhibit the problem.

[5/11/16, 12:42:24 PM] Chris Malley: And idea why this is an issue "only on Witten and Tycho"?  Are the other iPads on some older iOS version?
[5/11/16, 12:43:20 PM] Steele Dalton: yes
[5/11/16, 12:43:35 PM] Steele

[2016-05-11 18:52] ariel-phet commented on #32
@pixelzoom since area builder and Sun Demo do not have this issue can you investigate if there are any differences in the function builder implementation?

[2016-05-11 19:11] pixelzoom commented on #32
I do not have an Edge test platform, so I cannot confirm whether this is an issue with other sims that use Carousel.  That said...

I don't believe that this issue is with how function-builder is using Carousel. It is not customizing Carousel, or doing anything unusual with it.  I suspect that this issue (as well as #33 and #35) are caused by function-builder's heavy reliance on multiple clipAreas

[2016-05-11 19:19] phet-steele opened #36 "[iOS] performance while updating outputs"
@pixelzoom iPad performance issue for phetsims/tasks/issues/589. Testing on Tycho (iPad 2 iOS 9.3.1).

The iPad 2 momentarily struggles when updating outputs in the output carousel. To see what I mean:

1. Select the multi-slot function machine on the Patterns screen.
2. Populate the outputs fully, use `?populateOutputs` if you so desire.
3. Put some functions into the function machine so the sim

[2016-05-11 19:33] pixelzoom opened #37 "reduce startup time"
With master @791533fe7965fb124939f03247911fdf027be1bf in requirejs mode ...

On Mac OS X 10.11.4 + Safari, startup is ~6 seconds.
On iPad2 + iOS 9.3.1, startup is ~15 seconds.
And that will only get worse when the Mystery screen is fleshed out.

[2016-05-11 19:34] pixelzoom commented on #37
Assigning to @ariel-phet to specify what acceptable startup time (ballpark, desktop and mobile) is for this sim.

[2016-05-11 19:44] pixelzoom commented on #36
Presumably this is only an issue in the Patterns screen, since the math-related functions are trivial compared to image processing.

The most expensive imaging processing configuration is MysteryC + Warhol + Warhol. I'm testing on my iPad2 with iOS 9.3.1.

Test1: With MysteryC + Warhol + Warhol and 1 instance of each card, there is a slight pause when adding/removing one of the functions from the

[2016-05-11 19:47] phet-steele commented on #36
@pixelzoom yes, correct. Forgot I was planning on mentioning that in the original post.

[2016-05-11 19:48] ariel-phet commented on #37
@pixelzoom it seems most of our larger sims (ESPB, FAMB, Graphing Lines) are loading up in 7-8 seconds on iPad2 + iOS 9.3.1

I would say under 10 seconds would be ideal for the built sim. But a longer load up time will no necessarily be a show stopper.

[2016-05-11 19:50] pixelzoom commented on #36
Options for addressing image-processing performance, not necessarily mutually exclusive:

(1) One instance of each card instead of 2, as mentioned above.
(2) Drop the Warhol function (would be a shame, since so much work has gone into it)
(3) Look at other ways to implement Warhol that might be more performant (will further increase the cost of Warhol)
(4) Replace MysteryC with a less expensive fu

[2016-05-11 19:51] ariel-phet commented on #32
@pixelzoom thanks for the clarification

Assigning to @jonathanolson since likely related to clipAreas in Edge

[2016-05-11 20:13] ariel-phet commented on #36
Discussed with @pixelzoom over skype. Agreed on Test 1, minimal impact on user experience.

For Test 2, agreed, that performance is clearly affecting user experience, but some caveats:
- requires all inputs to be used for most severe effect
- for instance if the first 4 pairs of inputs are used, not so bad, gets linearly worse as more inputs are used
- so fairly rare use case

For the moment, will

[2016-05-11 20:20] ariel-phet opened #38 "Consider single input for patterns screen (instead of duplicates)"
It seems we should consider using just a single input for the patterns screen

Reasons to go to just a single input:
- will have a noticeable impact on performance (for instance https://github.com/phetsims/function-builder/issues/36)
- more consistent with other screens that do not have duplicate inputs

It seems the main reason for having duplicates was to show that a function always has the same

[2016-05-11 20:32] phet-steele opened #39 "Cards can still be inverted through non-invertible functions"
@pixelzoom this is for phetsims/tasks/issues/589. Noticed on all Win 10 browsers and iPad 2 iOS 9.3.1 (Tycho).

A user can pass cards backwards through a non-invertible function by dragging the card backwards and releasing *just* before the red circle cue appears. Edit: not necessarily, read first comment.

In the case of this issue I mean what I say explicitly. The user must be **controlling** a

[2016-05-11 20:45] phet-steele commented on #39
@pixelzoom actually, there is a significant grace area of when the function may be released, this is as far out as I can go where the issue still happens:

![invert](https://cloud.githubusercontent.com/assets/5863899/15195820/cb946564-1786-11e6-852a-521ea872e776.png)

If viewed in a situation where you can see inside the function machine, the above distance is just slightly to the left of the left

[2016-05-11 20:48] pixelzoom commented on #39
Reproduced. Undoubtedly a problem in CardNode, where dragging is handled. Start looking in `options.endDrag`, in the `else` clause that spans lines 182-202.

[2016-05-11 21:15] pixelzoom commented on #39
Ah... More likely in CardNode `options.translateMovable`, in the `if` statement at line 128 that begins:

[code]

[2016-05-11 21:34] pixelzoom commented on #39
Related commit, to structure translateMovable similarly to endDrag: @0382612362791532964dc21d30561b8b1c3663e6

[2016-05-11 22:27] pixelzoom commented on #39
Fixed in above commits. Labeled as 'fixed-pending-testing', will verify in a future dev version. Stay tuned...

[2016-05-11 22:30] phet-steele opened #40 "stranded functions and cards"
@pixelzoom this is for phetsims/tasks#589. Noticed on all Win 10 browsers and iPad 2 iOS 9.3.1 (Tycho).

Doesn't matter the state of the sim when you do this @pixelzoom...just do the steps:
1. Put a function into the machine.
2. Begin to drag another function on top of a function already in the machine. Hover over the function and prepare your finger.
3. Quickly after releasing the dragged functio

[2016-05-11 22:41] pixelzoom commented on #40
Since the functions are in front of the 'see inside' windows, they are not actually in the builder, they are more likely stranded in the drag layer.  I asked @phet-steele to run master in requirejs mode with assertions enabled, and he reported no console output.

[2016-05-11 22:42] pixelzoom commented on #40
These "stranded" functions can be dragged back to the carousel, and they don't affect the output result.

[2016-05-11 23:17] pixelzoom commented on #39
@phet-steele please verify in this dev version:

http://www.colorado.edu/physics/phet/dev/html/function-builder/1.0.0-dev.27/function-builder_en.html

[2016-05-12 15:28] phet-steele commented on #39
@pixelzoom verified!

[2016-05-12 18:46] pixelzoom commented on #32
At 5/12/16 dev meeting, @ariel-phet said that iOS issues are higher priority than Edge issues, so lowering the priority of this from "top" to "high".

[2016-05-12 18:47] pixelzoom commented on #31
At 5/12/16 dev meeting, @ariel-phet said that iOS issues are higher priority than Edge issues, so lowering the priority of this from "top" to "high".

[2016-05-12 18:49] pixelzoom commented on #30
At 5/12/16 dev meeting, @ariel-phet said that iOS issues are higher priority than Edge issues, so lowering the priority of this from "top" to "high".

[2016-05-12 18:52] pixelzoom commented on #38
Or in the terminology of the sim... Should we have 1 instance of each card instead of 2 instances?

[2016-05-13 17:35] ariel-phet commented on #34
@amyh-phet this should be a quick fix

[2016-05-14 01:15] ariel-phet commented on #13
Discussed with @amyh-phet today and worked on some changes. It seems like a few relatively minor tweaks could address the problem spots

[2016-05-14 05:33] amanda-phet commented on #38
I believe two instances of each input are necessary. While it's true that someone could indirectly figure out that a function is consistent with only one, we want to be very explicit here in order to achieve the learning goal.

Get Outlook for Android<https://aka.ms/ghei36>

On Thu, May 12, 2016 at 11:52 AM -0700, "Chris Malley" <notifications@github.com<mailto:notifications@github.com>> wrote:

O

[2016-05-14 19:46] ariel-phet commented on #28
Fortunately, we do have a fall back solution of using the times new roman text instead of unicode, so certainly not a "show stopper"

[2016-05-14 19:54] ariel-phet commented on #35
Took a look at this bug.

This is important. It should be addressed, it should be top priority, but I am not going to go so far as to call it a "showstopper"

[2016-05-16 16:24] phet-steele commented on #39
@pixelzoom, the above procedure is verified as fixed. However, in 1.0.0-dev.28 cards can still be dragged through non-invertible functions by new means. This can be done if a user drags their input/output ALL the way to the input carousel. Pinging @amyh-phet so she is aware during interviews.

![funbu08](https://cloud.githubusercontent.com/assets/5863899/15295929/427d7b94-1b50-11e6-95c5-ec3034ff91

[2016-05-17 03:24] pixelzoom commented on #28
Yes, that workaround is mentioned in phetsims/scenery#545:

[2016-05-17 03:31] pixelzoom commented on #39
Cool, thanks for catching. And this will be an easy fix.

[2016-05-17 16:43] pixelzoom commented on #35
Perhaps you have a different definition of "showstopper".  Would you release the sim with this issue and consider it usable on iOS?  Imo, it involves such a fundamental user interact and is so distracting that it gets in the way of using the sim.

[2016-05-17 16:50] pixelzoom commented on #13
Email from @amyh-phet on 5/16/16:

Card icons:
-footprints
-snowflake
-rectangle
-star

Function icons:
-rotate 90
-rotate 180

I've also included a png file for the star.  Not sure if it is helpful - artboard was set to 123 x 123 so the star should be centered and rotate properly.

[2016-05-17 16:51] pixelzoom commented on #13
Assigning to me to integrate the revised artwork that was provided.

[2016-05-17 16:53] pixelzoom commented on #38
Reducing to 1 instance of each card was one of the performance-improvement options mentioned in https://github.com/phetsims/function-builder/issues/36#issuecomment-218569820.  It sounds like that's not acceptable, so we'll need to consider the other options.

Assigning to @ariel-phet, feel free to close if there's nothing else to do here.

[2016-05-17 16:55] pixelzoom commented on #36
In https://github.com/phetsims/function-builder/issues/38, we determined that options (1), once instance of each card, is not acceptable.

@ariel-phet Which of the other options (if any) do you want me to investigate?

[2016-05-17 16:55] pixelzoom commented on #12
Assigning to @ariel-phet to assign this to someone.

[2016-05-17 16:56] pixelzoom commented on #34
This was likely addressed in https://github.com/phetsims/function-builder/issues/13#issuecomment-219780703. Assigning to myself to verify.

[2016-05-17 17:32] ariel-phet commented on #35
Well...it only happens with the first card, and if you move it slowly, instead of releasing the card. I would not want to release the sim like this, but showstopper to me says the sim really won't work/crash. Again, should be addressed, should be top priority.

[2016-05-17 17:35] ariel-phet commented on #36
I think (5) is the correct decision at the moment. Unassigning but leaving as open known issue.

[2016-05-17 17:35] pixelzoom commented on #35
It doesn't happen only with the first card.

[2016-05-17 17:36] ariel-phet commented on #35
It seemed once the output carousel has a card in it, the problem goes away? This is what I observed

[2016-05-17 17:37] pixelzoom commented on #35
Drag the card back through the carousel and the problem will continue.  As noted in https://github.com/phetsims/function-builder/issues/35#issuecomment-218550795.

[2016-05-17 17:42] ariel-phet commented on #35
Updating my iPad currently, will take a look when that is done (wouldn't it be nice if the update fixed it...)

[2016-05-17 17:43] pixelzoom commented on #36
Assigning to me. There should be no unassigned function-builder issues at this late date.

[2016-05-17 17:49] phet-steele commented on #35
@ariel-phet it would be nice, because the update fixed this problem on Witten (dev.25 & 28). Let's see if the streak continues with your iPad!

[2016-05-17 18:11] pixelzoom commented on #34
New icon is now square (123x123), but looks like there's still something weird with the canvas size created by the Rotate90 function, which I'll need to investigate.

[2016-05-17 18:47] samreid opened #41 "The sim crashes without ?log"
Testing for https://github.com/phetsims/phet-io/issues/440 I noticed the simulation will crash in both requirejs mode and built mode unless ?log is specified as a query parameter.  This should be fixed before I publish a test version for @phet-steele in https://github.com/phetsims/phet-io/issues/440

[2016-05-17 18:58] ariel-phet commented on #38
Closing

[2016-05-17 18:58] #38 closed

[2016-05-17 19:22] jonathanolson commented on #35
I'll plan to wait to hear about testing before looking more into this (I also only have an iPad 3, so I wouldn't be able to reproduce).

[2016-05-17 19:27] jonathanolson commented on #29
It seems touch-specific (I can also reproduce in "device mode" on Chrome), and event.handle shouldn't* have any differences between mouse and touch.

It looks likely that touch-to-snag is enabled on the function bodies themselves, so that after the touch-down triggers the picker, any movement afterwards triggers the drag on the function body.

[2016-05-17 19:28] jonathanolson commented on #29
(Will be investigating how to fix).

[2016-05-17 20:26] pixelzoom commented on #41
What are you testing? This was fixed in master on 5/13/16.

[2016-05-17 20:31] samreid commented on #41
Looked like I hadn't pulled lately, thanks!

[2016-05-17 20:31] #41 closed

[2016-05-17 20:36] pixelzoom commented on #34
Nothing wrong with the Rotate90 function. The problem is that the star is oddly shaped.

So when the star is rotated 90 degrees, it looks a little off (as @phet-steele reported).  Here's what it looks like in the output carousel when rotated 90 degree clockwise:

![screenshot_150](https://cloud.githubusercontent.com/assets/3046552/15338297/938abaa0-1c3c-11e6-8b91-59d43c83bf47.png)

Email thread wi

[2016-05-17 20:39] ariel-phet commented on #12
@pixelzoom at this point, now with things fleshed out, I am fairly agnostic about this color choice.

If we go lighter, I would say we want to make sure that the dashed white outline for the function pieces cue should still stand out well, so we could not go too light.

Do you want to try lightening the current colors a bit and see if you like it better? Or feel free to close.

[2016-05-17 20:47] pixelzoom commented on #12
@ariel-phet:

(1) I originally created this issue because @amanda-phet wanted to play with the colors, so I don't feel like this is my decision to make.  I will note that it seems odd that the only builder that's not blue is the "single scene" builder on the Patterns screen.

(2) As noted in https://github.com/phetsims/function-builder/issues/12#issuecomment-218534219, this issue was expanded to i

[2016-05-17 20:47] ariel-phet commented on #34
Will plan on drawing something tonight

[2016-05-17 20:48] amyh-phet commented on #34
@pixelzoom and @ariel-phet   I'm working on drawing new star now.  Should have it in a few minutes - just need to make sure it is centered on artboard.  I checked rotation in all possible 72 degree increments and shape is identical.

[2016-05-17 20:50] ariel-phet commented on #12
@pixelzoom for me, the colors are pretty acceptable as is, perhaps not super harmonious, but generally bright, fun, and not causing any obvious issues. What I am saying is that if there is anything you feel like you want to change (like making the single builder blue), go ahead, otherwise I don't think there is any critical action here.

I looked at the sim in B/W just to make sure none of the col

[2016-05-17 20:51] ariel-phet commented on #12
As a side note, @amanda-phet will likely be back online in June, so if she has strong opinions on color tweaks we can just leave it until she is available. Currently I do not feel there is anyone else on the team with strong opinions.

[2016-05-17 20:52] jonathanolson commented on #29
It does seem that ```allowTouchSnag: false``` in MovableNode prevents the bad behavior. Can this be turned off, or have an option that controls which nodes can be touch snagged?

Additionally, the 'trail' parameter to the event listener should be removed, as Scenery just calls eventListener( event ) without a second parameter.

[2016-05-17 20:54] ariel-phet commented on #34
Or that...thanks @amyh-phet

[2016-05-17 21:02] amyh-phet commented on #34
@pixelzoom   Can we try this star?

[star](https://cloud.githubusercontent.com/assets/13650180/15339141/3def0b9c-1c40-11e6-97e6-cb6e992a8c66.png)

Sending AI and png file to you as well.  If this image works, I can update the card-icon Ai file too.

[2016-05-17 21:05] ariel-phet commented on #35
@phet-steele can you check on Tycho....issue still seems to be appearing on 9.3.2 for me

[2016-05-17 21:11] phet-steele commented on #35
@ariel-phet Tycho is fixed, too!

[2016-05-17 21:12] pixelzoom commented on #29
The "movables" in the sim are cards and functions. Since interaction with cards and functions is similar, I'm fairly certain that we should have touch snag for all or nothing.  And it would seem odd to have touch snag for some functions but not others.  So... options:

The first 2 options are the "all or nothing" extremes:

(1) Try to fix the problem so that we can have `touchSnag:true` for all ca

[2016-05-17 21:16] pixelzoom commented on #29
@jonathanolson Are you referring to this in MathFunctionNode? Please point me to the description of the input listener API.

[code]

[2016-05-17 21:20] jonathanolson commented on #35
@ariel-phet, what testing device would I need to use (on Thursday?) to see if there's anything I can do? This seems more like an "update and it is fixed" type of issue?

[2016-05-17 21:30] ariel-phet commented on #35
Not sure...I am going to bring mine in for @phet-steele to take a gander at..I performed the update. I also rebooted, but the issue still seems to be appearing. And I believe I have an identical device (iPad2 iOS 9.3.2)

[2016-05-17 21:47] pixelzoom commented on #29
input listeners documentation: http://phetsims.github.io/scenery/doc/user-input

[2016-05-17 22:25] pixelzoom commented on #34
New star icon integrated, looks like this when rotated 90 degrees:

![screenshot_151](https://cloud.githubusercontent.com/assets/3046552/15341451/f8778128-1c4b-11e6-9598-b4ebe672661c.png)

[2016-05-17 22:27] samreid opened #42 "Test a built version of Function Builder"
As discussed in https://github.com/phetsims/phet-io/issues/440 we would like to test Function Builder with the changes in chipper, tandem and joist before merging changes into master.

The main things to test pertain to the startup sequence, since the launch strategy is one of the main changes:
- [x] any errors during startup
- [x] do the images appear, and look normal
- [x] does the overall behav

[2016-05-17 22:29] pixelzoom commented on #34
I apparently received the wrong card-icons.ai file. Correct file received, integrated again.

[2016-05-17 23:00] jonathanolson commented on #29
The "snag" is triggered by a 'touchenter' event, from Input's enterEvents. The 'enter' event is actually sent to each individual thing that is now under the pointer (which wasn't before, which since it is a "new" pointer, is everything), and doesn't bubble (so handle() won't do anything in touchenter).

Additionally, the 'enter' events happen before the 'down' event, so it's actually snagging the

[2016-05-17 23:01] pixelzoom commented on #42
Plan looks good and sim is in a good situation at this moment.

[2016-05-17 23:01] samreid commented on #42
Thanks @pixelzoom, I'll proceed.

[2016-05-17 23:05] samreid opened #43 "branch: phetio-require-2"
This branch contains changes necessary to test the Function Builder sim with the phetio-require-2 branches, see #42 for details.

[2016-05-17 23:06] pixelzoom commented on #34
Here's a dev version with the new star card:
http://www.colorado.edu/physics/phet/dev/html/function-builder/1.0.0-dev.29/function-builder_en.html

Assigning to @phet-steele to verify.  In retrospect, the original card was very close to correct.  If you run with `?dev`, a red dot will be placed in the center of each card. This may help you get your bearings.

[2016-05-17 23:06] pixelzoom commented on #39
Fixed in http://www.colorado.edu/physics/phet/dev/html/function-builder/1.0.0-dev.29/function-builder_en.html, please verify @phet-steele.

[2016-05-17 23:07] pixelzoom commented on #13
The new icons are in this dev version:
http://www.colorado.edu/physics/phet/dev/html/function-builder/1.0.0-dev.29/function-builder_en.html

@amyh-phet and @ariel-phet, please review.

[2016-05-17 23:30] pixelzoom commented on #35
I upgraded my iPad2 to iOS 9.3.2, and I no longer see this problem in 1.0.0-dev.25, or in the more recent 1.0.0-dev.29.

[2016-05-18 01:45] samreid commented on #42
deployed: http://www.colorado.edu/physics/phet/dev/html/function-builder/1.0.0-dev.30/function-builder_en.html

@phet-steele can you take this built version for a test drive on a smattering of platforms as described above?

[2016-05-18 02:43] ariel-phet commented on #35
I updated, rebooted, cleared cache...still seeing the issue on 1.0.0-dev.30. Very odd. I will bring my iPad on Thursday

[2016-05-18 13:01] emily-phet commented on #13
@pixelzoom: These icons definitely look "bolder" on my laptop than the previous ones. It would be great to be able to see them projected tomorrow in status, if possible.

[2016-05-18 13:29] ariel-phet commented on #13
@pixelzoom I think overall these look good. I felt like the arrow on the rotate90 and rotate180 could be a bit thicker, so I went ahead and made that change and re-uploaded the .ai file to github. See what you think.

The one other tweak I would make is to make the B/W camera a bit larger. It looks to me as it could fill up a bit more space on the card and not cause a problem

![capture](https://c

[2016-05-18 13:29] ariel-phet commented on #13
Maybe 10-15% larger for the camera

[2016-05-18 15:15] phet-steele commented on #34
The rotated star looks equivalent to the above screenshots. The dot show with `?dev` reveals this star is not centered on the card, it's a little low:
![wobblestar](https://cloud.githubusercontent.com/assets/5863899/15364179/c2ab0c12-1cd8-11e6-9f39-f4e8900d32f7.PNG)

[2016-05-18 15:21] amyh-phet commented on #34
@pixelzoom

I think the issue had to do with the way Illustrator finds the center of the star.  In order to make a symmetrical star, the height and width of the star are slightly different.  When attempting to align the star using the Align function in AI, the center of the star is determined by finding the center of the bounding box drawn around the star by AI.  This is not actually the center of

[2016-05-18 16:19] pixelzoom commented on #34
We are rotating about the center of the image's bounding box, **not** the object's center of mass.  The triangle shows this more extremely. Here's a screenshot where the black dot indicated the triangle's center:

![screenshot_31](https://cloud.githubusercontent.com/assets/3046552/15366406/655f9876-1ce1-11e6-9bbd-261f74e945d1.png)

For a 5 pointed star, the center of its bounding box is not going

[2016-05-18 16:22] phet-steele commented on #39
@pixelzoom the second procedure is indeed fixed, but now I can get cards stuck in the function machine. NO idea how, will have to look into it. This is FF.
![stuckcard](https://cloud.githubusercontent.com/assets/5863899/15366607/5a5de116-1ce2-11e6-826f-13dfe64710d0.PNG)

[2016-05-18 16:36] pixelzoom commented on #13
Changes committed:

• Grayscale (camera) icon is now 15% larger
• Large arrows on Rotate90 and Rotate180

I also made an additional subtle change to Rotate90 and Rotate180.  Previously these looked like this:

![screenshot_32](https://cloud.githubusercontent.com/assets/3046552/15367006/48c32784-1ce4-11e6-9a9c-19248252112e.png)

Now they look like this:

![screenshot_33](https://cloud.githubusercon

[2016-05-18 16:40] pixelzoom commented on #13
Reviewed with @ariel-phet via Skype, looks good.

Remaining work: Look at this on projector at status meeting.

[2016-05-18 16:45] pixelzoom commented on #29
Discussed option in https://github.com/phetsims/function-builder/issues/29#issuecomment-219855505 with @ariel-phet.  @jonathanolson should continue to pursue a general fix.  But as a fallback, @ariel-phet would like to try option (3) in a dev version.

[2016-05-18 17:06] pixelzoom opened #44 "constrain to 1 card "parked" in the builder at a time"
In https://github.com/phetsims/tasks/issues/594#issuecomment-219818916 (results of preliminary interviews), @amyh-phet said:

@ariel-phet requested to change the current behavior so that only 1 card (input or output) is allowed in the builder at a time.  If another card is drag towards the builder, it is rejected -- dragging is blocked at the builder's input/output slots, and if a card is released

[2016-05-18 17:15] pixelzoom opened #45 "Consider changing icons for mystery functions in Patterns screen"
From preliminary interview results, https://github.com/phetsims/tasks/issues/594#issuecomment-219818916:

Consider changing the mystery function icons in the Patterns screen. Presents ala Balancing Act? Get rid of translatable text if possible?

[2016-05-18 17:16] pixelzoom opened #46 "Consider changing icons for identity and Warhol functions"
From preliminary interview results in https://github.com/phetsims/tasks/issues/594#issuecomment-219818916:

Consider a new icon for identity function.

[2016-05-18 17:19] ariel-phet commented on #46
We should also ask ourselves if want to keep the soup can. This could be fine, but we could also go for just an "art" metaphor like a painting brush

[2016-05-18 17:44] pixelzoom opened #47 "rendering order of cards is not as expected"
When multiple cards are in play, the one most recently dragged out of a carousel should be on top.  But that's not always the case.

For example:
1. Start sim
2. Go to Patterns screen
3. Select 'composed' scene
4. Turn on 'see inside'
5. Put butterfly card into builder, so that it stops in 'see inside' window
6. Drag snowflake card through builder; it should be in front of butterfly, but is behind

[2016-05-18 17:46] pixelzoom commented on #44
Setting to high priority, since this will be a time-consuming change, better done sooner than later.

[2016-05-18 18:30] pixelzoom commented on #28
Resolved in https://github.com/phetsims/scenery/issues/545#issuecomment-220116510, closing.

[2016-05-18 18:30] #28 closed

[2016-05-18 18:44] pixelzoom commented on #29
@ariel-phet here's the dev version that you requested:
http://www.colorado.edu/physics/phet/dev/html/function-builder/1.0.0-dev.31/function-builder_en.html

Cards have `allowTouchSnag:true`, functions have `allowTouchSnag:false`.

[2016-05-18 18:52] pixelzoom commented on #29
Re the above dev version... It doesn't feel too bad to me, probably a reasonable workaround until a general solution can be implemented in scenery.  @ariel-phet if you agree, please change the priority of this issue to what you feel is appropriate.

[2016-05-18 18:53] ariel-phet commented on #29
Tried on iPad, does not really seem to affect usability. If I deliberately try to swipe across a function card I can see this action does not work, but it is very natural to grab the function cards since they are so large compared to my finger. I feel very comfortable with this solution.

[2016-05-18 18:54] ariel-phet commented on #29
Given testing and comments above, changing this to priority 5, as we have other pressing issues.

[2016-05-18 19:01] ariel-phet opened #48 "Reconsider having functions cards with pickers be active in the carousel"
When I use the sim on iPad (http://www.colorado.edu/physics/phet/dev/html/function-builder/1.0.0-dev.31/function-builder_en.html) now that the pickers are working and such, I still find the behavior can feel a bit buggy when trying to move the function pieces from the carousel to the builder.

My reasoning is as follows:

1. In the other screens, the user has been "taught" the natural flow of the

[2016-05-18 19:35] pixelzoom opened #49 "allowTouchSnag:true for functions when scenery is fixed"
Due to https://github.com/phetsims/function-builder/issues/29#issuecomment-219879387, scenery's "touch snag" feature was disabled (hopefully temporarily) for all instances of FunctionNode. When https://github.com/phetsims/scenery/issues/547 is fixed, set `allowTouchSnag:true`.

[2016-05-18 19:36] pixelzoom commented on #29
The general issue has been moved to https://github.com/phetsims/scenery/issues/547, with same priority (deferred) that @ariel-phet has specified here.

Issue https://github.com/phetsims/function-builder/issues/49 reminds us to re-enable this feature in function-builder when scenery is fixed.

Closing.

[2016-05-18 19:36] #29 closed

[2016-05-18 19:37] samreid commented on #48
My suggestion from 5/16/16 email:

Maybe we can have cake and also eat it?

1. if the user taps and releases on the number spinner, it changes the number.
2. if the user presses on the number spinner and drags more than N pixels, it begins a drag.

Sam

[2016-05-18 19:39] pixelzoom commented on #49
To enable, see FunctionNode line 34:

[code]

Either remove this line, or change the value to `true`.

[2016-05-18 19:48] ariel-phet commented on #34
@pixelzoom if I understand correctly, the star would rotate around its center if the center of the star's bounding box and the center of the star were coincident.

Not saying we go this direction, but as I am chewing on the question, if we used an image such as the one below with a star inscribed in a circle, that would rotate the star about its geometric center correct?

![star](https://cloud.git

[2016-05-18 19:56] pixelzoom commented on #48
Comments:

(1) Users probably will initially touch a picker by mistake. But I believe that they will quickly figure out not to do that.  And that seems preferable to forcing the pickers to be usable only under certain conditions ("when in the builder") and making it impossible to set up desired functions independently of the builder.

(2) If pickers are changeable only in the builder, then you can

[2016-05-18 20:01] pixelzoom commented on #34
Yes, that would work because the geometric center and center of the bounding box are now identical.

[2016-05-18 20:02] pixelzoom commented on #34
It also looks more like the "Captain America" logo, and that movie is doing gangbusters at the theaters :)

[2016-05-18 20:17] ariel-phet commented on #34
@pixelzoom I actually had the captain america thought myself. We could even shamelessly go for a red and blue color scheme on it. I will talk to @amyh-phet about a couple of adjustments

[2016-05-18 20:58] amyh-phet commented on #48
@pixelzoom @ariel-phet @samreid @kathy-phet

One student noticed some strange interactions when he touched the picker and tried to move the function, and he commented that something seemed strange.  He realized that he could drag the function when he moved grabbed a different part of the function.  Student was using a mouse to control the sim.  Both students adjusted the pickers on the function bo

[2016-05-18 21:26] pixelzoom commented on #34
New icon (received from @amyh-phet via email) has been integrated, see:
http://www.colorado.edu/physics/phet/dev/html/function-builder/1.0.0-dev.32/function-builder_en.html

@ariel-phet @amyh-phet @phet-steele please review.

[2016-05-18 21:27] amanda-phet commented on #13
These changes look good to me. And thank you Chris for making the recent change to the ferris wheel. The original chair colors were subtle clues about the rotation so I like that you preserved that. Otherwise I was going to suggest that the arrow doesn't need to remain purple.

Get Outlook for Android<https://aka.ms/ghei36>

On Wed, May 18, 2016 at 9:41 AM -0700, "Chris Malley" <notifications@gith

[2016-05-18 21:28] ariel-phet commented on #34
Looks awesometastic to me

[2016-05-18 21:31] pixelzoom commented on #34
There's still a problem... I can see the antialiasing on the circle cause it to move when rotation is applied. The circle should be unchanged. Back to the drawing board.

[2016-05-18 21:38] pixelzoom commented on #34
OK, here's a dev version where the circle stays stationary when the card is rotated:
http://www.colorado.edu/physics/phet/dev/html/function-builder/1.0.0-dev.33/function-builder_en.html

[2016-05-18 21:39] amyh-phet commented on #34
@pixelzoom   dev 33 looks good.  I don't see any circle movement on this version.

[2016-05-18 21:43] pixelzoom commented on #47
Ah... The cards in the 'see inside' windows have a different parent (using scenery's DAG feature), and they are added to that parent at startup.  I'll need to pop them to the front in that parent as they are popped out of the carousels.

[2016-05-18 22:03] pixelzoom commented on #47
Most effective way to resolve this is to add this line towards the end of CardNode options.startDrag:

``` thisNode.moveToFront();```

[2016-05-18 22:04] #47 closed

[2016-05-18 22:06] pixelzoom commented on #44
The fix in #47 may mitigate "lost card syndrome" somewhat.  The card that you most recently grabbed is now always on top, so it won't disappear behind cards that are already in the builder.

[2016-05-18 22:35] pixelzoom commented on #44
Assigning to @ariel-phet to decide how/when to discuss this issue with the design team.

[2016-05-19 03:50] ariel-phet commented on #34
@pixelzoom I went ahead and made an adjustment to the triangle so that it also fits within a square bounding box and re-uploaded the .ai file. Mind also putting the new triangle in?

[2016-05-19 04:44] ariel-phet commented on #42
@phet-steele this is tippy top priority :) (as in please do this before any other QA tasks including new webserver testing)

[2016-05-19 05:54] jonathanolson commented on #35
It's possible that switching something to Canvas may work around this issue. Setting the entire sim to Canvas isn't a great idea, due to the amount opacity is used (current implementation may overflow memory if rootRenderer=canvas is used on iOS).

[2016-05-19 16:09] pixelzoom commented on #34
Revised triangle is integrated in master. @ariel-phet please pull and verify.

[2016-05-19 16:19] phet-steele commented on #42
@samreid @pixelzoom things appeared to not be disrupted. Tried Win 10 Chrome, iPad Air2 iOS 9.3.2, and OSX 10.11.5 Safari.

[2016-05-19 16:22] samreid commented on #42
Thanks @phet-steele, I'll mark this for developer meeting and we'll discuss whether we are go for a merge or waiting on the phet-io testing in https://github.com/phetsims/phet-io/issues/440

[2016-05-19 16:24] ariel-phet commented on #34
Looks great. Closing.

[2016-05-19 16:28] ariel-phet commented on #13
Reviewed at status meeting 5/19/2016, all looks good projected. Closing.

[2016-05-19 16:28] #13 closed

[2016-05-19 16:32] phet-steele commented on #35
I tried @ariel-phet's iPad and indeed it wasn't working. Then when comparing his iPad to Witten and Tycho, the problem returned on all iPads, don't know how.

[2016-05-19 16:43] pixelzoom commented on #48
A few other thoughts...

By default, NumberPicker has a touchArea that is slightly dilated horizontally. By eliminating this horizontal dilation, we can somewhat mitigate the problem of accidentally touching the picker when you mean to grab the function.

Disabling pickers in the carousel doesn't eliminate the usability issues noted by @ariel-phet in https://github.com/phetsims/function-builder/is

[2016-05-19 16:46] pixelzoom commented on #39
@phet-steele Please investigate further. If this is independent of this issue, please create a new issue.

[2016-05-19 16:47] samreid commented on #48
If the user clicks in the picker and starts dragging the function in the same sequence, restore the picker to its initial value.

[2016-05-19 16:51] ariel-phet commented on #48
@pixelzoom can you remove this horizontal dilation, and publish a dev version? I can try it out on the iPad then.

[2016-05-19 16:51] pixelzoom commented on #48
So the picker changes, then reverts when you start dragging? That sure sounds confusing.

[2016-05-19 16:53] samreid commented on #48
Or only have the picker change if no drag was detected within N milliseconds.

[2016-05-19 16:59] pixelzoom commented on #48
@ariel-phet Here's a dev version with zero horizontal dilation:
http://www.colorado.edu/physics/phet/dev/html/function-builder/1.0.0-dev.34/function-builder_en.html

[2016-05-19 18:11] phet-steele commented on #39
@pixelzoom I'm honestly at a loss. My only guess is it's tied to a split second performance drop in FF that happens soon after sim start up (can't do this in Chrome). If I'm lucky enough to release the card while simultaneously trying to invert it, and the stars align causing a performance drop at that precise moment, then maybe, just maybe, the card will get stuck. The card can't actually be inve

[2016-05-19 18:24] phet-steele commented on #39
I grabbed a screenshot of fps over time (recorded in the profiler). There is a quick yet noticeable drop soon after the sim finishes loading.
![funperf](https://cloud.githubusercontent.com/assets/5863899/15404819/89cc3580-1dbc-11e6-88ca-2e4456682f09.PNG)

[2016-05-19 18:29] pixelzoom commented on #39
Are you referring to the drop at ~15 seconds?  Does this drop occur is the sim is simply idle, or while you are doing something?

[2016-05-19 18:40] phet-steele commented on #39
Yes at 15, and I think I have to at least enter a screen for the drop. Profiler shows no drop while idle on the home screen. Also should mention this is current master.

[2016-05-19 19:06] samreid commented on #42
We agreed to wait a bit and see if the phet-io things are tested soon, closing.

[2016-05-19 19:06] #42 closed

[2016-05-19 19:19] kathy-phet commented on #48
I tested dev.34 on computer and iPad, and I feel it works well.

In addition to agreeing with all of the reasons Chris mentioned regarding continuing to allow changing the function picker while in the toolbox. I found that during iPad testing, it was actually a nice constraint that you could not put your finger over the number to move out the function. It actually meant that when I was adding a fu

[2016-05-19 19:48] ariel-phet commented on #48
dev.34 definitely seems like an improvement, and a reasonable compromise. Closing.

[2016-05-19 19:48] #48 closed

[2016-05-23 16:22] pixelzoom opened #50 "Card stuck in builder"
Moved this issue here from https://github.com/phetsims/function-builder/issues/39#issuecomment-220080648.

@phet-steele reported:

![stuckcard](https://cloud.githubusercontent.com/assets/5863899/15366607/5a5de116-1ce2-11e6-826f-13dfe64710d0.PNG)

[2016-05-23 16:23] pixelzoom commented on #50
Additional relevant comments from #39:

@phet-steele:

@phet-steele:

![funperf](https://cloud.githubusercontent.com/assets/5863899/15404819/89cc3580-1dbc-11e6-88ca-2e4456682f09.PNG)

@pixelzoom:

@phet-steele:

[2016-05-23 16:24] pixelzoom commented on #39
Moving this new issue (reported inhttps://github.com/phetsims/function-builder/issues/39#issuecomment-220080648) to #50.

Closing.

[2016-05-23 16:24] #39 closed

[2016-05-23 16:30] pixelzoom commented on #50
I've been trying to reproduce this with FF 46.01 on Mac OS 10.11.5, and I've been unsuccessful.

@phet-steel:
Is there anything else you can tell me about the test machine? FF version? Mac or Win? Touch screen?

Any other details about what you're doing when this happens? How long after startup? How many attempts at dragging card through? Video?...

[2016-05-23 16:57] pixelzoom commented on #50
Skype:

[5/23/16, 10:49:02 AM] Steele Dalton: you say you cant make it happen on OSX 10.11.5, but are you at least seeing a performance drop? I find it easiest to see by quickly grabbing a card and moving it back and forth. Eventually the card will lag behind my mouse for a split second
[5/23/16, 10:55:00 AM] Chris Malley: I see no noticeable performance drop. Are you testing on Mac?
[5/23/16, 10:

[2016-05-24 16:28] ariel-phet commented on #35
On @pixelzoom suggestion tried on my iPad with ?populateOutput and problem disappeared. Intriguing.

[2016-05-24 16:32] phet-steele commented on #35
It was discovered on Thursday that this issue is dependent of whether or not another tab is open. Can't currently remember if another tab breaks it or fixes it.

[2016-05-24 19:26] pixelzoom commented on #44
In a Skype call today, @ariel-phet suggested something different than what is described in https://github.com/phetsims/function-builder/issues/44#issue-155554345.  He suggested that dragging a card into the builder should cause any cards that are in the builder and not being dragged to exit the builder (similar to what happens when you turn off 'See Inside').  The question then would be what to do

[2016-05-24 19:42] pixelzoom opened #51 "how to represent 'input' and 'output' in Numbers screen"
In the design document, the equation drawer in the "Numbers" screen looks like this:

![screenshot_34](https://cloud.githubusercontent.com/assets/3046552/15517333/6de7bf00-21b4-11e6-96d7-78d4d055d4a9.png)

The idea here is to not introduce 'x' and 'y', but instead talk about 'input' and 'output'.  And the 'In' and 'Out' shown in the equation are supposed to be input and output cards respectively.

[2016-05-24 19:47] pixelzoom commented on #51
My ideas:

(1) Replace 'In' and 'Out' with icons that represent 'input' and 'output', and use those icons in both the equation and table.

(2) Use 'Input' and 'Output' strings, and forget about making them look like cards. You can see this in [1.0.0-dev.35](http://www.colorado.edu/physics/phet/dev/html/function-builder/1.0.0-dev.35/function-builder_en.html), where it's currently a placeholder.  He

[2016-05-24 19:58] pixelzoom commented on #45
How about something as simple as getting rid of the confusing shades behind the letters, and replacing the letters with '?', like this:

![screenshot_37](https://cloud.githubusercontent.com/assets/3046552/15517859/4243a1a4-21b7-11e6-971e-67a25089b52d.png)

The teacher could refer to one of these function as (for example) "the purple mystery function" or "the purple function with the question mark"

[2016-05-24 20:00] pixelzoom commented on #45
Btw... The above solution would take ~15 minutes to implement.  Something like Balancing Act (labeled packages) is going to take a lot longer, and we'll need lots of packages in the Mystery screen.

[2016-05-24 20:02] pixelzoom commented on #45
I also think package icons (ala Balancing Act) might be a bit distracting/noisy on the Patterns screen. We already have a lot of visual noise with the icons on the cards.

[2016-05-24 20:09] pixelzoom commented on #45
I also think package icons (ala Balancing Act) might be a bit distracting/noisy on the Patterns screen. We already have a lot of visual noise with the icons on the cards.  Compare package icons to simple '?' label in the screenshots below.

![screenshot_38](https://cloud.githubusercontent.com/assets/3046552/15518247/27812556-21b9-11e6-85bc-0de21293b587.png)

![screenshot_39](https://cloud.githubus

[2016-05-25 12:09] bethstade commented on #51
The obvious icons would be X and Y.
Which of course makes it more like the equation screen.
Or one could suggest the "Numbers" screen could be more like "Patterns," just with numbers, and remove the table and equations.
----- Original Message -----From: Chris Malley <notifications@github.com>To: phetsims/function-builder <function-builder@noreply.github.com>Cc: bethstade <stadee@colorado.edu>, Men

[2016-05-25 22:01] amanda-phet commented on #51
I understand that this is awkward and am open to new suggestions

I disagree that this distortion breaks the association. I think it is still very clear, and much clearer than just using the words. Seeing letters in math is very confusing and off-putting to some students, and the rounded rectangle/square is meant to be more iconic. I think it would be worthwhile to brainstorm an iconic representat

[2016-05-25 22:04] amanda-phet commented on #46
The soup can is meant to be somewhat of an "easter egg". It is art history, and teachers can explain it to their students for an interdisciplinary discussion if they want. That's also why it is the last function.

I'm open to a different icon for identity- suggestions?

[2016-05-25 22:07] amanda-phet commented on #45
The letters are intended to be a quick and simple way to reference the functions, just like the presents in balancing act are labeled with letters.

[2016-05-25 22:12] amanda-phet commented on #44
Could part of this issue be related to not knowing how to push the card forward when "see inside" is checked? I actually didn't know how to do this myself when I played with the sim recently (and I am the lead designer...). The card paused in the window and I wasn't sure if it got stuck, or what I needed to do to keep it moving.

[2016-05-26 05:51] jonathanolson commented on #30
@phet-steele, can you confirm that this is fixed in master?

[2016-05-26 15:11] pixelzoom commented on #51
A downside of using an icon is that (presumably) we'll want to use the same icon to label the columns in the table.  And in the table, we are very tight on vertical space.   The height of the column labels will need to increase, and that will result in a smaller (and less readable) equation for the 'x' row in the table.

[2016-05-26 15:15] pixelzoom commented on #45
The primary issue is with the shapes behind the letters.

In the Mystery screen, we're planning to label the cards with '?'.  So why would we use a different representation in the Patterns screen?

[2016-05-26 15:21] pixelzoom commented on #44
What did you try to do? Did you figure it out?

To move a card that's in a 'See Inside' window, you grab it and move it - the same interaction that you do with cards visible anywhere else. If you turn off 'See Inside', the cards are flushed out of the builder.

[2016-05-26 15:22] pixelzoom commented on #30
@jonathanolson I don't see any commits? Did you fix something in scenery?

[2016-05-26 15:24] pixelzoom commented on #33
This is not a showstopper, it just looks lousy.

[2016-05-26 15:26] pixelzoom commented on #35
@ariel-phet told me that @jonathanolson has tried several things and is at a loss for what might be causing this.

@jonathanolson (1) Please indicate what you've tried in this issue. (2) Contact me, I have some suspicions.

[2016-05-26 15:32] pixelzoom commented on #46
For someone who is familiar with the "Warhol effect" the most iconic representation would be:

![unnamed](https://cloud.githubusercontent.com/assets/3046552/15580016/4464fa14-2324-11e6-95ac-bb8a9aa0e38a.png)

But there are lots of problems with that icon: it shows a specific image; it may have right-to-use issues; etc.  I'm not suggesting that we should use it, but pointing out that we are unlikel

[2016-05-26 15:43] jonathanolson commented on #30
Fixed in Scenery with commit https://github.com/phetsims/scenery/commit/46873398597e6012781ed01c85ca395d86b34644 in linked issue https://github.com/phetsims/scenery/issues/546.

[2016-05-26 16:02] pixelzoom commented on #46
For the identity function, the observation was:

So might the solution be to simply removed the lines and "glow" surrounding the stick figure?  Here's what it looks like currently:

![screenshot_40](https://cloud.githubusercontent.com/assets/3046552/15581310/f6eeecb8-2328-11e6-8a21-64071d98009e.png)

[2016-05-26 16:20] pixelzoom commented on #46
Here's the current identify icon without the elements that provide the "brighter" cues:

![screenshot_41](https://cloud.githubusercontent.com/assets/3046552/15581870/78b92d1a-232b-11e6-847a-ad3385b1374e.png)

Here it is in context:

![screenshot_43](https://cloud.githubusercontent.com/assets/3046552/15581857/64d5e4d2-232b-11e6-9b68-ea9f28f6299b.png)

[2016-05-26 16:21] pixelzoom commented on #46
Also worth noting is that we have stick figures on both a card and a function.

[2016-05-26 16:54] pixelzoom commented on #35
I was thinking that this issue might be related to function-builder's use of scenery's DAG feature.  Each card has 2 parents, one of which is the "see inside" layer (seeInsideLayer is SceneNode).   I disabled use of the DAG by commenting out SeeInsideLayer.addCardNode, like so:

[code]

Unfortunately the problem persisted, so this is likely not related to DAG.

[2016-05-26 17:03] phet-steele commented on #30
@jonathanolson @pixelzoom Numbers 1-4 are fixed, 5 is still present.

[2016-05-26 18:23] amanda-phet commented on #45
Ah, good point. On the Numbers screen the ? originally replaced a missing number (+ ?), operation (? 3), or both (??), whereas on the Patterns screen a letter was replacing an image.

Get Outlook for Android<https://aka.ms/ghei36>

On Thu, May 26, 2016 at 8:15 AM -0700, "Chris Malley" <notifications@github.com<mailto:notifications@github.com>> wrote:

One student attempted to ascribe meaning to th

[2016-05-26 18:37] pixelzoom commented on #51
@ariel-phet suggested something like this "input" icon, and a corresponding "output" icon. We'd make the slot narrower, ala the builder input/output slots.

![screenshot_44](https://cloud.githubusercontent.com/assets/3046552/15585832/9121f8ce-233e-11e6-964d-5c9045380a31.png)

[2016-05-26 18:49] phet-steele commented on #50
FF version 46.0.1
Win 10 & Mac OSX 10.11.5
No touch screen

Hard to say how long after startup. It isn't always the same amount of time, but I've never seen it happen later than 10 seconds after loading. It only takes the one lucky drag to get the card stuck, as long as the release happens at the performance drop. I try to release while dragging the card left near the center of the function machin

[2016-05-26 18:53] pixelzoom commented on #50
One more question @phet-steele ...  After the card gets stuck, does toggling the 'See Inside' window on and off cause the card to move to the output carousel?

[2016-05-26 19:02] pixelzoom opened #52 "things that should be in teacher tips"
This issue will be used to note things that should be in the teacher tips.

[2016-05-26 19:03] pixelzoom commented on #52
The "invert RGB" function (below) is not obvious, unlikely that teachers or students will understand that it inverts the RGB colorspace, and is therefore invertible.  This should be noted in the teacher tips.

![screenshot_47](https://cloud.githubusercontent.com/assets/3046552/15586553/32f256dc-2342-11e6-85e1-7129878562d5.png)

[2016-05-26 19:04] pixelzoom commented on #52
Describe what the mystery functions do in the Patterns screen.

[2016-05-26 19:05] pixelzoom commented on #46
@ariel-phet suggested a stick figure that is pointing to him/herself.

[2016-05-26 19:32] phet-steele commented on #50
After 36 minutes of trying, I made it happen:

https://drive.google.com/file/d/0B3HJopSo_QqLVVdXYzBhZld6UXc/view?usp=sharing

Short answer....it moves! Happens near 18 secs in the video.

[2016-05-26 19:36] pixelzoom commented on #44
Something that may be relatively easy to do is to allow only 1 card to be sitting in the builder at a time. That means that, regardless of the number of "See Inside" windows in the builder, only 1 window can ever be occupied, and by only 1 card.  As soon as another card is released and enters a window, any card that is currently in a window is flushed from the builder.

[2016-05-26 19:58] pixelzoom commented on #45
5/26/16 design meeting:

Consensus is to use '?' with a letter subscript, and get rid of halo shape. I.e.:

![screenshot_48](https://cloud.githubusercontent.com/assets/3046552/15588147/b9bc112e-2349-11e6-8797-df158277bd6b.png)

[2016-05-26 20:04] pixelzoom commented on #46
5/26/16 design meeting:

• Everyone is OK with the soup can.

• For now, just remove "brightness" cues from identity icon.  A "selfie" icon was also discussed.

[2016-05-26 20:18] pixelzoom commented on #51
5/26/16 design meeting:

Start by putting rounded rectangles (like cards) around the words "Input" and "Output" in equation.  Max width for rectangles, make the translated words scale.  Min width so that cards remain square.

[2016-05-26 20:21] pixelzoom commented on #12
5/26/16 design meeting:

• Make all builders blue.
• For "Numbers" functions, use the same background colors as the the "Patterns" functions.

[2016-05-26 20:27] pixelzoom commented on #44
5/26/16 design meeting:

Let's try the proposal in https://github.com/phetsims/function-builder/issues/44#issuecomment-221971960.

[2016-05-26 20:44] pixelzoom commented on #45
Done, closing.

[2016-05-26 20:44] #45 closed

[2016-05-26 20:49] pixelzoom commented on #46
Identity function icon has been changed.

Assigning to @ariel-phet to decide when (or if) he wants someone to take a stab at a new icon.

[2016-05-26 21:12] pixelzoom commented on #51
Notes to self.... There are 2 ways to approach this.

(1) Pass in xNode and yNode to SlopeInterceptEquationNode and PhetEquationNode.

(2) Make SlopeInterceptEquationNode responsible for creating the rectangle around the symbols. Add options related to the rectangle. Probably something like:

[code]

Potential problems:

• For the PhET-specific (aka "helpful") form of the equation, the xSymbol "ca

[2016-05-26 21:20] pixelzoom commented on #51
I ran into a problem already...  For the PhET-specific (aka "helpful") form of the equation, the "Input" card needs to scale, since it may be in a numerator. Eg (as noted in https://github.com/phetsims/function-builder/blob/master/doc/equation-formats.md), if the builder contains "/3 * 2", then the equation will be "y = [2 Input]/3", where "2 Input" is the numerator above denominator 3.  In the sl

[2016-05-26 21:44] pixelzoom commented on #12
Done, closing.

[2016-05-26 21:44] #12 closed

[2016-05-27 04:43] jonathanolson commented on #35
I haven't tried any code changes to make the problem go away, planning on doing that after Canvas code changes to Scenery.

If we need a faster (hacky) workaround, I suggested to @ariel-phet that we could try an invisible card in the "output" area on the right (since that seems to prevent this from happening).

It's likely a very specific layering and clipping issue present in Safari, where minor

[2016-05-27 15:27] ariel-phet commented on #51
@pixelzoom and I discussed and I was fine with the "Input" word scaling down as long as still readable

[2016-05-27 20:04] amanda-phet commented on #51
We will probably need to assess once we see how small they get.

This screen originally did not include division, so we could go back to leaving out that operation here and then we wouldn't have any fractions.

[2016-05-31 16:50] pixelzoom commented on #51
Re the design meeting consensus in https://github.com/phetsims/function-builder/issues/51#issuecomment-221982425... I'm going to wait to implement this until I've implemented the PhET-specific (aka "helpful") form of the equation.

[2016-05-31 16:53] pixelzoom commented on #33
@ariel-phet Could you please assign a priority to this issue?

[2016-05-31 23:06] pixelzoom opened #53 "PhET-specific equation format"
https://github.com/phetsims/function-builder/blob/master/doc/equation-formats.md specifies the PhET-specific (aka "helpful") equation format.  The specification contains numerous examples, followed by the rules for converting what is in the builder to the equation format. This format was agreed upon by consensus in 4/28/16 design meeting, and refined in followup email discussions.

The equation fo

[2016-06-01 00:13] bethstade commented on #53
Looks consistent to me.
I noticed the negatives weren't implemented - I imagine you know this.
<img width="1088" alt="screen shot 2016-05-31 at 6 11 36 pm" src="https://cloud.githubusercontent.com/assets/5370001/15694469/55bb76fe-275b-11e6-9c71-111e0966a1ff.png">

[2016-06-01 01:51] ariel-phet commented on #53
@pixelzoom the format works well with the interactivity as designed. I might have a pixel polish or two, but that seems for a separate issue since this issue is to determine the rules for the format.

[2016-06-01 01:54] ariel-phet commented on #53
@pixelzoom - note negatives ARE working in slope-intercept form, just not in "helpful" form

[2016-06-01 03:11] pixelzoom commented on #53
I'm not sure what you mean by "negatives aren't working".  They are indeed working, here's a screenshot below.  The operator is adjusted so that the operand doesn't have a negative sign.  Or were you expecting (for example in this case) "y = x - -2"?

![screenshot_50](https://cloud.githubusercontent.com/assets/3046552/15697076/e69d86fe-2773-11e6-94ef-e89a3c422465.png)

[2016-06-01 03:13] pixelzoom commented on #53
If you were indeed expecting "y = x − -2" in the example above, then what are you expecting in the case below?  It seems to me that the most general solution is what I've implemented.

![screenshot_51](https://cloud.githubusercontent.com/assets/3046552/15697122/7eadd30e-2774-11e6-94cf-c95e6913baca.png)

[2016-06-01 03:18] pixelzoom commented on #43
@samreid I noticed that you delete this branch for other repositories (tandem, beers-law-lab,... ) Is this branch still relevant for function-builder?

[2016-06-01 03:22] pixelzoom commented on #46
Comments relevant to identity function icon in https://github.com/phetsims/tasks/issues/604#issuecomment-222723912 (iOS interviews):

I asked about whether the students figured it out, and @amyh-phet said in https://github.com/phetsims/tasks/issues/604#issuecomment-222747143:

@ariel-phet up to you whether to take another stab at revising the identity icon, or to just close this issue.

[2016-06-01 03:22] samreid commented on #43
Branch deleted, closing.

[2016-06-01 03:22] #43 closed

[2016-06-01 03:23] bethstade commented on #53
<img width="1088" alt="screen shot 2016-05-31 at 6 11 36 pm" src="https://cloud.githubusercontent.com/assets/5370001/15697250/c57874c8-2775-11e6-8766-3cdc72836f33.png">
In this example I expected -3 x + 2.

[2016-06-01 03:25] pixelzoom commented on #53
@bethstade That example is indeed a bug, thanks for pointing it out.  Any others?

[2016-06-01 03:28] pixelzoom commented on #53
Btw... If there is anything at all that does not look right, do *not* assume that it's something that I know about or have not implemented.  This equation is *fully* implemented, and anything that's not working as specified is a bug that should be reported.  And specific examples are always appreciated.

[2016-06-01 03:33] pixelzoom commented on #53
Sign has been corrected when collapsing adjacent multiplication operations, see above commit.  Here's a screenshot for the example reported by @bethstade in https://github.com/phetsims/function-builder/issues/53#issuecomment-222882803.

![screenshot_52](https://cloud.githubusercontent.com/assets/3046552/15697433/501312d6-2777-11e6-98f4-61e3acd95b72.png)

[2016-06-01 04:23] pixelzoom commented on #51
Implemented "card" look for "Input" and "Output" in equations, see above commit.  Here are a few example screenshots, showing both equation forms in the Numbers screen:

![screenshot_54](https://cloud.githubusercontent.com/assets/3046552/15698069/f3e27ef0-277d-11e6-80a6-a15809181d2c.png)
![screenshot_56](https://cloud.githubusercontent.com/assets/3046552/15698072/f94b2db0-277d-11e6-9eee-58010746d6

[2016-06-01 04:28] pixelzoom commented on #51
Implemented in this dev version:
http://www.colorado.edu/physics/phet/dev/html/function-builder/1.0.0-dev.39/function-builder_en.html

@amanda-phet and @ariel-phet please provide feedback.

[2016-06-01 04:29] pixelzoom commented on #53
Here's a new dev version with the bug fix for multiplier sign:
http://www.colorado.edu/physics/phet/dev/html/function-builder/1.0.0-dev.39/function-builder_en.html

[2016-06-01 06:37] ariel-phet commented on #51
I know there was concern over the cards changing size, but that all seems fine.

I will say that in the design doc, @amanda-phet used a non-italic font. I know we are using an italic script font for the variables and that feels right to me for those, but I think I would prefer the font in the design doc, it feels more approachable.

[2016-06-01 13:36] amanda-phet commented on #53
This seems to be working well to me.

In the following situation, two questions come to mind:
1. Do we want the 3 and -3 to "cancel" and become -1? (I am thinking yes, but it might break the rules we have established)
2. Do we want parentheses around larger fractions to be taller? (I think it is fine the way it is, but normally they would be larger)
<img width="887" alt="screen shot 2016-06-01 at

[2016-06-01 13:40] amanda-phet commented on #46
@ariel-phet based on the interview I think it might be worth trying a different icon. It seems like the icon doesn't currently hurt, but it also doesn't help or seem to have any connection for students, and it should. I like the selfie idea- can we roll with that?

[2016-06-01 13:55] amanda-phet commented on #51
I think the card really works here.

I would also like to try the non-italic font.

[2016-06-01 14:41] ariel-phet commented on #53
@amanda-phet I don't think we want those to cancel actually...the premise behind the "helpful" for is to make the most sense with interaction, so in the current form, as you play with the card controlling the denominator, the relationship between the interaction and the equation is very clear. if you change that to a "-1" you would also need to put a "-3/2" when you change the division card to -2,

[2016-06-01 14:43] ariel-phet commented on #53
:+1: on parentheses tweak but as mentioned above probably first to best establish rules of this form, and then pixel polish

[2016-06-01 16:33] pixelzoom commented on #51
Changed to non-italic font, pushed to master.  Examples:

![screenshot_59](https://cloud.githubusercontent.com/assets/3046552/15717438/45325ecc-27e4-11e6-8f54-766287dd777a.png)

![screenshot_60](https://cloud.githubusercontent.com/assets/3046552/15717430/40b5f2dc-27e4-11e6-95f7-29a82659d889.png)

[2016-06-01 16:45] pixelzoom commented on #53
@amanda-phet Where did you get the screenshot in https://github.com/phetsims/function-builder/issues/53#issuecomment-222994053? That's not what I see with the functions shown.  What I see is shown below, very different.  And it follows this rule:

Re @ariel-phet comment in https://github.com/phetsims/function-builder/issues/53#issuecomment-223014339... Are you suggesting that we change the rule ab

[2016-06-01 16:49] pixelzoom commented on #53
Re parenthesis... I agree that it would look better if the parenthesis were the same height as the term that they enclose.  But there's a problem with that.  Parenthesis are currently rendered using a scenery Text node, using the default PhET font (Arial). If I increase the size to match the height of the term, then the parenthesis look very heavy. Here's an example:

![screenshot_62](https://clou

[2016-06-01 17:07] pixelzoom commented on #53
I experimented with `weight: 'lighter', stretch: 'ultra-condensed'` options for the parentheses font, but it didn't look significantly better.

[2016-06-01 17:28] pixelzoom commented on #53
Scaling x & y dimensions of the parenthesis separately looks like a reasonable solution. Here's the same example that we've been discussing above. Cool?

![screenshot_63](https://cloud.githubusercontent.com/assets/3046552/15719161/ebfe484a-27eb-11e6-9570-e5992a9e9227.png)

[2016-06-01 17:31] pixelzoom commented on #53
Commits related to parenthesis:
https://github.com/phetsims/function-builder/commit/f1a1023c1d9c2dade93f24aea82cc8636c3b2de9
https://github.com/phetsims/function-builder/commit/e73ee066371a8dc3ff23326e9079b4a03eaf5713
https://github.com/phetsims/function-builder/commit/f1a1023c1d9c2dade93f24aea82cc8636c3b2de9

[2016-06-01 17:36] pixelzoom commented on #53
There is an inconsistency related to rule 10, which says:

Here's an example where rule 10 is applied:

![screenshot_66](https://cloud.githubusercontent.com/assets/3046552/15719353/c81803d4-27ec-11e6-9fd3-0d38127cf23f.png)

Here's a similar example, where adjacent multiplication and division value to -1, which is not covered by rule 10.

![screenshot_65](https://cloud.githubusercontent.com/assets/

[2016-06-01 17:53] pixelzoom commented on #51
@amanda-phet and @ariel-phet Are you satisfied with the non-italic font, as shown in https://github.com/phetsims/function-builder/issues/51#issuecomment-223050211?

[2016-06-01 20:13] pixelzoom commented on #51
Skype call with @ariel-phet, looks good, closing.

[2016-06-01 20:13] #51 closed

[2016-06-01 20:37] pixelzoom commented on #53
Skype call with @ariel-phet, decisions:

• parentheses look good
• drop rule 10 (do not collapse adjacent multiplication and division that evaluates to 1 or -1)

[2016-06-01 20:44] pixelzoom opened #54 "Reset All messes up functions carousel"
After implementing Reset All in https://github.com/phetsims/function-builder/commit/4b15b53e4c6e6dc2762bbb29da3592d014460260, the functions carousel is messed up after pressing the Reset All button.  This happens only for the functions carousel on the Patterns screen, and it happens on all platforms.  See screenshot below.  If you click on the functions, they move to their proper positions in the

[2016-06-01 20:48] pixelzoom commented on #54
Complete set of commits related to Reset All, in the order that they occurred:

https://github.com/phetsims/function-builder/commit/7aa07567a391f447fa15bee6d069a91797fcda26
https://github.com/phetsims/function-builder/commit/81a695a4b936c6590e0b473b5ff541f6746546c1
https://github.com/phetsims/function-builder/commit/255a424271fd10373df1e515b29d20a80a6c0e08
https://github.com/phetsims/function-buil

[2016-06-01 20:49] pixelzoom commented on #54
Verified that this was not a problem in [1.0.0-dev.40](http://www.colorado.edu/physics/phet/dev/html/function-builder/1.0.0-dev.40/function-builder_en.html), published immediate before the above commits.

[2016-06-01 20:59] pixelzoom commented on #53
Changes incorporated in this dev version, please review:
http://www.colorado.edu/physics/phet/dev/html/function-builder/1.0.0-dev.41/function-builder_en.html

If I don't receive any change requests in the next 24 hours, I'll close this issue.

[2016-06-01 21:13] pixelzoom commented on #54
Commenting out line 60 of Scene.reset makes the problem go away:

```this.functionInstances[ functionIndex ].reset();```

In the Patterns screen, function instances are of type ImageFunction.  And resetting an ImageFunction moves it back to its initial location. So there's probably something wrong with the initial location, or how the node is using it to position itself.

[2016-06-01 21:27] pixelzoom commented on #54
Running with `?showContainers`, it looks like the center of each function is at the upper-left corner of its container, instead of being centered in the container.

[2016-06-01 22:07] pixelzoom commented on #54
The problem was that subtypes of ImageFunction (eg, Erase, Grayscale,...) were not propagating options (including the initial location) to the supertype constructor.  So calling reset was moving the functions to (0,0), the default initial location.

Fixed in above commit. Closing.

[2016-06-01 22:07] #54 closed

[2016-06-02 15:27] pixelzoom opened #55 "code review"
**Build and Run Checks**

- [x] Does the sim pass lint?
- [x] Does the sim build without errors?
- [x] Does the sim start up? (requirejs and built versions)
- [x] Does the sim experience any assertion failures? (run with query parameter 'ea')
- [x] Does the sim pass a scenery fuzzer test? (run with query parameter 'fuzzMouse')

**Strings**
- [x] Are there any unused strings? (Strings that appear i

[2016-06-02 15:33] pixelzoom opened #56 "[Edge] dashed outline of ghost cards is obscured"
Reported by @phet-steele in #30, factored out into a separate issue since this is apparently a different bug.  Original report below.

---

(5) An artifact is more than likely left behind after using the second card of an input, hence why the ghost state of the input has an obscured dashed outline:
![funbu05](https://cloud.githubusercontent.com/assets/5863899/15188481/388c138e-1763-11e6-829b-a5cc1

[2016-06-02 15:34] pixelzoom commented on #30
In https://github.com/phetsims/scenery/issues/546#issuecomment-223200907, @jonathanolson indicated that number 5 is different than 1-4:

So I've factored number 5 out into a separate issue, #56.

Closing this issue since numbers 1-4 have been fixed.

[2016-06-02 15:34] #30 closed

[2016-06-02 15:35] pixelzoom commented on #56
In https://github.com/phetsims/scenery/issues/546#issuecomment-223200907, @jonathanolson said:

What is the scenery issue number?

[2016-06-02 15:36] pixelzoom commented on #33
@jonathanolson Asking again: Do you have any suggestions or insights?

[2016-06-02 15:41] pixelzoom commented on #35
The output carousel currently has an invisible empty "containers" for each card type, which can be seen if you run with `?showContainers`.  And adding an invisible card to each of these containers will not be an encapsulated hack. And it will likely cause multiple problems, since there is code that processes the contents of the containers.  So this hack is a last resort.

[2016-06-02 15:42] pixelzoom commented on #35
The button that is transparent has its stroke clipped, the button that is opaque does not. And this remains true as the button selection changes. Perhaps this is a clue?

[2016-06-02 15:43] amyh-phet commented on #53
@pixelzoom    I did not see any use cases that break any of the rules from the design meeting notes.  I also did not see any unexpected behavior regarding the equation display.   I have only a minor pixel polish to report.  When applying two multiplications in a row with one of the functions being a negative (e.g. *-3 * 3), the negative sign on the equation output is bold when in the PhET version

[2016-06-02 15:44] pixelzoom commented on #32
@jonathanolson status?

[2016-06-02 15:45] pixelzoom commented on #31
@jonathanolson status?

[2016-06-02 15:46] pixelzoom commented on #53
Thanks @amyh-phet, good catch, should be easy to fix.

[2016-06-02 16:00] pixelzoom commented on #53
Sign fixed in above commit. Screenshot:

![screenshot_02](https://cloud.githubusercontent.com/assets/3046552/15751844/dc7fc480-28a8-11e6-8442-3757c379b1dd.png)

[2016-06-02 16:16] pixelzoom opened #57 "replace sim-specific drag canceling with scenery's general solution"
https://github.com/phetsims/scenery/issues/218 deals with a general solution to canceling drags and other interactions.  That work was not ready in time for use in this sim, so as noted in https://github.com/phetsims/scenery/issues/218#issuecomment-223100617:

Start by reviewing `MovableNode.cancelDrag` and its usages.

[2016-06-02 16:21] pixelzoom commented on #57
Other notes...

`MovableNode.cancelDrag` looks like this, where `dragHandler` is an instance of SimpleDragHandler:

[code]

Passing `null` to `endDrag` doesn't seem generally safe, since its supposed to be an Event, and that Event is propagated to SimpleDragHandler's `options.end` function.  There has been discussion of removing the `event` parameter from SimpleDragHandler `endDrag` and `options.e

[2016-06-02 16:30] pixelzoom commented on #37
In https://github.com/phetsims/function-builder/commit/48a62e12d5f430dce59b7ea0e7aae66e3e3831c6, I added query parameter `initOnDemand`, which initializes a screen only when you click on its icon on the home screen or navigation bar.  This spreads out the cost of initialization. The disadvantage is that the first time you visit a screen, it takes a bit longer than subsequent times.

[2016-06-02 16:40] pixelzoom opened #58 "should table drawer be closed by default?"
In https://github.com/phetsims/tasks/issues/604#issuecomment-222723912 (preliminary interviews), @amyh-phet observed:

So the relationship between items in the input and output carousels may take a little effort to figure out.

The table orders things differently than the carousel.  And according to the design doc, the table drawer is supposed to be open by default.  Might that make it more diffic

[2016-06-02 16:41] jonathanolson commented on #31
Should be fixed by https://github.com/phetsims/scenery/issues/518, which is at the top of my list (and I'm working on it).

[2016-06-02 16:42] jonathanolson commented on #32
Should be fixed by https://github.com/phetsims/scenery/issues/518, which is at the top of my list (and I'm working on it).

[2016-06-02 16:44] jonathanolson commented on #35
Potentially, although it seems the main area where the clipping occurs does not have transparency? (SVG is used, so presumably the opacity-related Canvas issues don't apply here).

[2016-06-02 16:51] jonathanolson commented on #33
Try:
[code]
since the drawerNode's minX is -0.5.

Right now, the left-most 0.5 pixels of the drawerNode is getting clipped, and browsers might do clipping/antialiasing/etc. slightly differently, resulting in our iOS problem.

[2016-06-02 16:52] jonathanolson commented on #56
Will check to see if this is a problem after the implementation for https://github.com/phetsims/scenery/issues/518.

[2016-06-02 18:01] pixelzoom commented on #55
6/2/16 dev meeting: @andrewadare will do this, top-priority when it comes. I will assign to him when it's ready to review.

[2016-06-02 18:15] pixelzoom commented on #37
Note to self: Look for redundant work that may be occurring at startup.

I verified that there are no Movable locations that are changing during startup.

[2016-06-02 22:30] pixelzoom commented on #37
Here's a comparison of initialization options.

Initialize on startup:
http://www.colorado.edu/physics/phet/dev/html/function-builder/1.0.0-dev.42/function-builder_en.html

Initialize on demand:
http://www.colorado.edu/physics/phet/dev/html/function-builder/1.0.0-dev.42/function-builder_en.html?initOnDemand

Comparing on iPad2 (which is where the performance issue is most acute)... The "on startup

[2016-06-02 22:38] pixelzoom commented on #35
Running the sim with `?populateOutput` puts 1 instance of each card in the output carousel. And in that case, there's no sign of this problem.  So that would seem to increase the probability that putting an invisible card permanently in the output carousel would be an effective (last resort) workaround to this problem.

[2016-06-02 22:44] pixelzoom commented on #35
For posterity, here's a screenshot showing the problem on my iPad2.  The green arrow points to one of the rectangular blocks of "damage" that appear as you drag a card through the builder. The red arrow points to similar damage in the unselected scene radio button.  Note that the selected radio button has no such damage to its stroke.

![35](https://cloud.githubusercontent.com/assets/3046552/15763

[2016-06-03 15:40] ariel-phet commented on #58
I would certainly be fine with the drawer close by default

[2016-06-04 19:33] pixelzoom commented on #53
No additional feedback received, closing.

[2016-06-04 19:33] #53 closed

[2016-06-04 19:51] pixelzoom commented on #37
On the Patterns screen, there are 24 input cards of type `ImageNode`.  But I see `ImageCardNode.updateContent` being called 48 times at start up.  So there's a redundant (and expensive) call here.

[2016-06-04 20:23] pixelzoom commented on #37
I was mistaken -- there are 48 input cards in the Patterns screen, 24 for each of the 2 "scenes".

[2016-06-04 20:32] pixelzoom commented on #37
So it looks like the Patterns screen takes longer to load that the other because there are many more cards and functions, not because there's anything significantly more expensive about the type of cards and functions.

[2016-06-04 20:49] pixelzoom commented on #37
I added some coarse timing output to `Screen.initializeModelAndView` so that I could see where the startup time is going.  Here's the revised `initializeModelAndView`

[code]

Here's the output, all times are in milliseconds, `null` is the home screen, Mystery screen hasn't been implemented yet.

[code]

[2016-06-06 16:18] pixelzoom opened #59 "vertical line through center of builder ends"
This only happens at certain window sizes. Sometimes it's both ends of the builder, sometimes only one end, sometimes none.  Here's a screenshot, green arrow points to the vertical line:

![line](https://cloud.githubusercontent.com/assets/3046552/15829198/e8880718-2bcf-11e6-8782-3466e8492231.png)

This is low priority, and I've been told that it doesn't need to be addressed. But noting it here, in

[2016-06-06 16:20] pixelzoom commented on #59
Probably due to the `clipArea` that's set in BuilderNode, line 156:

```options.clipArea = Shape.rect( 0, -END_HEIGHT / 2, BODY_WIDTH, END_HEIGHT );```

... since the position of the vertical line corresponds to the left/right edge of the clipArea.

[2016-06-06 16:23] pixelzoom commented on #59
To clarify... The inner half of each builder end is drawn by BuilderNode. The outer half of each builder end  is a separate BuilderEndNode.  Cards move in a layer between the BuilderEndNodes and BuilderNode, to give the illusion that card are going in/out of the builder, and moving inside the builder.

[2016-06-06 16:23] pixelzoom commented on #58
It's now closed by default.  @amanda-phet let me know if you have a strong feeling to the contrary.  Otherwise please close this issue.

[2016-06-06 16:25] pixelzoom commented on #46
@ariel-phet Are we going to do revise this icon? If so, can you please assign this to someone?

[2016-06-06 16:29] pixelzoom commented on #33
@phet-steele I unfortunately don't have an iPad with me today. Could you verify whether this issue is fixed in this dev version? Thanks.
http://www.colorado.edu/physics/phet/dev/html/function-builder/1.0.0-dev.43/function-builder_en.html

[2016-06-06 16:46] ariel-phet commented on #46
@pixelzoom I took a few quick stabs at this myself, but did not really come up with anything I loved.

@amanda-phet since you are back this week, want to take a try at the icon? It seems we will want something like this: https://thenounproject.com/term/selfie/397877/

I tried a full stick figure, but then the detail gets too small to see, so I think just the upper torso is probably the way to go,

[2016-06-06 16:58] phet-steele commented on #33
This is what it looks like good sir:

![img_0043](https://cloud.githubusercontent.com/assets/5863899/15830291/b1792536-2bd4-11e6-8740-9ca44db8581a.PNG)

[2016-06-06 17:04] pixelzoom commented on #33
Great, problem solved, closing.

[2016-06-06 17:04] #33 closed

[2016-06-06 17:37] pixelzoom opened #60 "requirements for Mystery screen"
The design document contains no notes on our discussion of the new "Mystery" screen.  My memory of what the "function selection grid" contains has already proven to be different than @ariel-phet's.  And some important things were not decided (what's in the carousels, which drawers are present, ...)  So this issue will serve to nail down the requirements.

[2016-06-06 17:42] pixelzoom commented on #60
This comment enumerates the requirements that are needed.

Function selection grid:
• what does it look like?
• where is it located?
• what does it contain?
• what static (non-random) functions does it contain?
• what "random generators" does it contain?
• how do the "random generator" items behave? (animation, etc.)

Functions:
• What do functions look like in the builder? Colored background with

[2016-06-06 17:45] pixelzoom commented on #60
Labeled as "top priority".  If this screen has any hope of being included in 1.0 release, requirements specification by 6/10/16.

[2016-06-06 17:46] ariel-phet commented on #60
My thoughts:

3 "static" mystery functions. A single, a double, and then a triple. These would basically be buttons...you press them and the mystery function appear in the builder (so that we don't have to deal with putting a double function in a carousel).

Next there would be 3 "random" mystery functions. Again a single, a double, and then a triple, with some sort of generate button.

So basical

[2016-06-06 20:10] pixelzoom commented on #36
Might be able to squeeze some more performance out of Warhol by doing this bit more efficiently (Warhol.js, line 134):

[code]

[2016-06-06 20:34] pixelzoom commented on #36
I implemented a more efficient method of setting the background color in Warhol.  Reminder to self that I need to test it on iPad2 with the worst-case scenario of MysteryC + Warhol + Warhol and 2 instances of each card in the output carousel.

[2016-06-06 20:49] amanda-phet commented on #51
I like it! Thanks @pixelzoom and @ariel-phet

[2016-06-06 23:08] amanda-phet commented on #53
Sorry for the delay in my response here... I will be much more responsive starting tomorrow!

I think this looks really good.

I created the equation by first creating this one,
<img width="894" alt="screen shot 2016-06-06 at 4 30 33 pm" src="https://cloud.githubusercontent.com/assets/7852916/15840749/3b1d8e6a-2c09-11e6-8336-3faeed63d7cd.png">

then replacing •-1 with ÷3 by dragging up and substit

[2016-06-06 23:24] pixelzoom commented on #53
Got it, thanks @amanda-phet .  Your example had a division by -3, mine was division by +3, that's why they were different.

[2016-06-07 02:44] pixelzoom commented on #36
Version the this issue was reported with:
http://www.colorado.edu/physics/phet/dev/html/function-builder/1.0.0-dev.25/function-builder_en.html

Version with the more efficient method of setting background:
http://www.colorado.edu/physics/phet/dev/html/function-builder/1.0.0-dev.44/function-builder_en.html

Testing on iPad2, there is very little (if any) perceptible improvement.

[2016-06-07 02:49] pixelzoom commented on #35
On 5/26/16 in https://github.com/phetsims/function-builder/issues/35#issuecomment-222059080, @jonathanolson said:

@jonathanolson When do you anticipate that these Canvas changes will be completed?

[2016-06-07 03:14] pixelzoom commented on #32
In Skype, @jonathanolson said:

[6/6/16, 9:10:43 PM] Jonathan Olson: The backup would presumably be to try SVG out on Edge
[6/6/16, 9:10:57 PM] Jonathan Olson: That's one thing we could try now (see how ?rootRenderer=svg works on Edge)

[2016-06-07 03:14] pixelzoom commented on #31
In Skype, @jonathanolson said:

[6/6/16, 9:10:43 PM] Jonathan Olson: The backup would presumably be to try SVG out on Edge
[6/6/16, 9:10:57 PM] Jonathan Olson: That's one thing we could try now (see how ?rootRenderer=svg works on Edge)

[2016-06-07 03:14] pixelzoom commented on #56
In Skype, @jonathanolson said:

[6/6/16, 9:10:43 PM] Jonathan Olson: The backup would presumably be to try SVG out on Edge
[6/6/16, 9:10:57 PM] Jonathan Olson: That's one thing we could try now (see how ?rootRenderer=svg works on Edge)

[2016-06-07 17:00] phet-steele opened #61 "Automated Testing Sim Errors (6/7/2016 10:00 AM)"
[code]

[code]

[2016-06-07 17:13] pixelzoom commented on #61
You caught me in the middle of a refactor of XYTableNode.  This was fixed in a subsequent commit. Closing.

[2016-06-07 17:13] #61 closed

[2016-06-07 17:59] amanda-phet commented on #58
That's fine, but I'd want to make sure in the next interviews that students find the drawers since they will all be closed on startup.

[2016-06-07 17:59] #58 closed

[2016-06-07 23:09] pixelzoom opened #62 "fuzzMouse assertion failure"
Reported in this Skype conversation by @phet-steele:

[6/7/16, 4:35:48 PM] Steele Dalton: well, are you expecting FB to be stable at this moment, or are you still refactoring :)
[6/7/16, 4:37:10 PM] Chris Malley: I've been doing major work on the table feature, but haven't noticed any problem with what's checked into master.  that doesn't mean there aren't any problems, because I haven't done any

[2016-06-07 23:10] pixelzoom commented on #62
function-builder master was at sha @6874d87253cdc75305e108579c1f1968810a63b9 when I was testing this.

[2016-06-07 23:43] phet-steele commented on #62
Occurring as well on my Win 10 Chrome.

[2016-06-08 01:47] phet-steele commented on #62
Stack journey for the other error above:
[code]

[2016-06-08 04:45] jonathanolson commented on #62
The following in ImageCardNode:
[code]

It looks like it's run at least two times, first taking the second branch (sets image and initial dimensions), and then taking the first branch (but with an image of a different width). This causes it to error out, as it detects a different dimension.

I'd recommend setImageWidthSize for all usages if that's reasonable?

The errors afterwards are more of "Sc

[2016-06-08 15:19] pixelzoom commented on #62
Thanks @jonathanolson, I'll try that.  Still perplexed about why I'm unable to reproduce it with the same configuration as @phet-steele.

[2016-06-08 15:22] pixelzoom commented on #62
@jonathanolson a question... Is there any performance difference between these 2 methods of setting the image?

[code]

The only reason that I wasn't using `setImageWithSize( canvas.toDataURL(),..)` in all cases was that canvas operations are needed while a card is still in the input carousel, and I suspected that `setImageWithSize( image,...)` might be more efficient.  But if that's not the case,

[2016-06-08 15:52] pixelzoom commented on #62
@phet-steele Fix pushed, please pull master and verify.

[2016-06-08 15:55] pixelzoom commented on #62
If the answer to https://github.com/phetsims/function-builder/issues/62#issuecomment-224624448 is "no or negligible performance difference", then I'll probably roll back https://github.com/phetsims/function-builder/commit/47d2fbe1d168978ec32f92c153beb2e35c519026.

[2016-06-08 16:14] phet-steele commented on #62
@pixelzoom looks fixed on my end.

[2016-06-08 16:30] amanda-phet commented on #52
describe how to use equations screen to help figure out mystery functions

[2016-06-08 16:32] pixelzoom commented on #62
Skype chat with @jonathanolson:

[6/8/16, 10:05:12 AM] Chris Malley: For scenery.Image, is there a significant performance difference between setImage( htmlImageElement ) and setImage( canvas.toDataURL() ) ?
[6/8/16, 10:08:29 AM] Jonathan Olson: Might depend on whether you are rendering as SVG or not
[6/8/16, 10:21:28 AM] Chris Malley: SVG
[6/8/16, 10:22:14 AM] Jonathan Olson: Probably depends on

[2016-06-08 16:32] #62 closed

[2016-06-08 16:39] pixelzoom commented on #62
@phet-steele Thanks for finding this one!

[2016-06-08 19:12] pixelzoom commented on #60
I don't see much point in having the "hide functions" check box for mystery functions.

[2016-06-08 19:18] amanda-phet commented on #60
I agree. This screen will be a much simpler version of the Equations screen. I'm working on a mockup today and hope to discuss tomorrow at design meeting.

[2016-06-08 19:25] amanda-phet commented on #60
I have copied and pasted your questions into the design doc as a place to add answers and mockups. Once we have all questions answered I can add them back here to this issue.

[2016-06-08 19:29] pixelzoom commented on #60
You don't need to paste answers back into this issue, you can just paste a link to the section in the design doc.

[2016-06-08 19:38] pixelzoom commented on #60
FYI, I'm planning to do a "sprint" on the Mystery screen this afternoon, based on my best guess of what the requirements will be.

[2016-06-08 19:56] amanda-phet commented on #60
https://docs.google.com/document/d/1S6pkoJODPNZFtkLaSmk2MKzh2aAH6lk30pqCTxTX8z8/edit#heading=h.ie707iinqicg

New design question: How will the user know that they have a new set of randomly generated functions? Randomly selected colors, as @pixelzoom suggested? What if a color looks similar to one of the pre-set mystery functions? Maybe those should be shades of gray?

[2016-06-08 23:17] pixelzoom opened #63 "Patterns screen icon is out of sync with star icon"
In issue #34, we change the icon on the 'star' card so that it would rotate more predictably.

Here's what it looks like now:

![screenshot_10](https://cloud.githubusercontent.com/assets/3046552/15914186/fd364332-2d9b-11e6-9731-cf77007fdc09.png)

Here's what it looks like after going through Warhol:

![screenshot_09](https://cloud.githubusercontent.com/assets/3046552/15914197/14c38a3c-2d9c-11e6-89

[2016-06-08 23:28] amanda-phet commented on #63
I was not aware of this change to the star input... can someone please explain why there is a circle around the star? Adding a circle does nothing to change the symmetry of the shape, so I'm not sure how a rotation looks any different.

I looked in past issues but do not see one about this input.

[2016-06-08 23:38] pixelzoom commented on #63
See issue https://github.com/phetsims/function-builder/issues/63.

[2016-06-08 23:39] pixelzoom commented on #63
I updated the code that draws the Patterns screen icon in https://github.com/phetsims/function-builder/commit/c98bc89300556e2230a6580c42e0646642fcdd45.  Here's what it looks like now:

![screenshot_11](https://cloud.githubusercontent.com/assets/3046552/15914655/ef0d8fc8-2d9f-11e6-9e69-3271953fe2dd.png)

Still open to doing something else.

[2016-06-08 23:40] amanda-phet commented on #34
I was not aware of this conversation until just now when it was referenced in #63 (not sure why I was never mentioned for input...) but I very strongly dislike the circle around the star. I am positive there is a better solution. It looks very out of sync with the other three cards in the carousel.

I also think the triangle looked fine before and do not understand the change for that one... it is

[2016-06-08 23:41] pixelzoom commented on #63
Actually... Looks kind of lousy with those circles around the stars.  That's fine for the general star icon, but maybe we want to use a different icon on the home screen.  Butterfly?

[2016-06-08 23:45] pixelzoom commented on #34
Since you're the lead, I assumed you were watching this repository.  Press the "Watch" button at the top-right corner of this page.  It should look like this:

![screenshot_12](https://cloud.githubusercontent.com/assets/3046552/15914746/be2794d4-2da0-11e6-9322-da624ac1b52b.png)

[2016-06-08 23:47] phet-steele commented on #63
My vote is for the famous C > C > Warhol! :wink:

[2016-06-08 23:47] pixelzoom commented on #34
@amanda-phet Assigning to you. Feel free to come up with a better solution. Recommend to discuss with @ariel-phet.  I have no time available to revisit this.  If you modify the icon, please do so by modifying https://github.com/phetsims/function-builder/blob/master/assets/card-icons.ai, and checking it into GitHub when you're done.

[2016-06-08 23:56] pixelzoom commented on #63
@phet-steele The question is which card icon to use, not which function to apply.

[2016-06-08 23:58] phet-steele commented on #63
@pixelzoom it was a joke, to say to make the image using the butterfly after applying those functions. Clearly, that would not be a good choice!

[2016-06-09 00:00] pixelzoom commented on #63
Yep, I got the joke. I just wanted to make sure that the others watching this issue don't get distracted :)

[2016-06-09 00:06] amanda-phet commented on #34
While I was on leave I only received emails for issues where I was assigned or mentioned, so that my inbox was not overwhelmed with emails.

[2016-06-09 00:57] ariel-phet commented on #34
@amanda-phet feel free to change however you like so long as the rotation center of the image matches the geometric center of the object. Everyone in the meeting at the time was fine with this solution, but I am sure everyone would be fine with different artwork. As most of the artwork was your brainchild, I am sure you will have a good idea.

[2016-06-09 00:59] ariel-phet commented on #63
I say definitely stick with Warhol as the function, but @amanda-phet you should choose the input you want.

[2016-06-09 01:38] pixelzoom commented on #44
@amanda-phet mentioning you so that you're aware that this change is going to be made. I don't recall if you attended the design meeting where this decision was made (no one has been making notes in the design doc for some time.) I will wait to proceed with this work until I have your OK.

[2016-06-09 01:41] pixelzoom commented on #37
I've been unable to find any "significant and unnecessary" work that's being done at startup time.  So it looks like we may need to choose between the 2 options described in https://github.com/phetsims/function-builder/issues/37#issuecomment-223441991.  @amanda-phet which option do you want to go with?

[2016-06-09 01:44] pixelzoom commented on #36
Of the options enumerated in https://github.com/phetsims/function-builder/issues/36#issuecomment-218569820, we are down to a choice between these two:

@amanda-phet What would you like to do?

[2016-06-09 06:53] jonathanolson commented on #31
Latest Scenery commit (https://github.com/phetsims/scenery/commit/768bf4537826a6bbda1ad6fc548883bc8b905179) appears to fix this. @phet-steele, can you verify?

[2016-06-09 06:54] jonathanolson commented on #32
Latest Scenery commit (https://github.com/phetsims/scenery/commit/768bf4537826a6bbda1ad6fc548883bc8b905179) appears to fix this. @phet-steele, can you verify?

[2016-06-09 06:54] jonathanolson commented on #56
Latest Scenery commit (https://github.com/phetsims/scenery/commit/768bf4537826a6bbda1ad6fc548883bc8b905179) appears to fix this. @phet-steele, can you verify?

[2016-06-09 06:55] jonathanolson commented on #35
Planning to test this tomorrow in person. @phet-steele, what device would be ideal for testing workarounds for this?

[2016-06-09 15:00] phet-steele commented on #35
@jonathanolson Tycho for sure.

[2016-06-09 15:08] phet-steele commented on #31
@jonathanolson verified fixed on the original device.

[2016-06-09 15:08] phet-steele commented on #32
@jonathanolson verified fixed on the original device.

[2016-06-09 15:09] phet-steele commented on #56
@jonathanolson verified fixed on the original device.

[2016-06-09 15:36] pixelzoom commented on #35
Regarding the fix, in https://github.com/phetsims/scenery/issues/518#issuecomment-224814416, @jonathanolson said:

Let's make sure that the fix hasn't impacted performance or responsiveness (e.g. https://github.com/phetsims/function-builder/issues/36, https://github.com/phetsims/function-builder/issues/37).

[2016-06-09 15:48] pixelzoom commented on #63
The best looking image will be one that doesn't have many obviously line (especially straight lines). That's why I suggested the butterfly - it's pretty "noisy" to begin with, so addition artifacts won't be as obvious.

[2016-06-09 15:57] pixelzoom commented on #63
Here's the Patterns icon using the butterfly, and actually running it through the Warhol function:

![screenshot_14](https://cloud.githubusercontent.com/assets/3046552/15936517/91a28a94-2e28-11e6-8d3d-810d58c51165.png)

[2016-06-09 16:06] pixelzoom commented on #63
I should also note that the above uses a higher-res version of the butterfly image, which adds ~16K to the uncompressed payload (which is relatively insignificant before and after compression).  I currently have the butterfly checked into master, but we can use any of the card images - some will obviously look better than others, as noted in https://github.com/phetsims/function-builder/issues/63#i

[2016-06-09 16:15] pixelzoom commented on #63
@amanda-phet To make your life easier, here are all 12 cards run through Warhol. Pick the one that you think would look best for the Patterns screen icon.

![warhol-cards](https://cloud.githubusercontent.com/assets/3046552/15937205/2645aada-2e2b-11e6-93d9-ea2c478b99c6.png)

[2016-06-09 16:18] pixelzoom commented on #63
Something else I just noticed...  If you pick one of the icons that has a "portrait" orientation (taller than it is wide), then you'll end up with a lot of blank space on the left and right of the home screen icon.  This would be an issue with (for example) the stick figure or beaker.

[2016-06-09 16:19] pixelzoom commented on #63
Eg, with the stick figure:

![screenshot_20](https://cloud.githubusercontent.com/assets/3046552/15937334/afc9f694-2e2b-11e6-94f8-6f1f4c145e94.png)

[2016-06-09 16:20] pixelzoom commented on #63
Eg, with the stick figure:

![screenshot_20](https://cloud.githubusercontent.com/assets/3046552/15937334/afc9f694-2e2b-11e6-94f8-6f1f4c145e94.png)

So another plus for the butterfly is that is has almost the same aspect ratio as the home screen icons, so it fill more of the icon.

[2016-06-09 16:49] jonathanolson commented on #35
The above workaround seems to fix the issue on Tycho. @phet-steele, can you test on other devices where this was happening (and maybe Tycho?)

[2016-06-09 16:59] pixelzoom commented on #35
Related Skype chat with @jonathanolson:

[6/9/16, 10:47:22 AM] Jonathan Olson: Pushed workaround for iOS white drag issue
[6/9/16, 10:47:30 AM] Jonathan Olson: Seems to fix it on Tycho without hurting performance
[6/9/16, 10:47:37 AM] Chris Malley: awesome
[6/9/16, 10:48:09 AM] Chris Malley: which repo has the workaround?
[6/9/16, 10:48:13 AM] Jonathan Olson: It turns the PatternsSceneControl to C

[2016-06-09 17:00] pixelzoom commented on #35
@jonathanolson Since we have a workaround in function-builder and not a fix... Is there any general issue that needs to be created out of this, for future exploration?

[2016-06-09 17:05] pixelzoom commented on #35
[6/9/16, 11:00:10 AM] Jonathan Olson: Up to you. If someone runs into a similar iOS bug, we'd want to explore more.
[6/9/16, 11:02:45 AM] Jonathan Olson: Usually, I'd be the one that would notice the similarity (I'd get pinged on something that Scenery-related), and would handle it then

[2016-06-09 17:06] pixelzoom commented on #35
@phet-steele I've verified this on my iPad2.  If all goes well with testing on other devices, please close this issue.

[2016-06-09 17:31] amanda-phet commented on #63
The butterfly looks great! Let's use that one.

[2016-06-09 17:33] pixelzoom commented on #63
Great, glad you like it, closing.

[2016-06-09 17:33] #63 closed

[2016-06-09 17:34] amanda-phet commented on #44
Thanks Chris. Please proceed- I believe I was at the meeting and am very much OK with the solution to have 1 card in the builder at a time.

[2016-06-09 21:07] pixelzoom commented on #32
I don't have an Edge test platform, and don't have time to set one up.  So I'll take @phet-steele's word for it and close this issue.

[2016-06-09 21:07] #32 closed

[2016-06-09 21:07] pixelzoom commented on #31
I don't have an Edge test platform, and don't have time to set one up.  So I'll take @phet-steele's word for it and close this issue.

[2016-06-09 21:07] #31 closed

[2016-06-09 21:07] pixelzoom commented on #56
I don't have an Edge test platform, and don't have time to set one up.  So I'll take @phet-steele's word for it and close this issue.

[2016-06-09 21:07] #56 closed

[2016-06-09 21:25] phet-steele commented on #35
@pixelzoom @jonathanolson fixed on first screen, but not the next two screens.

[2016-06-09 22:04] phet-steele opened #64 "Outputs in table when there exist no outputs"
Outputs can be displayed in the table even when no cards occupy the output carousel. This is both the Numbers and Equations screen. Requirements to do so:

1. Start with the table closed
2. Check see inside
3. Put some cards into the function machine. Do not let them enter the output carousel
4. Open the drawer, and outputs will be shown!

![fb01](https://cloud.githubusercontent.com/assets/5863899

[2016-06-09 22:05] phet-steele opened #65 "Odd layout of "Output = 0" equation"
On the Numbers screen, if ever the equation drawer would read "Output = 0", enabling the slope-intercept checkbox makes the equation display as so:

![screen shot 2016-06-09 at 3 42 50 pm](https://cloud.githubusercontent.com/assets/5863899/15947510/0f6be8f0-2e59-11e6-8dec-787ad3f3e6bd.png)

Nothing special to this issue, sim state doesn't matter.

Seen on OSX 10.11.5 Chrome. For phetsims/tasks/iss

[2016-06-09 22:08] pixelzoom opened #66 "[Safari] fails to start the first time"
On Safari desktop, version 1.0.0.-dev.47 and 1.0.0.-dev.48 fails to start the first time. You'll see the "Loading..." screen, followed by a completely black window.  Reloading the page starts the sim successfully.

Here's the console error:

[code]

... which points to LinearGradient, line 36:

[code]

No call stack, so I added this debug code immediately before the above statement:

[code]
...whi

[2016-06-09 22:08] pixelzoom commented on #66
@phet-steele FYI, since this bug is present in the version that I gave you for dev testing in https://github.com/phetsims/tasks/issues/613

[2016-06-09 22:12] pixelzoom commented on #66
The problem is indeed due to the change to the Patterns screen (#63).  Here's the code that creates that screen's icon, in FBIconFactory:

[code]

If I change to this, the problem goes away:

[code]

[2016-06-09 22:17] pixelzoom commented on #66
Adding debug output to `createPatternsScreenIcon`:

[code]

... prints `width=499 height=344`, which is the correct size of butterfly-hires.png.

[2016-06-09 22:20] pixelzoom commented on #66
More debug output:

[code]

... prints:

[code]

[2016-06-09 22:23] pixelzoom commented on #66
Explicitly specifying `initialWidth` and `initialHeight` fixes the problem:

[code]

I'll check this in, but I don't understand what's going on. @jonathanolson can you explain?

[2016-06-09 22:32] pixelzoom commented on #66
Is it because of where this occurs in the startup sequence? `FBIconFactory.createPatternsScreenIcon` is called in `PatternsScreen` constructor, which is called from `function-builder-main.js`.

[2016-06-09 22:36] pixelzoom commented on #35
Ugh, good catch @phet-steele, forgot to test on the other screens. And the workaround was added to `SceneControlButtons`, which is used only on the first (Patterns) screen.

[2016-06-09 22:40] pixelzoom commented on #65
Fixed in above commit, feel free to verify by pulling master. Here's what it looks like:

![screenshot_155](https://cloud.githubusercontent.com/assets/3046552/15948912/d3399e38-2e60-11e6-9f8e-548756d2cf84.png)

[2016-06-09 22:49] pixelzoom commented on #64
@phet-steele Good catch, fixed in above commit, feel free to confirm by pulling master.

[2016-06-10 04:06] jonathanolson commented on #66
Potential typo in console.logs. I see:
[code]
seems to be logging butterflyHiRes.width, whereas I would expect iconNode's bounds to be empty. Including initial dimensions should fix it.

[2016-06-10 14:20] pixelzoom commented on #66
Ah, indeed, sorry about that.

Why?

[2016-06-10 15:31] phet-steele commented on #65
@pixelzoom, verified.

[2016-06-10 15:31] #65 closed

[2016-06-10 15:31] phet-steele commented on #64
@pixelzoom, confirmed.

[2016-06-10 15:31] #64 closed

[2016-06-10 15:42] pixelzoom commented on #60
Most of the requirements were hashed out in 6/9/16 design meeting, see the design doc.  Assigning to me.

[2016-06-10 15:45] pixelzoom commented on #40
Reducing priority to low, because this is just an unlikely use case.

[2016-06-10 16:01] pixelzoom commented on #50
I still can't reproduce this.  @phet-steele do you recall if there was anything in the console?

[2016-06-10 16:02] phet-steele commented on #50
@pixelzoom I do recall, and there was nothing.

[2016-06-10 16:20] pixelzoom commented on #65
First published in http://www.colorado.edu/physics/phet/dev/html/function-builder/1.0.0-dev.49/function-builder_en.html

[2016-06-10 16:20] pixelzoom commented on #64
First published in http://www.colorado.edu/physics/phet/dev/html/function-builder/1.0.0-dev.49/function-builder_en.html

[2016-06-10 16:21] pixelzoom commented on #66
Fix published in http://www.colorado.edu/physics/phet/dev/html/function-builder/1.0.0-dev.49/function-builder_en.html.

@phet-steele Can you please verify?

[2016-06-10 16:34] pixelzoom commented on #66
@jonathanolson said:

I asked:

More verbosely... In https://github.com/phetsims/function-builder/issues/15, we determined that we can rely on images having been loaded if the code that uses the images is in the callback to `SimLauncher.launch`.  And that is the case here - `PatternsScreen` constructor is called in the callback (see function-builder-main.js), then `FBIconFactory.createPatternsScre

[2016-06-10 16:47] pixelzoom commented on #50
The card is definitely positioned where a 'see inside' window is.  And toggling the 'see inside' check box cause the card to flush out of the carousel.   So while, I can't reproduced this, I can look in CardNode's drag handler for a situation where a card is moved to a 'see inside' window without consulting the state of `seeInsideProperty`.

[2016-06-10 16:48] phet-steele commented on #66
@pixelzoom 1.0.0-dev.49 loads for me.

[2016-06-10 16:56] pixelzoom commented on #66
Thank you @phet-steele.

This issue can be closed after @jonathanolson clarifies https://github.com/phetsims/function-builder/issues/66#issuecomment-225231906, after which I may update documentation in FBIconFactory.

[2016-06-10 17:00] pixelzoom commented on #50
Skype chat with @phet-steele:

[6/10/16, 10:54:52 AM] Chris Malley: In your both your screenshot and video for the issue, you have a non-invertible function in the builder.  Did you ever reproduce this when a non-invertible function was not present?  Significant because it's a different code path for non-invertible functions.
[6/10/16, 10:58:40 AM] Steele Dalton: good question, and i think i only

[2016-06-10 17:07] pixelzoom commented on #50
More Skype chat:

[6/10/16, 11:06:53 AM] Steele Dalton: yea

[2016-06-10 17:11] pixelzoom commented on #50
Consider adding some debug output that is placed based on "educated guess" about what might be happening, then have @phet-steele reproduce and capture console output.

[2016-06-10 17:58] andrea-phet opened #67 "Card images randomly relocate and resize"
Test device: Lenovo Thinkpad w540, iPad Air 2

Operating System: Microsoft Windows 7 (Version 6.1.7601) and iOS 9.3.2

Browser: FF 46.0.2 & Safari 601.1

Problem description: Images on the cards in the output carousel sometimes become smaller and relocate to the bottom right corner of the card, like so:
![img_0044](https://cloud.githubusercontent.com/assets/7988696/15973480/e17804f8-2f00-11e6-9e46

[2016-06-10 18:00] phet-steele commented on #67
@pixelzoom here's an image from my FF on OSX 10.11.5. As you can see, there's a lot going on here:

<img width="1599" alt="screen shot 2016-06-10 at 11 51 24 am" src="https://cloud.githubusercontent.com/assets/5863899/15973909/f7fb93dc-2f02-11e6-931f-97aeb3d1fed8.png">

[2016-06-10 18:01] phet-steele commented on #67
@pixelzoom I can't manage to make this happen on Chrome.

[2016-06-10 18:24] pixelzoom commented on #67
Is the problem always in the output carousel? Or do you see this with any cards as you're dragging them around?

[2016-06-10 18:31] phet-steele commented on #67
Also while dragging, but only after leaving the machine as an output. All inputs look normal.

[2016-06-10 21:42] phet-steele commented on #50
@andrea-phet just confirmed this is not FF specific. She duplicated on IE11 and Chrome (on Win 7)

[2016-06-10 22:28] amanda-phet commented on #36
I don't think the performance is that bad when all outputs are populated. There is a moment where I see that things are changing, but it's not close to long enough for me to start feeling impatient.

My vote is to go with option (5).

[2016-06-10 22:33] pixelzoom commented on #36
I feel the same way - it's not an unreasonable delay, with minimal image on usability.

Closing.

[2016-06-10 22:33] #36 closed

[2016-06-10 22:33] amanda-phet commented on #37
On my macbook pro, using my home wifi, the differences are minor, but I think I prefer when the sim initializes on startup.

However, after reading your assessment of the performance on the iPad2, I think we should go with initializing on demand. It's very easy to get impatient on a tablet, so while there is still a wait-time, it is much shorter. 12s is a very long time.

[2016-06-10 22:53] pixelzoom commented on #67
Images are centered on the cards.  If an image isn't yet ready when the centering occurs, then its width and height will be zero, and the card's "center" will be (0,0), it's upper-left corner.

Reproduced in latest (1.0.0-dev.49 and master) with FF 47.0 on Mac OS X 10.11.5:
http://www.colorado.edu/physics/phet/dev/html/function-builder/1.0.0-dev.49/function-builder_en.html
You need to restart FF e

[2016-06-10 23:18] pixelzoom commented on #67
Happens immediately in this version on FF:
http://www.colorado.edu/physics/phet/dev/html/function-builder/1.0.0-dev.49/function-builder_en.html

Fix in this version - the only thing different is that I rolled back phetsims/scenery#548:
http://www.colorado.edu/physics/phet/dev/html/function-builder/1.0.0-dev.50/function-builder_en.html

@phet-steele please verify.  Close if it looks OK, thanks.

[2016-06-10 23:20] pixelzoom commented on #50
@phet-steele @andrea-phet When it was duplicated on IE11 and Chrome (Win7), did it always involve a non-intervertible function in the builder?

[2016-06-10 23:53] andrea-phet commented on #50
It was only tested with a non-invertible function. It would be hard to make it get stuck with an invertible function because the card would just flow to the other side. And I noticed I made the card get stuck after "bouncing" the card against the function, "catching" it, and repeat.

[2016-06-10 23:56] pixelzoom commented on #50
Thanks @andrea-phet.

[2016-06-10 23:59] pixelzoom commented on #37
When we add the Mystery screen, startup time is likely to increase by an additional 3-6 seconds.

[2016-06-13 14:41] pixelzoom commented on #35
Since only works for the first screen, I've removed the workaround that was applied in https://github.com/phetsims/function-builder/commit/b9c5b1bf1b17faf059da84e8d40ff063767ebb4f.

[2016-06-13 15:03] phet-steele commented on #67
@pixelzoom issue is not present after the rollback.

[2016-06-13 15:03] #67 closed

[2016-06-13 15:15] pixelzoom commented on #35
Workaround attempt #2:
Since the workaround in https://github.com/phetsims/function-builder/commit/b9c5b1bf1b17faf059da84e8d40ff063767ebb4f involved changing the Pattern's screen RadioButtonGroup to `renderer:'canvas'`, I tried putting a similar RadioButtonGroup on the Numbers screen, also with `renderer:'canvas'`. It did not fix the problem.

[2016-06-13 15:34] pixelzoom commented on #35
Workaround #3:
Since having a card in the output carousel seems to make the problem go away, I tried turning on "ghost card" images for the output carousels.  This did not fix the problem.

[2016-06-13 15:38] amanda-phet commented on #37
Is that on top of initializing on demand?

[2016-06-13 15:48] pixelzoom commented on #35
Workaround #4:
I noticed that if I dragged a card to the right of the builder, that also seemed to resolve the issue for subsequent cards that I dragged.  So I tried putting a card to the right of the builder, in the `cardDragLayer`, with `pickable:false`.  This did not fix the problem.

For posterity, here's the code that I added to the end of SceneNode's constructor:

[code]

[2016-06-13 15:55] pixelzoom commented on #37
No, that's the initialization time for the Mystery screen.  We'll pay that price either at startup, or on demand.  If we decide to go with "on demand", then the startup time for the Mystery screen be similar to what it is now (details in https://github.com/phetsims/function-builder/issues/37#issuecomment-223777555).

[2016-06-13 16:00] pixelzoom commented on #35
Workaround #5:
Since having a card in the output carousel (either by dragging one there or using `?populateOutput`) seems to make the problem go away, I tried adding a card to the output carousel.  Adding it using `MovableNode.addNode` would cause a lot of problems, so I tried adding it using `addChild`.  This did not fix the problem.

For posterity, here's the code added to the end of SceneNode:

[2016-06-13 16:27] pixelzoom commented on #35
Workaround #6 (commit immediately above):

Create 1 extra instance of each card, make the extra instances invisible and move them to their appropriate output carousel containers at startup. This *does* fix the problem, and it's encapsulated in SceneNode.

I'm a little perplexed about why it continues to work OK after Reset All or 'eraser' button, since those actions move the extra cards back to th

[2016-06-13 16:37] pixelzoom commented on #35
Workaround #7 (commit immediately above):

This is a variation of workaround 6.  Instead of creating an extra instance of every card, it create an extra instance of the first card only.  This *does* fix the problem, and will less overall resource requirements than workaround 6.

This workaround is demonstrated in:
http://www.colorado.edu/physics/phet/dev/html/function-builder/1.0.0-dev.52/function

[2016-06-13 16:50] pixelzoom commented on #35
Ah rats... Workarounds 6 & 7 actually don't work after Reset All or pressing the "eraser" button.  So I'll need to add code that re-applies the workaround after those actions.

[2016-06-13 16:53] pixelzoom commented on #35
Workaround 8 (commit immediately above):

Since workarounds 6 & 7 seemed to continue to work after Reset All or erase, I tried simply moving 1 instance of each card to the output carousel (as for the `?populateOutput` query parameter), then calling erasing the output carousel.  This did not work.

Because this did not work, it made me take a close look at workarounds 6 & 7.  And they actually don'

[2016-06-13 17:06] pixelzoom commented on #35
I'm going to go with workaround 7, which I've patched to be re-applied after Reset All and erase.  Here's a dev version that demonstrates the workaround:

http://www.colorado.edu/physics/phet/dev/html/function-builder/1.0.0-dev.53/function-builder_en.html

@phet-steele Could you please verify the workaround in this dev version? Make sure that it works on all screens, before and after pressing the

[2016-06-13 17:29] pixelzoom commented on #35
Skype chat with @phet-steele, testing 1.0.0-dev.53:

[6/13/16, 11:15:22 AM] Steele Dalton: naw, this is bad
[6/13/16, 11:15:27 AM] Chris Malley: ?
[6/13/16, 11:16:05 AM] Steele Dalton: start the sim and press the erase button a few times
[6/13/16, 11:16:15 AM] Chris Malley: checking...
[6/13/16, 11:16:22 AM] Steele Dalton: (which is the first thing i did :))
[6/13/16, 11:16:47 AM] Steele Dalton: t

[2016-06-13 17:46] pixelzoom commented on #35
I fixed the issues with Reset All and erase in workaround 7, see commit directly above.  But @phet-steele pointed out that while this extra card is invisible in the output carousel, it's is resulting in an entry in the table, and a point on the graph.  This is what I meant in https://github.com/phetsims/function-builder/issues/35#issuecomment-225626210, when I said "Adding it using MovableNode.add

[2016-06-13 17:55] pixelzoom commented on #35
And now the detective work begins... Looking through the couple of comments that @jonathanolson made in this issue:

https://github.com/phetsims/function-builder/issues/35#issuecomment-222059080:

Presumably this meant https://github.com/phetsims/scenery/issues/546, which fixed several Edge issues. That didn't fix this issue, which is undoubtedly why @jonathanolson applied the ineffective workarou

[2016-06-13 17:58] phet-steele commented on #40
@pixelzoom I believe you can do the same thing with cards in the output carousel. They no longer are recognized as populating the carousel; the erase button is grayed and the table is incomplete. Is this the same issue? It follows the same procedure of quickly clicking the card once it's in the output carousel.
<img width="1630" alt="screen shot 2016-06-10 at 12 18 34 pm" src="https://cloud.github

[2016-06-13 18:05] pixelzoom commented on #40
@phet-steele In the case with the output carousel, does scrolling the carousel cause the card to move? I suspect not, in which case the card is not actually in the output carousel, but likely still in the drag layer.

[2016-06-13 18:06] amanda-phet commented on #46
I took a stab at this too but I think the selfie you linked to actually works really well...
<img width="890" alt="screen shot 2016-06-13 at 11 58 39 am" src="https://cloud.githubusercontent.com/assets/7852916/16017706/47c47c82-315e-11e6-9341-9ba3f5aada98.png">

[2016-06-13 18:08] phet-steele commented on #40
Your suspicions are correct. If you notice in the screenshot, the carousel is on the third page, which shouldn't have the 2 in it.

[2016-06-13 18:09] ariel-phet commented on #46
@amanda-phet I think I would modify it slightly...make the phone a bit bigger and the "flash" a bit more prominent.

[2016-06-13 18:10] pixelzoom commented on #40
Well, it's good that this occurs with both the functions and cards, because they share the same dragHandler architecture.  May make it easier to figure out.  Or not.

[2016-06-13 18:17] pixelzoom opened #68 "why is it necessary to set initialWidth and initialHeight for Patterns screen icon?"
In https://github.com/phetsims/function-builder/issues/66, I discovered that it was necessary to set the `initialWidth` and `initialHeight` of the scenery.Image in `FBIconFactory.createPatternsScreenIcon`.

In https://github.com/phetsims/function-builder/issues/66#issuecomment-225231906, I asked @jonathanolson why this is necessary, but did not get an answer before he went on leave. I suspect that

[2016-06-13 18:18] pixelzoom commented on #66
Following up on my documentation question in https://github.com/phetsims/function-builder/issues/68.

Closing this issue.

[2016-06-13 18:18] #66 closed

[2016-06-13 18:21] pixelzoom commented on #40
Increasing priority to medium, since it affects both functions and cards.

[2016-06-13 18:31] pixelzoom commented on #40
Reproduced on my iPad2 with card in output carousel.

[2016-06-13 18:33] pixelzoom commented on #40
@phet-steele Your original report said "Hover over the function and prepare your finger" in one of the steps. Wondering if you seen this issue on non-touch devices?

[2016-06-13 18:33] pixelzoom commented on #40
Never mind, I just reproduce it on Chrome + Mac OS X.

[2016-06-13 18:47] pixelzoom commented on #40
Also reproduced the issue with functions on Chrome + Mac OS X.

[2016-06-13 18:48] pixelzoom commented on #40
This smells like an issue with Tween callbacks, which the sim relies on heavily for animation.

[2016-06-13 19:26] pixelzoom commented on #40
Adding debug output to FunctionNode `animateToCarousel` and `animateToBuilder`, here's what should happen in the typical case when a function (eg Rotate90) is dragged to a slot that is occupied by another function (eg Mirror):

[code]

Here's what I see if I click quickly after releasing Mirror in the same scenario:

[code]
Note that "Rotate90.animateToBuilder begin" appears 3x at the end, there i

[2016-06-13 19:30] pixelzoom commented on #40
Tween isn't involved here at all, the animation is handled by Movable.step and its animationCompletedCallback field.  Tween animation is used only for fading between scenes in this sim.

[2016-06-13 20:18] pixelzoom commented on #40
Problem identified and fix.  It is possible (and necessary in many situations) for a Movable's `animationCompletedCallback` to set an additional `animationCompletedCallback`.  But the implementation of Movable.isAnimating was preventing these additional callbacks from executing in some situations.  This situation (rapidly clicking on something close to its location in a carousel) was such a situat

[2016-06-13 20:22] pixelzoom commented on #50
@phet-steele It's highly likely that the fix for https://github.com/phetsims/function-builder/issues/40#issuecomment-225695603 applies to this issue.  But since I still haven't been able to reproduce this issue, I'm not certain.  Could you please test this dev version to see if the issue is still present?
http://www.colorado.edu/physics/phet/dev/html/function-builder/1.0.0-dev.54/function-builder_

[2016-06-13 21:11] pixelzoom commented on #46
+1 for bigger phone and more "flash".

[2016-06-13 21:21] pixelzoom commented on #34
@amanda-phet I'm not wild about the circle either.  Another way to solve this problem is to give the circle zero opacity in Illustrator.  That will ensure that it helps to properly define the size of the image file, but that it won't actually appear in the image.

To clarify, it would look like this in Illustrator:

![screenshot_22](https://cloud.githubusercontent.com/assets/3046552/16023483/2f9ce

[2016-06-13 21:22] phet-steele commented on #40
@pixelzoom used an autoclicker going at ~50 clicks a second, and this issue looks resolved on a smattering of platforms.

[2016-06-13 21:24] pixelzoom commented on #40
Thanks @phet-steele, I'm going to consider this closed.

[2016-06-13 21:24] #40 closed

[2016-06-13 21:25] phet-steele commented on #50
@pixelzoom the group spent a combined hour on this issue, with no luck in reproducing. Since the only way to verify this issue is to spend a vast amount of time trying to reproduce it, I think an hour is good enough. So my verdict is it's fixed.

[2016-06-13 21:28] pixelzoom commented on #52
Mention that the first instance of each function on the Mystery screen is always the same, identify what those functions are, describe how to get back to them using the "Reset All" button.

[2016-06-13 21:30] pixelzoom commented on #50
Thanks group! Closing.

[2016-06-13 21:30] #50 closed

[2016-06-13 21:30] ariel-phet commented on #34
Ah, nice solution @pixelzoom

[2016-06-13 21:35] amanda-phet commented on #34
My first thought was to make the circle white so it was "invisible" until I realized it would turn black with the color inversion function and look funny with the warhol function... I'm SO glad that making the circle 0% opaque works for this.

Thank you!!

[2016-06-13 21:36] pixelzoom commented on #34
@amanda-phet If you're satisfied with this solution, feel free to close the issue.

[2016-06-13 21:37] #34 closed

[2016-06-13 21:38] pixelzoom commented on #35
@phet-steele Skye:

Good to know.  But "open a 2nd tab" probably isn't a viable workaround.

[2016-06-13 21:45] pixelzoom commented on #37
Query parameters related to initialization have been revised.  In anticipation of the Mystery screen, you can now specify when to initialize ScreenViews and Scenes.

`initScreenViews`: when to initialize screen views: 'onDemand' or 'onStart' (default)
`initScenes`: when to initialize scenes: 'onDemand' or 'onStart' (default)

[2016-06-13 22:04] pixelzoom commented on #35
@jonathanolson said:

I've gone through the layering and clipping, and haven't identified anything that can be changed. The layering order and clipping is very specific to achieving the desired effects/features.

[2016-06-13 22:11] pixelzoom commented on #35
Here's the layering in SceneNode. I've indicated the layers that involve 1 or more clipAreas.

[code]

[2016-06-13 22:21] pixelzoom commented on #35
Workaround-9:
Tried grouping layers that use clipArea, as shown below. Did not fix.

[code]

[2016-06-13 22:29] pixelzoom commented on #35
Workaround-9b:

Another layering variation (add layers with clipAreas first where possible) as shown below. This *does* appear to fix the problem.

[code]

Demonstrated in http://www.colorado.edu/physics/phet/dev/html/function-builder/1.0.0-dev.55/function-builder_en.html

[2016-06-13 22:33] pixelzoom commented on #35
@phet-steele Could you please test drive 1.0.0-dev.55?

[2016-06-13 22:44] pixelzoom commented on #35
@phet-steele reported that the problem was still occurring.  After clearing web data and restarting Safari, I am also seeing the problem again.  So apparently workaround-9b didn't change anything.

[2016-06-13 23:03] pixelzoom commented on #35
OK... So no luck with the layering order workaround.  @jonathanolson's first workaround involved setting `renderer:'canvas'` for PatternsSceneControl.  So I'll try setting `renderer:'canvas'` for miscellaneous UI components in hope that one of them will matter.

[2016-06-13 23:21] pixelzoom commented on #35
Workaround-10a:

For `platform.mobileSafari`, I applied `{ renderer: 'canvas'}` to `controlsLayer` (misc UI controls) in SceneNode.  After clearing web data and restarting Safari several times, this appears to fix the problem for all screens. (But given the history of this bug, it will probably reanimate immediately after @phet-steele starts testing :)

@phet-steele please try to break this dev ve

[2016-06-13 23:29] ariel-phet commented on #35
I tried 1.0.0-dev.56 on Loeblein (Ipad2 that had previously exhibited the issue), and I cannot reproduce.

Tried both before and after clearing website data, and all looks good. Although not an exhaustive "full-Steele" test, it appears promising.

[2016-06-14 15:17] pixelzoom commented on #35
The fix is actively only on mobile Safari, and it involves using 'renderer: 'canvas'  for the controls layer - which includes the Reset All button, eraser button, and page controls for the carousels.  The only negative consequence might be in rendering quality for those controls, but they look fine to me.

Closing.  (Whew.)

[2016-06-14 15:17] #35 closed

[2016-06-14 15:23] pixelzoom opened #69 "revisit workaround for iOS rendering bug"
A workaround was added to `SceneNode` to address https://github.com/phetsims/function-builder/issues/35. After lots of trial and error, I discovered that using `renderer: 'canvas'` for the `controlsLayer` makes the problem disappear.  No idea why this works.  Consider revisiting in the future.

The relevant code in `SceneNode` is:

[code]

[2016-06-14 15:23] pixelzoom commented on #35
Skype chat from a last week with @jonathanolson:

[6/9/16, 11:00:10 AM] Jonathan Olson: Up to you. If someone runs into a similar iOS bug, we'd want to explore more.
[6/9/16, 11:02:45 AM] Jonathan Olson: Usually, I'd be the one that would notice the similarity (I'd get pinged on something that Scenery-related), and would handle it then
[6/9/16, 11:17:18 AM] Chris Malley: OK, I won't bother.

So ev

[2016-06-14 15:25] pixelzoom commented on #35
And thank you @phet-steele for testing this multiple times as I investigated various workarounds.

[2016-06-14 19:09] amanda-phet commented on #46
<img width="678" alt="screen shot 2016-06-14 at 1 08 28 pm" src="https://cloud.githubusercontent.com/assets/7852916/16056078/210218ba-3231-11e6-8b5c-7b176b103478.png">

[2016-06-14 20:09] pixelzoom commented on #46
It looks like the person got significantly larger.  I think the suggestion was to make the phone and flash relatively larger.

[2016-06-14 21:06] pixelzoom commented on #46
@amanda-phet If you make changes to card-icons.ai, make sure you grab the latest from GitHub. I just made a change to it (grouped the circle with the star for #34).

[2016-06-14 22:46] amanda-phet commented on #46
I also made the torso shorter... which is perhaps the more noticeable difference.

How about this?
<img width="682" alt="screen shot 2016-06-14 at 4 44 31 pm" src="https://cloud.githubusercontent.com/assets/7852916/16062279/590ff902-324f-11e6-9b5a-ce47ab515414.png">

I wouldn't make the phone and flash too much larger or else they might start looking like a hairbrush, or just something else entire

[2016-06-15 14:34] pixelzoom commented on #46
Looks good to me. @ariel-phet?

It would be nice to get this into the sim and do a couple of quick interviews.

[2016-06-15 18:34] ariel-phet commented on #46
Looks good to me!

[2016-06-15 18:43] ariel-phet commented on #46
And @pixelzoom - @amanda-phet is planning to do some interviews, but at this point I think it is fine for them to wait until mystery screen. Since students did not have a problem with the last iteration of the identity function (no brightness), we could always change back to that if the selfie analogy does not fly.

[2016-06-16 16:10] pixelzoom commented on #60
Email from @amanda-phet on 6/14/16:

Hi Chris,

Beth narrowed the functions down to 148 possible combinations. Her spreadsheet is here: https://docs.google.com/spreadsheets/d/1leVeZl6LgXkXR4Khjk_j6LRp3OECaivzqIq82PaY0wE/edit?pli=1#gid=0

What form would be useful for you to have these mystery combinations?

Also, let me know if you think a design meeting would be useful for this week.

Thanks,
Ama

[2016-06-16 17:10] pixelzoom commented on #46
Got it.

@amanda-phet When you're ready, add the new icon to the latest card-icons.ai (in GitHub).  Then either send the modified file to me, or check it back into GitHub.   Then I'll create the PNG file and integrate it into the sim.

[2016-06-16 17:13] pixelzoom commented on #35
After making a bunch of changes to SceneNode for the new Mystery screen, I retested and verified that this issue has not returned.  Here's a dev version with the changes:

http://www.colorado.edu/physics/phet/dev/html/function-builder/1.0.0-dev.57/function-builder_en.html

[2016-06-16 17:16] pixelzoom commented on #60
Work on this issue is proceeding in the design doc, and the Mystery screen is mostly implemented. So I'm closing this issue.

[2016-06-16 17:16] #60 closed

[2016-06-16 17:18] pixelzoom commented on #37
This dev version has most of the Mystery screen fleshed out, and is indicative of the initialization time required for that screen:
http://www.colorado.edu/physics/phet/dev/html/function-builder/1.0.0-dev.57/function-builder_en.html

[2016-06-16 19:34] pixelzoom commented on #46
Revised function-icons.ai received from @amanda-phet via email, integrated in this version:
http://www.colorado.edu/physics/phet/dev/html/function-builder/1.0.0-dev.58/function-builder_en.html

@amanda-phet If this looks OK, go ahead and close this issue.

[2016-06-16 20:55] pixelzoom commented on #37
6/16/16 design meeting:

Leaning towards paying the full price of initialization on startup.  Measure times (similar to https://github.com/phetsims/function-builder/issues/37#issuecomment-223777555) for all 4 screens, so that we can evaluate.

[2016-06-21 17:42] pixelzoom commented on #52
Mystery screen: Indicate how many functions must be moved to output carousel before the "See Inside" check box is enabled.  Ditto for when the "reveal function identity" buttons are enabled.

[2016-06-21 22:41] pixelzoom opened #70 "colors for Mystery functions"
Not even considering colorblind compatibility, generating random colors that don't conflict proved to be difficult.  A much simpler approach is to use a pool of predefined colors, randomly choose from the pool until all of the colors have been used, then start over.  That approach is demonstrated in this dev version:

http://www.colorado.edu/physics/phet/dev/html/function-builder/1.0.0-dev.61/func

[2016-06-21 22:57] pixelzoom opened #71 "challenges for Mystery screen"
The challenges (function combinations) for the Mystery screen are specified in https://docs.google.com/document/d/1S6pkoJODPNZFtkLaSmk2MKzh2aAH6lk30pqCTxTX8z8/edit#heading=h.ie707iinqicg

In 6/16/16 design meeting, we decided that we would not use negative operands with plus and minus operators (e.g. `+ -2` or `- -1`). This rules out many of the challenges in the spreadsheet - which has not been u

[2016-06-21 23:01] pixelzoom commented on #46
@amanda-phet please review.

[2016-06-21 23:40] pixelzoom opened #72 "Mystery screen has a blank space in card carousels"
We decided that the cards in the Mystery screen would have range [-4,6], and there would be no 'x' card. This leaves a blank space in the carousel, as shown in the screenshot below.  This bugs me a little, and I wonder if it will be distracting/problematic.  I'm creating this issue so that we take a look at this, and make a conscious decision to leave it as is or do something about it.

Dev versio

[2016-06-21 23:56] ariel-phet commented on #70
@pixelzoom hadn't we also discussed having the question marks also change color to add a bit of "fun" factor? Certainly not a showstopper, and certainly not necessary for publication, but thought this might be a good place to make that note.

[2016-06-22 00:03] pixelzoom commented on #70
If you want to further increase the complexity, then by all means provide me with a question mark color for each background color.  But if you introduce dark function colors, there's going to be problems with how they look on the dark builder.  So I really don't see the point.

[2016-06-22 00:05] pixelzoom opened #73 "should the "See Inside" feature be available for 1-slot builders?"
We currently provide the "See Inside" check box only for builders that have more than 1 function slot.  For example in the "Patterns" screen, one scene has no "See Inside" feature:

![screenshot_39](https://cloud.githubusercontent.com/assets/3046552/16250316/b013c2c6-37d9-11e6-8da5-e217ed1a3519.png)

While the other scene does:

![screenshot_40](https://cloud.githubusercontent.com/assets/3046552/1

[2016-06-22 00:17] pixelzoom commented on #70
So just to clarify... I did start down the path of randomly generating colors. There are many non-trivial problems to solve, including:

(1) The colors have to look good against the (dark) builder color.
(2) The colors have to look good with each other in combinations of more than 1 function.
(3) The colors have to look good with a black question mark, or the question mark color also needs to be g

[2016-06-22 03:07] pixelzoom commented on #70
If we really want to be certain that colors work together for combined function, the color pool could consist of sets of 1, 2 or 3 colors. Randomly choose a set that has the correct number of colors (same as number of functions), randomize the order, and apply the colors to the functions.

[2016-06-22 14:10] pixelzoom commented on #71
I've edited the above comment to show all 3 pools, as they are currently implemented.

[2016-06-22 14:14] pixelzoom commented on #70
Sets of colors (as described in https://github.com/phetsims/function-builder/issues/70#issuecomment-227631239) is not a good idea, has problems.

How about sets of colors that are of similar shade?

[code]

The algorithm for N functions would be:
1. randomly pick N sets of colors (eg, reds, blues, yellows)
2. randomly pick 1 color from each set

This would ensure that we don't have similar colors

[2016-06-22 14:59] amanda-phet commented on #70
I think what you described above, if easy to implement, solves a lot of problems with adjacent colors.

I'm not *too* concerned about color-blindness in this particular case, because the colors do not hold particular significance. A user really only needs to know that the refresh button worked, and they will see that because there will be at least a minor change in the function appearance.

[2016-06-22 15:00] amanda-phet commented on #46
Looks good. If there are issues from interviews I can re-open this issue.

[2016-06-22 15:00] #46 closed

[2016-06-22 16:53] pixelzoom commented on #70
I've implemented the "color sets" approach described in https://github.com/phetsims/function-builder/issues/70#issuecomment-227757240.

Here's a dev version:
http://www.colorado.edu/physics/phet/dev/html/function-builder/1.0.0-dev.62/function-builder_en.html?testScreen

Got to the "Test" screen, select "Mystery function colors" from the combo box, and you'll see the complete set of colors, as show

[2016-06-22 17:07] pixelzoom commented on #71
@amanda-phet I see that you've added @bethstade to the list of assignees. Does that mean that she is responsible for this? What is the deadline?

[2016-06-22 17:13] pixelzoom commented on #70
1.0.0-dev.62 also has a new query parameter. `showAllColors` bypasses the "random" algorithm and instead assigns colors to functions in the order that they appear in the pool, so you can cycle through all colors and see them in context.  For example,
with `showAllColors`, the first 3-function challenge looks like this:

![screenshot_42](https://cloud.githubusercontent.com/assets/3046552/16276106/4

[2016-06-22 19:23] pixelzoom commented on #71
A thought... Perhaps instead of enumerating specific challenges, we should enumerate the order of operators that are desired. Then randomly generate operands from the range of valid values for each operator.

For example, "+ N * M" may be a desired order of operations for the 2-function challenges, where N is [0,3] and M is [-3,3].

[2016-06-22 19:25] pixelzoom commented on #71
+ : [0,3]
- : [0,3]
* : [-3,3]
/ : [-3,-1],[1,3]

[2016-06-22 22:00] amanda-phet commented on #70
Replace Magenta (255, 26, 255) with (255, 0, 255).

The colors all looked good to me against the blue builder and also next to each other (in case you get two adjacent colors).

[2016-06-22 22:06] amanda-phet commented on #72
I have this as an agenda item for 6/23's design meeting. I personally do not mind the blank space. It's clearly the space where x was on the previous screen, and should be obvious to the user (or prompt a discussion about) why they can't use it here!

[2016-06-22 22:07] amanda-phet commented on #73
I have this as an agenda item for 6/23's design meeting. Given how the see inside window currently functions, it probably makes sense to include it on the single builder. However I want a chance to explain why it was not originally designed to be there...

[2016-06-22 22:16] amanda-phet commented on #71
I assigned @bethstade so she could also weigh in.

The benefit of creating a pool is that we could have more "*M +N" challenges than "+N *M", so my next comment will include modified pools of 2 and 3.

[2016-06-22 22:20] amanda-phet commented on #71
// pool of 2-function challenges
  var POOL2 = [
    '+ 1 * 2', // this challenge is always selected on startup and reset
    '+ 1 + 3',
    '+ 1 + 2',
    '* 2 * 0',
    '* 0 * 1',
    '* -1 * -2',
    '* -3 * 2',
    '* 3 + 3',
    '* 2 + 3',
    '* 2 - 2',
    '* 3 - 1',
    '* -3 + 0',
    '* -2 + 1’,
    '* 1 + 3',
    '* 1 - 2',
    '* 0 + 3',
    '* 0 - 2’,
    '/ 1 - 1',
    '/ 3 - 3’,

[2016-06-22 22:25] amanda-phet commented on #71
// pool of 3-function challenges
  var POOL3 = [
    '+ 2 * 1 + 2', // this challenge is always selected on startup and reset
    '* -3 * -1 * 0',
    '* 3 * -2 * -1',
    '* 2 * -2 * -2',
    '/ 3 / -1 / -1',
    '/ 2 / 3 / -2',
    '/ 1 / -1 / 2',
    '* 3 * -3 + 3',
    '/ 2 * 2 - 2' ,
    '+ 3 * 1 + 3',
    '- 1 / 1 - 1',
    '+ 3 * 0 + 3',
    '+ 2 * -2 + 3',
    '+ 0 * -3 + 0',
    '+ 1 - 3

[2016-06-22 22:39] pixelzoom commented on #70
@amanda-phet:

Done in 1.0.0-dev.63, see the "Test" screen:
http://www.colorado.edu/physics/phet/dev/html/function-builder/1.0.0-dev.63/function-builder_en.html?testScreen

You will never get 2 colors from the same "set".  The algorithm is: For a challenge with N functions, choose N colors sets, then choose 1 color from each set.

If this looks good, feel free to close.

[2016-06-22 22:42] pixelzoom commented on #71
POOL1 is OK as is?

POOL2 and POOL3 revised in 1.0.0-dev.63:
http://www.colorado.edu/physics/phet/dev/html/function-builder/1.0.0-dev.63/function-builder_en.html

Run with `?playAll&showAnswer` to play all challenges with answer visible:
http://www.colorado.edu/physics/phet/dev/html/function-builder/1.0.0-dev.63/function-builder_en.html?playAll&showAnswer

[2016-06-22 22:42] amanda-phet commented on #70
Right. Regardless, I think the colors all looked good on the builder. Thanks Chris!

[2016-06-22 22:42] #70 closed

[2016-06-22 22:43] pixelzoom commented on #70
👍

[2016-06-22 23:33] pixelzoom commented on #44
FYI... This is proving to be really difficult.

[2016-06-22 23:34] pixelzoom commented on #44
FYI... This is proving to be really difficult, not "relatively easy" as I guessed in https://github.com/phetsims/function-builder/issues/44#issuecomment-221971960.

[2016-06-22 23:42] pixelzoom commented on #44
It involves significant changes to (1) the drag handler in CardNode, the most complicated piece of code in the sim, (2) animation in CardNode, the second most complicated piece of code in the sim.