[2016-06-22 23:49] bethstade commented on #71
This is Amanda's call.
I got the list started, but I defer to her judgement.
I am out of town for 2 weeks, but will try to jump in when I can.
Thanks,
Beth

----- Original Message -----From: Amanda McGarry <notifications@github.com>To: phetsims/function-builder <function-builder@noreply.github.com>Cc: bethstade <stadee@colorado.edu>, Mention <mention@noreply.github.com>Sent: Wed, 22 Jun 2016 15:11

[2016-06-22 23:50] amanda-phet commented on #71
Yes.

[2016-06-23 00:54] pixelzoom commented on #72
Not saying we should do this... But if we added a '7' card, the largest y value is `7 + 3 * 3 * 3 = 90`.
It's trivial to customize the range of the graph, so for the "Mystery" screen we could use ranges x=[-8,8] and y=[-100,100].  This is demonstrated in this dev version, and it doesn't look too bad:

http://www.colorado.edu/physics/phet/dev/html/function-builder/1.0.0-dev.64/function-builder_en.h

[2016-06-23 17:05] pixelzoom commented on #72
I added some code to the graph to verify that each point is in range.  Based on the current set of 3-function challenges, the y range used in the Numbers screen (y=[-90,90]) works for the Mystery screen as well.  So if we added a '7' card, we'd only need to adjust the x axis range -- either by increasing to [-8,8] or shifting to [-6,8].

That said... The safest thing would be to also adjust the y

[2016-06-23 18:10] #73 closed

[2016-06-23 18:44] pixelzoom commented on #71
6/23/16 design meeting: Everything good here, closing.

[2016-06-23 18:44] #71 closed

[2016-06-23 19:45] pixelzoom commented on #72
6/23/16 design meeting decisions:
- it makes sense to add the '7' card to the Mystery screen, since the Numbers screen also has a '7' card.
- use the same graph ranges and tick labels in both the Equations and Mystery screens
- change the graph ranges to x=[-8,8] and y=[-100,100]
- change the y-axis tick labels to -50 and 50

Done in above commit.

Note to self: Some cleanup of options propagation

[2016-06-23 19:58] pixelzoom commented on #73
6/23/16 design meeting:  For consistency, we decided to include the 'See Inside' feature for 1-slot builders, for the reasons cited in https://github.com/phetsims/function-builder/issues/73#issue-161567218.  Done in above commit. Closed.

[2016-06-23 20:28] pixelzoom commented on #52
Mystery screen info.

Enabling controls:
• 1 function must put in the output carousel before the "See Inside" check box is enabled.
• 3 functions must be in the output carousel at the same time before the "reveal function" (eyeball) toggle buttons are enabled

On startup and "Reset All", the default challenge for each scene is:
• 1 function: `+ 3`
• 2 functions: `+ 1 * 2`
• 3 functions: `+ 2 * 1 +

[2016-06-23 20:37] pixelzoom commented on #72
Work completed, closing.

[2016-06-23 20:37] #72 closed

[2016-06-23 20:41] pixelzoom commented on #37
6/23/16 design meeting:  Decided to pay the full price of initialization on startup.  I'll profile the sim on desktop on iPad2, as I did in https://github.com/phetsims/function-builder/issues/37#issuecomment-223777555, so that we have a clear picture of what the Mystery screen has added.

[2016-06-23 20:52] pixelzoom commented on #37
Profiling with:
http://www.colorado.edu/physics/phet/dev/html/function-builder/1.0.0-dev.66/function-builder_en.html

All times are in milliseconds.

MacBookPro5,3 / Chrome 51.0.2704.103 / requirejs mode:

[code]

MacBookPro5,3 / Chrome 51.0.2704.103 / built mode:

[code]

[2016-06-23 21:09] pixelzoom commented on #37
iPad2 / iOS 9.3.2 / Safari / requirejs mode:
[code]

iPad2 / iOS 9.3.2 / Safari / built mode:
[code]

[2016-06-23 23:17] pixelzoom commented on #37
@amanda-phet @ariel-phet The initialization times for iPad2 are shown in the comment above. We're looking at 13-14 seconds.  Patterns and Mystery screens account for most of this, 5 seconds each. Unlike desktop, built mode doesn't seem to initialize any fast than requirejs mode, no idea why that's the case, but I confirmed on multiple runs.

[2016-06-24 01:50] pixelzoom opened #74 "add QA credits"
This sim currently doesn't show any QA credits in the About dialog.

[2016-06-24 02:01] pixelzoom commented on #74
@ariel-phet @phet-steele Who should be listed in the QA section of the credits? Please provide names exactly as you want them to appear. Thanks.

[2016-06-24 18:10] ariel-phet commented on #74
@phet-steele I think you know this better than me at this point!

[2016-06-24 19:06] brroberts1231 opened #75 "Challenge #1 is always the same color"
I know that it is intended for resetting or refreshing, that it will always start on challenge 1 and use the same colors each time.
But it's also stated in phetsims/tasks#628 that

If you go through and generate new challenges until you get a repeat of the first one, it will be the same color every time. As far as I can tell, all of the other challenges use different colors each time they are repe

[2016-06-24 19:11] pixelzoom commented on #75
The current behavior is as desired - the default challenge is always the same, and always uses the same colors. This is so that the teacher has a reproducible challenge for starting activities, etc.

The statement "You should never see the same colors used for functions twice in a row" means that when switching from one challenge to the next, you should never have the same colors for 2 challenges

[2016-06-24 19:11] #75 closed

[2016-06-24 19:22] phet-steele commented on #74
Steele Dalton, Amanda Davis, Andrea Lin, Ben Roberts

[2016-06-24 19:32] #74 closed

[2016-06-24 19:34] pixelzoom opened #76 "confirm credits"
The current credits in the sim are shown below. QA credits were provided by @phet-steele in #74.

@amanda-phet If credits look correct, please close this issue. Otherwise indicate what I should change, and assign back to me. Thanks.

![screenshot_158](https://cloud.githubusercontent.com/assets/3046552/16348531/6049ee62-3a10-11e6-8870-c283eb6f2744.png)

[2016-06-24 20:41] pixelzoom commented on #44
As the only remaining issue, this is now my top priority.

[2016-06-24 21:51] pixelzoom commented on #75
And I should also say... Thank you @brroberts1231 for reporting this. I don't want to discourage this type of report - it's always better to report if there's any question.  My wording in phetsims/tasks#628 was clearly to blame.  I should have said ""You should never see the same colors used *in two consecutive challenges*".

[2016-06-24 23:51] ariel-phet commented on #76
@pixelzoom -- @samreid should be added to the credits in the "team" section

[2016-06-25 00:36] pixelzoom commented on #76
@ariel-phet Sam Reid is in team credits, first name on the 2nd line.

[2016-06-25 03:16] ariel-phet commented on #76
Indeed he is...I swear the first time I read that I did not see him, my mistake!

[2016-06-27 00:03] amanda-phet commented on #76
We should credit Amy Hanson for interviews.

[2016-06-28 15:38] andrewadare opened #77 "Many positional parameters in some constructors"
This is not an explicit code review checklist item. Nor is any action necessarily expected--this is more of a code design question for my information.

Several constructors take a large number of parameters. If I check for functions taking more than 6 parameters by adding `"max-params": [2,6]` to my .eslintrc, I get the following:
[code]
(Six is an arbitrary limit.) There are two reasons to bring

[2016-06-28 16:31] andrewadare opened #78 "Docs in RationalNumber"
Functions like [plus](https://github.com/phetsims/function-builder/blob/58e10dfcb1fa1a5554ab231a1c0ef92823a592ef/js/common/model/RationalNumber.js#L68-L72) could use documentation.

I see that the file is marked with a TODO for relocation; apologies for jumping the gun if adding docs for this is already on your list.

[2016-06-30 00:27] pixelzoom commented on #76
@amanda-phet PhET's credits policy is to put someone in 1 section of the credits. I put Amy Hanson in the "Team" section because, in addition to interviews, she also pitched in on some artwork revisions.  Would you prefer that I move her to "Interviews"?

[2016-06-30 00:38] pixelzoom commented on #77
The cases that you're referring to are all constructors. General guidelines for constructors are:

(1) Everything required to instantiate a valid object must be passed to the constructor.
(2) Anything that DOES have a reasonable default value is part of the options hash.
(3) Anything that DOES NOT have a reasonable default value is a required parameter.

I'll review the examples that you've pointe

[2016-06-30 00:39] pixelzoom commented on #77
Related to #55 (code review).

[2016-06-30 00:40] pixelzoom commented on #78
Related to #55 (code review).

[2016-06-30 00:43] pixelzoom commented on #78
Documentation in this case seemed a little redundant, since all of the documented functions would have this general form:

[code]

E.g. for "plus":

[code]

But if you think it's useful, let me know and I'll add the doc.

[2016-06-30 00:49] ariel-phet commented on #78
unassigned @andrea-phet since seemed like a "fat finger"

[2016-06-30 00:52] pixelzoom commented on #78
yep, thanks.

[2016-06-30 01:03] pixelzoom commented on #55
@andrewadare If you create any issues related to this code review, please mention this issue and label them as "dev:code-review". Thanks.

[2016-06-30 16:28] amanda-phet commented on #76
Either way is fine, I didn't realize she had contributed to artwork.

[2016-06-30 16:34] pixelzoom commented on #76
@amanda-phet @amyh-phet You currently share credit on the following icons: start.png, rotate90.png, rotate180.png.  The attribution (in license.json) reads: ```created by Amanda McGarry and Amy Hanson```

[2016-06-30 16:49] amyh-phet commented on #76
@pixelzoom  and @amanda-phet    Given that I only made minor tweaks to the artwork, I'm thinking that I don't need to be credited for the artwork.  Happy to just be listed as a team member.

[2016-06-30 16:57] pixelzoom commented on #76
@amyh-phet OK, I've removed your credits on the artwork.  Do you want to be listed under "Team" or "Interviews"?

[2016-06-30 17:07] amyh-phet commented on #76
@pixelzoom    Since I was only involved in interviews, it would make sense for that to be where I'm given credit.  I know the other team members had much more contribution to the sim that I have.

[2016-06-30 17:45] pixelzoom commented on #76
After all that... HTML5 sims don't have an "Interviews" credits category. According to @jbphet, a decision was long ago to fold this category into "Team".  So @amyh-phet you shall continue to be credited in "Team".

[2016-06-30 17:45] #76 closed

[2016-06-30 20:22] pixelzoom commented on #78
Docs added to RationalNumber.  I also renamed a couple of things and fixed a bug in https://github.com/phetsims/function-builder/commit/9f4a9c5d0604ec84c3aece389ae906ec9eb23805.

@andrewadare have a look and see if this is better.

[2016-06-30 20:52] pixelzoom commented on #77
Here are the offenders.

(1) Card nodes and their containers.

CardNode is the base type, and its constructor is:

[code]

Subtypes ImageCardNode, NumberCardNode and EquationCardNode have constructors with identical parameters.

Card "containers" are responsible for creating CardNode subtypes, via this abstract function:

[code]

This function is implemented (with identical parameters) by subtype

[2016-06-30 20:56] pixelzoom commented on #77
So back to what I said in https://github.com/phetsims/function-builder/issues/77#issuecomment-229529624... CardNode and FunctionNode encapsulate *everything* related to their drag handling and animation, and the downside to that is that they need to know about all of the things that are involved in drag handling and animation.  The alternative is to distribute responsibility for drag handling and

[2016-06-30 22:07] andrewadare commented on #77
@pixelzoom I agree with your assessment that trying to split the drag handling and animation concerns would not buy much, and is not worth the cost in stability (at this late stage) and in dev time. This has been informative for me, and worth discussing. Closing now.

[2016-06-30 22:07] #77 closed

[2016-06-30 22:12] andrewadare commented on #78
Looks perfect now, nothing left for me to complain about here. Closing.

[2016-06-30 22:12] #78 closed

[2016-07-01 15:44] jbphet commented on #76
For reference, here is the issue where simplifying the credits was discussed: https://github.com/phetsims/joist/issues/157.  In comment https://github.com/phetsims/joist/issues/157#issuecomment-56721253 @pixelzoom talks about removing the "Interviews" section and moving those people onto the "Team" section.

[2016-07-01 15:54] pixelzoom commented on #76
The decision to remove the "Interviews" category was made in https://github.com/phetsims/joist/issues/157#issuecomment-55424134, I merely implemented it.

[2016-07-01 18:22] pixelzoom commented on #55
@andrewadare I still need to address #44, and I'd like to make another pass at some of the "warts" that I've listed in [TODO.txt](https://github.com/phetsims/function-builder/blob/master/TODO.txt).  But in the interested of staying on schedule, I think you should begin the review. I've written [model.md](https://github.com/phetsims/function-builder/blob/master/doc/model.md) and [implementation-not

[2016-07-01 19:11] pixelzoom commented on #77
@andrewadare I added this comment to the root cause of the parameter explosion, the CardNode and FunctionNode constructors:

[code]

[2016-07-01 21:53] pixelzoom commented on #44
@amanda-phet @ariel-phet Here's a dev version that implements this constraint. Please verify that this meets your expectations.

http://www.colorado.edu/physics/phet/dev/html/function-builder/1.0.0-dev.68/function-builder_en.html

When a card reaches a 'see inside' window, cards in any other windows are animated to the output carousel, without stopping at any other windows. If multiple cards are i

[2016-07-01 21:58] pixelzoom commented on #37
@amanda-phet @ariel-phet I'd like to close this issue. Have you reviewed the profiling in https://github.com/phetsims/function-builder/issues/37#issuecomment-228180214? Have you tried the sim on iPad2? Are you still OK with the decision to incur the full initialization cost on startup?

[2016-07-01 22:04] pixelzoom opened #79 "create screenshot for web page"
We'll need to create the screenshot for this sim's page on the PhET site.

Assigning to @amanda-phet to specify what configuration of the sim she'd like to show in the screenshot.

[2016-07-01 22:05] pixelzoom commented on #79
@amanda-phet You put the sim in the state you want, then take a screenshot and attach it to a comment in this issue.  I'll use that to create the final screenshot file.

[2016-07-01 22:08] pixelzoom opened #80 "colorblind testing"
The master checklist (https://github.com/phetsims/function-builder/issues/2) shows this task as not completed:

- [ ] Mockups checked for colorblind and greyscale

Has this sim received colorblind testing?

[2016-07-01 22:11] pixelzoom opened #81 "review pointerAreas"
I've adjusted pointerAreas (mostly touchAreas) throughout the sim. From the master checklist in https://github.com/phetsims/function-builder/issues/2, this task needs to be completed by the lead designer:

- [ ] Carefully review `?showPointerAreas`

[2016-07-01 22:22] pixelzoom commented on #81
By the way...  You'll see pointerAreas for some user-interface components that are not visible on screen due to an issue in scenery (https://github.com/phetsims/scenery/issues/221).   In Function Builder, this occurs for carousels and drawers.  For example, see the screenshot below. The areas indicated with green arrows are buttons for scenery-phet.NumberPickers that are on the second page of the

[2016-07-01 22:24] pixelzoom commented on #81
By the way...  You'll see pointerAreas for some user-interface components that are not visible on screen due to an issue in scenery (https://github.com/phetsims/scenery/issues/221).

In Function Builder, this occurs for carousels and drawers.  For example, see the screenshot below. The areas indicated with green arrows are buttons for NumberPickers that are on the second page of the function carou

[2016-07-01 22:32] pixelzoom commented on #52
Perhaps mention the Warhol function, in case someone doesn't get it.

[2016-07-01 22:35] pixelzoom commented on #52
Describe the "see inside" feature.

The total number of cards that can be "parked" in the "see inside" windows is at most 1. "Parked" means that the card is sitting in the window, and is not being dragged. When a 2nd card reaches a window, any card that may currently be parked in a window is animated to the output carousel.

[2016-07-01 22:35] pixelzoom commented on #52
Describe the "hide functions" feature in the first 3 screens.

[2016-07-01 22:36] pixelzoom commented on #52
For the screens that involve numbers, mention that the carousel contains a page of negative numbers [-4,-1] that might be overlooked.

[2016-07-01 22:37] pixelzoom commented on #52
Mention how the input and output carousels are synchronized so that corresponding inputs and outputs remain vertically aligned.

[2016-07-01 22:40] pixelzoom commented on #52
Describe how the table works.  A row is added when a card is removed from the input carousel, and it's output cell is initially empty. The row's output cell is filled in when its card is put in the output carousel.  A row is removed when its card is returned to the input carousel.  Rows are sorted by ascending x (input) value.

[2016-07-01 22:42] pixelzoom commented on #52
Describe the "helpful" equation form, since it is non-standard (something that PhET invented).   The specification is in [equation-formats.md](https://github.com/phetsims/function-builder/blob/master/doc/equation-formats.md), which may or may not be useful to teachers.

[2016-07-01 22:44] pixelzoom commented on #52
Describe how the graph works:
• A point is added when its number card is added to the output carousel.
• A point is removed when its number card is removed from the output carousel.
• The line representing the functions in the builder is added when the 'x' card is added to the output carousel.
• The line is removed when the 'x' card is removed from the output carousel.

[2016-07-01 22:45] pixelzoom commented on #52
Indicate that slope-intercept format is shown on the 'x' card.

[2016-07-01 22:48] pixelzoom commented on #52
Describe how the sim handles non-invertible functions.  Give some examples.

[2016-07-02 01:51] ariel-phet commented on #37
I am getting an average stratup time on iPad 2 (iOS 9.3.2) of around 12.5 seconds.

This is an acceptable cost to pay up front for being able to move seamlessly through the sim.

Great job getting it as light weight as possible! Closing

[2016-07-02 01:51] #37 closed

[2016-07-02 01:54] ariel-phet commented on #37
BTW, just as an added note, it is blazing fast on desktop (~3s).

[2016-07-02 03:14] ariel-phet commented on #44
@pixelzoom this meets my expectations of what we described. Although you cannot statically compare to identical pattern inputs in the builder, it is still quite easy to put one input in the builder and drag and hold the other at the see inside windows, so I am not concerned that we no longer have the static comparison functionality.

When we saw this commit, the whole QA crew pulled the latest ver

[2016-07-02 15:05] pixelzoom commented on #59
This is unlikely to ever be addressed.  And if it is, it will be addressed in scenery, where it has been reported previously.  So closing.

[2016-07-02 15:05] #59 closed

[2016-07-02 21:59] andrewadare commented on #77
:thumbsup:

[2016-07-05 14:51] andrewadare commented on #55
*NOTE! Prior to doing a code review, copy this checklist to a GitHub issue for the repository being reviewed.
If a code review is part of a third-party contract, create that GitHub issue when the repository is created, so that the issue
matches the checklist agreed upon in the contract.*

PhET code-review checklist
=============

**Build and Run Checks**

- [ ] Does the sim pass lint?
- [ ] Does t

[2016-07-05 15:20] ariel-phet commented on #55
Edit - made checklist first comment (if not the first comment the progress bar does not show up on the short view)

[2016-07-05 15:27] andrewadare commented on #55
I love that no ModelViewTransform was used for this sim...excludes the possibility of an entire class of aggravating bugs right out of the gate.

[2016-07-05 15:49] andrewadare opened #82 "Wrong link in implementation notes"
Looks like the link SeeInsideLayer in implementation-notes.md is pointing to the docs directory.

[2016-07-05 15:54] andrewadare opened #83 "Minor typo in implementation-notes.md"
I tried clicking the pencil to add the word "role", but it said I should be on a branch, so I'll let you do it.

[2016-07-05 16:00] pixelzoom commented on #83
Related to #55 code review.

[2016-07-05 16:00] pixelzoom commented on #82
Related to #55 code review.

[2016-07-05 16:02] pixelzoom commented on #82
Fixed, closing.

[2016-07-05 16:02] #82 closed

[2016-07-05 16:03] #83 closed

[2016-07-05 16:29] andrewadare opened #84 "Assertion failure with stringTest=xss"
This is a Skype transcription, slightly edited:

[7/5/16, 10:21:39 AM] Andrew Adare: When I run with stringText=xss, I get this

Assertion failed: Unexpected tag in normal mode: <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAADUlEQVQIW2NkYGD4DwABCQEBtxmN7wAAAABJRU5ErkJggg==" onload="window.location.href=atob('aHR0cHM6Ly93d3cueW91dHViZS5jb20vd2F0Y2g/dj1kUXc0dzlXZ1hjU

[2016-07-05 16:30] andrewadare commented on #84
From @pixelzoom:

Suspicion confirmed. Hooke's Law doesn't use SubSupText and experiences no failure. Acid-Base Solutions uses SubSupText and fails in the same way as Function Builder.

[2016-07-05 16:39] pixelzoom commented on #84
This was reported previously by @jbphet in https://github.com/phetsims/scenery/issues/528.  That issues is closed and indicates that @jonathanolson pushed a fix.  But there's no indication that anyone verified @jonathanolson's fix, and it's still broken in all sims that use SubSupText.  So reopening that issue.

In the meantime, there's nothing I can do here. I would recommend ignoring the issue a

[2016-07-05 16:45] andrewadare commented on #55
Directory structure is in good order:

[code]

[2016-07-05 16:54] andrewadare commented on #55
@pixelzoom, there's not a 1-to-1 correspondence between image files and AI assets. Are the AI files sprite sheets? The file names, being plural, would suggest so.

[2016-07-05 16:58] pixelzoom commented on #55
All of the card icons are in one .ai file, all of the function icons are in another.

We decided awhile back not to require 1 asset for each image file, since it's doesn't seem to be a natural way for the graphic artists to work.   The downside is that an artist may change something else (or worse, get their asset file from somewhere other than GitHub), and you'll have a difficult time noticing th

[2016-07-05 16:59] andrewadare commented on #55
Thanks for the explanation. I found the README, which explains how the images were created. It's well documented, so I can sign off on this.

[2016-07-05 17:01] pixelzoom commented on #55
And to more completely answer your question... All icons in a .ai file are on 1 art board (or whatever the Illustrator term is).  They are not on separate sprite sheets.  So to create PNG files, you have to go through a few cumbersome manual steps.

[2016-07-05 18:25] ariel-phet commented on #84
@pixelzoom we are probably going to ignore for now. Please discuss with @jbphet about translation/Rosetta issues.

marking for dev meeting, but I will also ping @jonathanolson if he has an opinion.

[2016-07-05 18:28] ariel-phet commented on #84
@pixelzoom would it also perhaps be best to move this discussion to special ops?

[2016-07-05 18:36] pixelzoom commented on #84
I have no idea, I'm not up to speed on this issue.

[2016-07-05 18:47] pixelzoom commented on #44
@amanda-phet Your feedback? Top priority.  I'd like to move forward with final dev test, and this is the blocking issue.

[2016-07-05 19:06] amanda-phet commented on #44
It's not quite ideal, for the reasons you point out. We'll probably need to let teachers knows that you can drag a card without letting go.

Can I use this version in my interviews this afternoon? I'd want to see if students ever move a card forward or if they always "push" it out with another input.

[2016-07-05 19:06] pixelzoom commented on #44
Yes, feel free to use this version in interviews.

[2016-07-05 19:10] andrewadare opened #85 "Spurious pointer areas?"
When running with `showPointerAreas`, I see a few surprising rectangles:

![image](https://cloud.githubusercontent.com/assets/154163/16596485/66df5600-42b1-11e6-9140-ab66e1aa92d5.png)

![image](https://cloud.githubusercontent.com/assets/154163/16596517/8b6031ca-42b1-11e6-91ae-ac8530babbc2.png)

These may not be a problem at all, just curious what they are. They are not clickable or draggable for m

[2016-07-05 19:14] pixelzoom commented on #85
This is a scenery issue.  Described in detail in https://github.com/phetsims/function-builder/issues/81#issuecomment-230060282.

Closing.

[2016-07-05 19:14] #85 closed

[2016-07-05 19:15] pixelzoom commented on #85
Related to #55.

[2016-07-05 19:16] ariel-phet commented on #44
@pixelzoom since you said you touched a significant portion of code - it seems there would be no penalty for moving ahead with dev testing regardless. Please make a task if you see fit.

[2016-07-05 19:22] pixelzoom commented on #44
@ariel-phet dev testing doesn't happen until after final change requests are received from the team. The deadline for final change requests is next Monday, 7/11/16.

[2016-07-05 19:33] pixelzoom opened #86 "sim reviewed by team"
Function Builder is complete, and ready for review by the team.  Use this dev version:

http://www.colorado.edu/physics/phet/dev/html/function-builder/1.0.0-dev.69/function-builder_en.html

**Final change requests are due by Monday, July 11, 9:00am**.  While that is technically the deadline, the schedule is tight.  If you can review sooner, then final dev testing can begin sooner, and that will in

[2016-07-05 19:35] samreid commented on #86
Should we be reviewing this version? http://www.colorado.edu/physics/phet/dev/html/function-builder/1.0.0-dev.69/function-builder_en.html

[2016-07-05 19:36] pixelzoom commented on #86
Yes, thanks, you beat me to it :)

[2016-07-05 19:40] ariel-phet commented on #86
Have looked at the sim many times, but give it another walk through. All looks great!

[2016-07-05 19:52] andrewadare commented on #55
I cannot think of anything else to test or comment on beyond the issues already filed. Because of my head start last week, I was able to go through the formal checklist today fairly quickly.

As far as I am concerned, FB passes the code review with flying colors.

[2016-07-05 19:55] samreid commented on #86
I took a brief test drive on mac firefox, everything looks very nice, no issues noted.

[2016-07-05 20:29] amyh-phet commented on #86
Tested on PC using Chrome and looked great.  No issues to report.

[2016-07-05 20:55] pixelzoom commented on #55
Thanks @andrewadare for the speedy review.

The related open issue pertain to when to add PhET-iO instrumentation to code that was migrated to scenery-phet, and that is being tracked in phetsims/scenery-phet#228 and phetsims/scenery-phet#242.

No other outstanding issues, so closing this review.

[2016-07-05 20:55] #55 closed

[2016-07-05 20:57] pixelzoom commented on #44
@amanda-phet said:

This is being tracked in https://github.com/phetsims/function-builder/issues/52#issuecomment-230061663.

[2016-07-05 20:59] pixelzoom commented on #81
Raising priority to "top", since this is a prerequisite for meeting the "final change requests" deadline in https://github.com/phetsims/function-builder/issues/86.

[2016-07-05 20:59] pixelzoom commented on #80
Raising priority to "top", since this is a prerequisite for meeting the "final change requests" deadline in https://github.com/phetsims/function-builder/issues/86.

[2016-07-05 21:01] pixelzoom commented on #44
@amanda-phet's feedback didn't indicate any discrepancy between the implementation and the expected behavior, so I'm going to close this issue.  If any problems are noted during interviews that require revising how this works, please open a new issue.

[2016-07-05 21:01] #44 closed

[2016-07-05 22:00] ariel-phet commented on #80
I just ran through the live sim in gray-scale

- All looks good (warhol still functions quite nicely)
- cycling through the triple mystery generally shows good color value contrast

The only two minor things I see are:
1. Mystery(A) and Mystery(B) look similar on patterns screen
2. All multiplication functions look similar color value on numbers screen

I do not think either of these is a concern

[2016-07-06 00:15] bethstade commented on #86
Looks consistent with what was discussed. Everything I tried seemed functional and correct.

[2016-07-07 05:32] kathy-phet opened #87 "change behavior of "helpful" equation on "times 0" scenario"
Function Builder is amazing. I am logging this issue to revisit the question of the equation behavior with times "0". As I played with the sim this time, I was struck by the significant change in the equation display when I passed through 0. So instead of keeping the "helpful" view, it simplified all the way down to -9 in my case, instead of reading y=3(0x-3). Since the slope intercept form reads

[2016-07-07 05:34] kathy-phet commented on #86
Looks great. Submitted one pedagogical question for consideration in case of "times 0" scenario.

[2016-07-07 16:03] amanda-phet opened #88 "Layout bug in equations"
In one interview, a student thought that the "slope-intercept" checkbox was meant to change the appearance of the fraction in the example below. This seems to be a layout bug.

<img width="619" alt="screen shot 2016-07-07 at 10 00 00 am" src="https://cloud.githubusercontent.com/assets/7852916/16660019/ec5a0a2c-4429-11e6-8695-d649f2948841.png">

<img width="588" alt="screen shot 2016-07-07 at 10 00

[2016-07-07 16:10] pixelzoom commented on #88
In case it's difficult to see by comparing screenshots... The vertical spacing in the fraction is different for the 2 equation forms.   There's more space in the "helpful" form.

[2016-07-07 16:13] pixelzoom commented on #87
This will take 2-4 hours to change and test.

To stay on schedule, I'll need a decision on this by 9am on Monday 7/11.

[2016-07-07 16:15] pixelzoom commented on #87
Mentioning @ariel-phet and @bethstade, since they were involved in specifying the current behavior.  Please weigh in.

[2016-07-07 16:21] ariel-phet commented on #87
I defer to @amanda-phet - this is a pedagogical question in my mind.

[2016-07-07 16:35] pixelzoom commented on #88
Fixed in the above commit. But I noticed that the options to the 2 equation forms are duplicated in HelpfulEquationNode and SlopeInterceptEquationNode.  We want the options for both equations to be (and to stay!) the same, so I'm going factor out the duplication.

[2016-07-07 17:41] amanda-phet commented on #87
I reviewed the equation formats [here] (https://github.com/phetsims/function-builder/blob/master/doc/equation-formats.md) and the suggestion that Kathy is making is more consistent with the non-zero formatting. I think we should go ahead with this change.

Looking at the table of formats, the following rows will change:

| Builder  | Helpful | Slope-Intercept |
| ------------- | ------------- | --

[2016-07-07 18:05] pixelzoom commented on #87
OK, I'll proceed with this change.

[2016-07-07 18:41] pixelzoom commented on #84
7/7/6 dev meeting: Not necessary to address this before 1.0.0 release. This will be handled in scenery (see  phetsims/scenery#528) when @jonathanolson returns.

Closing.

[2016-07-07 18:41] #84 closed

[2016-07-07 18:48] pixelzoom commented on #88
@amanda-phet Please verify in this dev version:

http://www.colorado.edu/physics/phet/dev/html/function-builder/1.0.0-dev.70/function-builder_en.html

But note that you'll never see 'y = 2/3' for the helpful form, because of the change request in https://github.com/phetsims/function-builder/issues/87.  It will now be 'y = [0x + 2]/3'.

If everything looks OK, please close this issue.

[2016-07-07 18:51] pixelzoom commented on #87
Specification (equation-formats.md) has been updated, and the change is implemented in this dev version:
http://www.colorado.edu/physics/phet/dev/html/function-builder/1.0.0-dev.70/function-builder_en.html

@amanda-phet and @kathy-phet please verify that this is what you had in mind.

[2016-07-07 18:58] kathy-phet commented on #87
Looks great on this fix! Thanks!

However, I see the font size in the card used up space is much smaller now. I find that hard to read and I think it makes it harder to see the input-output association with the very small values there. And projection will be really hard. Not sure which issue this change was requested in.

[2016-07-07 19:06] pixelzoom commented on #87
@kathy-phet said:

I made no changes to font sizes. So I'm not clear on what you're saying here, or what you're proposing to fix/change.

But `y = [0x]/3` is of course going to be larger than `y = 0`, so it's necessarily going to be shrunk down to fit in the equation panel.  And this is no different than what we were doing for non-zero cases, e.g. `y = [2x]/3`.

[2016-07-07 21:07] kathy-phet opened #89 "Font in emply input card slot small"
Working on windows, chrome.

Here is what it looks like now:
![image](https://cloud.githubusercontent.com/assets/5096804/16669773/8c120d24-4454-11e6-8430-09dd4230b00d.png)

It was fine in v69

[2016-07-07 21:09] kathy-phet commented on #89
Here is my info:
Troubleshooting information (do not edit):
Name: ‪Function Builder‬
URL: http://www.colorado.edu/physics/phet/dev/html/function-builder/1.0.0-dev.70/function-builder_en.html
Version: 1.0.0-dev.70 2016-07-07 18:29:29 UTC
Features missing: touch
User Agent: Mozilla/5.0 (Windows NT 6.1; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/51.0.2704.103 Safari/537.36
Language: en

[2016-07-07 21:45] kathy-phet commented on #87
I opened a new issue to address the above observation.

Regarding this issue, feel free to close --- all looks good to me.

[2016-07-07 23:59] amanda-phet opened #90 "Change "slope-intercept" checkbox to "simplified""
In the 7/5 interviews the students already had knowledge of linear functions and graphing, so seeing the word "slope-intercept" in the equation drawer set them up to be thinking about graphing lines, slope, and y-intercept. They both had issues with the graph not zoomed in enough to see the y-intercept. We designed the graph to be a more "qualitative" representation of the function. Therefore, I t

[2016-07-07 23:59] amanda-phet commented on #87
Looks great to me!

[2016-07-07 23:59] #87 closed

[2016-07-08 00:00] amanda-phet commented on #89
I am seeing that too.

[2016-07-08 00:01] amanda-phet commented on #88
I tried some similar functions and the layout looks consistent to me.

[2016-07-08 00:01] #88 closed

[2016-07-08 00:05] amanda-phet commented on #86
Based on interviews and my final look-through, the only open question for me is the "selfie" icon for the identity function. In my 3 interviews this week, students did not associate the selfie icon with the "does nothing" function. After talking with them, I still don't have a better idea. A mirror could work, but then we'd need a new icon for reflection... perhaps a reflection of a tree in a pond

[2016-07-08 00:09] amanda-phet commented on #81
These look good to me.

[2016-07-08 00:09] #81 closed

[2016-07-08 00:14] amanda-phet commented on #80
I looked at color-blindness in the original design and just did a quick check with features that were more recently added and it looks good to me.

[2016-07-08 00:14] #80 closed

[2016-07-08 00:18] amanda-phet commented on #86
My husband said, "have you thought about a Congress icon?" 😜

[2016-07-08 02:41] pixelzoom commented on #90
I'm very surprised at this request. "Simplified" is a standard math term and is most definitely *not* slope-intercept form.  And it also implies that the unchecked version is "unsimplified", which it also most definitely is not.

I'll certainly defer to you on this, but I suspect that you'll get some blowback from math educators.  And since this will involve changing a string key, it will be relat

[2016-07-08 02:42] pixelzoom commented on #90
I'm very surprised at this request. "Simplified" is a very specific standard format, and is most definitely *not* the same as slope-intercept form.  And labeling this check box as such also implies that the unchecked version is "unsimplified", which it also most definitely is not.

I'll certainly defer to you on this, but I suspect that you'll get some blowback from math educators.  And since this

[2016-07-08 02:45] pixelzoom commented on #90
@amanda-phet Instead of labeling the check box "simplified", how would you feel about labeling it "simplify".  This seems more appropriate because to simplify an equation means to put in a form that is simpler than the original, whereas "simplified" is a specific form of equation.

[2016-07-08 02:52] pixelzoom commented on #90
Related to #86

[2016-07-08 02:52] pixelzoom commented on #89
Related to #86

[2016-07-08 02:52] pixelzoom commented on #88
Related to #86

[2016-07-08 02:52] pixelzoom commented on #87
Related to #86

[2016-07-08 02:54] pixelzoom opened #91 "revise icon for identity function?"
In https://github.com/phetsims/function-builder/issues/86#issuecomment-231242747, @amanda-phet said:

Based on interviews and my final look-through, the only open question for me is the "selfie" icon for the identity function. In my 3 interviews this week, students did not associate the selfie icon with the "does nothing" function. After talking with them, I still don't have a better idea. A mirro

[2016-07-08 02:54] pixelzoom commented on #86
Moved the issue of the identity function icon to #91, assigned to @amanda-phet.

[2016-07-08 02:55] pixelzoom commented on #91
See https://github.com/phetsims/function-builder/issues/46 for previous discussion about the identity icon.

[2016-07-08 03:04] pixelzoom commented on #89
Thanks, good catch. Bug was introduced in https://github.com/phetsims/function-builder/commit/79f56eb30fd927f04b3b33fef7be6a527b9fb467 for #88.  Fixed in above commit, demonstrated in this dev version:

http://www.colorado.edu/physics/phet/dev/html/function-builder/1.0.0-dev.71/function-builder_en.html

@kathy-phet or @amanda-phet please verify.  Whoever does verify can close this issue if all loo

[2016-07-08 03:05] pixelzoom commented on #90
@amanda-phet Here's a version that labels the check box as 'simplify', let me know if this feels OK.

http://www.colorado.edu/physics/phet/dev/html/function-builder/1.0.0-dev.71/function-builder_en.html

[2016-07-08 03:07] pixelzoom commented on #86
In https://github.com/phetsims/function-builder/issues/86#issuecomment-231242747, @amanda-phet said:

@amanda-phet Are you ready to check your name off in https://github.com/phetsims/function-builder/issues/86#issue-163928049? If so, I can proceed with dev testing.

[2016-07-08 03:10] pixelzoom commented on #91
This would be a reflection about the x axis, not the y axis, and would also require a change to the code that implements the image processing function.

[2016-07-08 03:15] pixelzoom commented on #46
@amanda-phet noted that there were still issues with the identity function during interviews. Rather than reopen this issue, we're tracking in https://github.com/phetsims/function-builder/issues/91.

[2016-07-11 00:01] amanda-phet commented on #86
Yes. Checked off.

[2016-07-11 00:22] amanda-phet commented on #90
I'm glad you suggested "simplify". I think it works really well. Thanks for making this change.

[2016-07-11 00:22] #90 closed

[2016-07-11 00:22] amanda-phet commented on #89
Seems to be working just fine now. Closing.

[2016-07-11 00:22] #89 closed

[2016-07-11 00:26] amanda-phet commented on #91
@ariel-phet has mentioned in the past a "blank" card, and reminded me of it again. I never wanted to do it, because the identity is a function and I wanted it to be represented in some way, but a blank card seems like it would be very clear to users that the function "does nothing" and there is no icon to figure out.

So I'll make an executive decision to leave this card blank (no icon). I would m

[2016-07-11 14:46] pixelzoom commented on #86
Team review completed. Change requests are all tracked in separate issues.

Closing.

[2016-07-11 14:46] #86 closed

[2016-07-11 14:49] pixelzoom commented on #86
@amanda-phet I've checked off and dated "Lead designer sign off" in the master checklist (#2), since all of its sub-items are completed.

[2016-07-11 15:00] pixelzoom commented on #91
The icon has been removed on the identity function in this dev version:
http://www.colorado.edu/physics/phet/dev/html/function-builder/1.0.0-dev.72/function-builder_en.html

After removing the icon, I noticed that the identity and Warhol functions have background colors that are nearly identical.  Without the icon on the identify function, this seemed problematic - students might make an associati

[2016-07-11 15:59] amanda-phet commented on #91
I think yellow works, but I prefer a softer shade. Can you use #FFF692?

[2016-07-11 16:08] pixelzoom commented on #91
#FFF692 is 'rgb( 255, 246, 146 )', changed in this dev version:
http://www.colorado.edu/physics/phet/dev/html/function-builder/1.0.0-dev.73/function-builder_en.html

@amanda-phet please verify.

Screenshot:

![screenshot_49](https://cloud.githubusercontent.com/assets/3046552/16737569/3b030bb0-474f-11e6-939c-1125ef1933ab.png)

[2016-07-11 16:11] amanda-phet commented on #91
Looks great. Thanks!

[2016-07-11 16:11] #91 closed

[2016-07-11 16:31] pixelzoom commented on #79
Expected to publish 1.0.0 sometime in the next few days, so raising priority to high.

[2016-07-11 17:43] phet-steele opened #92 "Double Warhol image is wrong"
No setup required, just put in two Warhol functions. The image in one of the quadrants is wrong, and only shows a single color. I did not find a combination of functions to remedy this.
![doublewarhol](https://cloud.githubusercontent.com/assets/5863899/16740446/603adaea-475c-11e6-8dc9-5dd26b2bd88b.PNG)

Single Warhol is fine. Seen on Win 10 browsers and OSX 10.11.5 browsers. For phetsims/tasks/iss

[2016-07-11 17:51] phet-steele commented on #92
@pixelzoom believes this problem has been around since 1.0.0-dev.18 and is a result of #14. For reference here is first a double Warhol image from dev.17 followed by a double Warhol image from dev.18. Notice the dev.18 image is slightly different than what's being seen in 1.0.0-rc.1,  where the butterflies can still be partially seen. dev.17 completely wipes out the images.

17
![doublewarhol17](h

[2016-07-11 18:00] pixelzoom commented on #92
This has been the case since 1.0.0-dev.18, when Warhol was reimplemented to address #14.

Looking at a single Warhol, I can guess what is causing this:

![screenshot_50](https://cloud.githubusercontent.com/assets/3046552/16741053/dd2680de-475e-11e6-89cb-a97adf11de61.png)

When mapped to grayscale, all of the pixels in the lower-right will have intensities in the same "band", and will be therefore

[2016-07-11 18:13] amanda-phet commented on #79
Curious if @phet-steele has any ideas for something fun here. I'd like to show the Equations screen, but not be too overwhelming.

![screen shot 2016-07-11 at 12 12 30 pm 2](https://cloud.githubusercontent.com/assets/7852916/16741529/e2987926-4760-11e6-80fb-723601e894dd.png)

[2016-07-11 18:33] pixelzoom commented on #92
To achieve the desired result with both single and double Warhol, it's important that the color maps maintain a high contrast between foreground and background.  That was not the case with the current colormaps, which is why the foreground and background were mapped to the same color when double-Warhol was applied.

I've tweaked the colormaps, and here's what the butterfly looks like with single W

[2016-07-11 18:41] pixelzoom commented on #79
Keep in mind that this screenshot is going to be displayed at 128x84 and 300x180.   Here's what your screenshot about will look like at these sizes:

![128](https://cloud.githubusercontent.com/assets/3046552/16742377/b17e8d5e-4764-11e6-8721-5f06327480ea.png)

![128](https://cloud.githubusercontent.com/assets/3046552/16742380/b41720a8-4764-11e6-9be8-522acac4a4bb.png)

At these sizes, equations and

[2016-07-11 18:44] pixelzoom commented on #79
Also note that the navigation bar needs to be included in the screenshot.  Which means the above example will become even less legible.

[2016-07-11 18:59] pixelzoom commented on #92
Btw... It's the upper-left and lower-right quadrants that look somewhat similar (probably even more so to colorblind people).  If we wanted to correct this, we'd need to totally change the colormap for one of these quadrants.

[2016-07-11 19:21] phet-steele commented on #92
Skype with @pixelzoom:
[1:10:48 PM] Steele Dalton: if two quadrants in a Warhol look very similar after applying a grayscale, would that be indicative of a colorblind issue?
[1:13:39 PM] Chris Malley: If you set up Warhol -> Warhol -> Grayscale, then yeah, that will be somewhat similar to what a colorblind person will see.  And you'll definitely see some solid gray rectangles, where the foreground

[2016-07-11 19:27] pixelzoom commented on #92
Since the point of Warhol is to get an idea of what the function does rather than to critically examine the resulting image, I guess I'm not too concerned about it. But that doesn't mean that others on the team won't want to tweak it some more.

@amanda-phet @ariel-phet If you want to tweak colormaps further, then I'd recommend that I create a tool that allows you experiment with various colors yo

[2016-07-11 19:34] ariel-phet commented on #92
@pixelzoom I agree the point is to get an "idea of the function" -- the single warhol in the dev version you sent works perfectly (even in grayscale). So if the double has a few rectangles that appear to be a solid block of color I am not too concerned. If someone walks away and can say "that function take the input splits it into four small blocks, and rearranges the color somehow" that is defini

[2016-07-11 19:41] amanda-phet commented on #92
I 100% agree with @ariel-phet 's comment. Let's leave it as it is right now in 1.1.0-dev.1.

[2016-07-11 19:57] pixelzoom commented on #92
Ok, leave as is.

I'll leave this assigned to me, so that I include it in regression testing for 1.0.0-rc.2.

[2016-07-11 20:12] phet-steele opened #93 "Equations screen slight memory leak"
@pixelzoom this is an incredibly slow memory leak, but it's a leak nonetheless and it wouldn't feel right not reporting it. It probably isn't an incredibly pressing issue.
I constrained the sim to the Equations screen, ran fuzzMouse, and took a heap snapshot every 5 minutes for an hour with this URL http://www.colorado.edu/physics/phet/dev/html/function-builder/1.0.0-rc.1/function-builder_en.html?

[2016-07-11 22:01] phet-steele commented on #79
I moved away from the graph since it may be hard to see, and made the outputs whole numbers since fractions would also be harder to see.
![img_0103](https://cloud.githubusercontent.com/assets/5863899/16748043/14315b24-477f-11e6-96fc-e299f68e362b.jpeg)
![img_0103](https://cloud.githubusercontent.com/assets/5863899/16748059/31c9ebf6-477f-11e6-8ad9-db7f9dfaa057.jpeg)

Here's what patterns would look

[2016-07-11 22:14] alynne-phet opened #94 "[iOS] Poor performance on iPad 2, iOS 8.4.1"
For phetsims/tasks#638
Test Device: Lave
Operating System: iOS 8.4.1
Browser: Safari

Problem Description: Very poor performance on the iPad 2, iOS 8.4.1 on **every** screen. Functions are very difficult to move after completely populating the output carousel. Treat this as similar to #36 with regards to the issue details, but this performance is much worse both because functions lag much more whe

[2016-07-11 22:22] pixelzoom commented on #94
@amanda-phet Is this specific to any particular screen, or all screens?

[2016-07-11 22:23] pixelzoom commented on #94
@alynne-phet  Is this specific to any particular screen, or all screens?

[2016-07-11 22:24] phet-steele commented on #94
@pixelzoom

[2016-07-11 22:24] pixelzoom commented on #94
@alynne-phet Is the performance similar on iOS 9 ?

[2016-07-11 22:27] alynne-phet commented on #94
@pixelzoom, @phet-steele says iOS 9 performance is equivalent to what was deemed acceptable in #36.

[2016-07-11 22:29] ariel-phet commented on #94
I think this may be the final straw on iOS 8 support for us, I will get @oliver-phet to pull some numbers.

[2016-07-11 22:30] phet-steele commented on #94
@ariel-phet Iwas about to ask the same :1:

[2016-07-12 15:36] pixelzoom commented on #94
I tested again on my iPad2 with iOS 9, and performance is still fine.

@ariel-phet wrote:

Can I infer from this that you'd like me to close this issues at "won't fix"?

[2016-07-12 15:39] pixelzoom commented on #93
Memory management in this sim is relatively simple. It allocates all of its objects at startup, and all of those objects exist for the lifetime of the sim.  The only thing that's allocated is Vector2 as cards and functions are dragged, and I've verified that those are being disposed of properly (if they weren't, we'd know it pretty quickly).  So I suspect that this leak may be coming from somethin

[2016-07-12 15:56] pixelzoom commented on #93
Memory leaks in common-code were investigated (mainly by @jbphet) in https://github.com/phetsims/tasks/issues/546. That issue was closed with the statement that "big memory leaks have been fixed, and we have several tests that demonstrate that there are no major leaks in most sims" (https://github.com/phetsims/tasks/issues/546#issuecomment-218838675).  And amount of memory leaking in Function Buil

[2016-07-12 15:57] pixelzoom commented on #93
(1) Memory leaks in common-code were investigated (mainly by @jbphet) in https://github.com/phetsims/tasks/issues/546. That issue was closed with the statement that "big memory leaks have been fixed, and we have several tests that demonstrate that there are no major leaks in most sims" (https://github.com/phetsims/tasks/issues/546#issuecomment-218838675).  So there are undoubtedly small memory lea

[2016-07-12 16:02] ariel-phet commented on #94
Yes, I think so. Looks like iOS 8 is a little less than 1 percent of our overall usage, so probably time to cut the cord. Will finalize at dev meeting, but going to close this issue.

[2016-07-12 16:02] #94 closed

[2016-07-12 17:13] pixelzoom commented on #93
Running with `fuzzMouse=1000&screens=3` over 6 minutes, I reproduced approximately what @phet-steele is seeing - a very slow memory leak.

I asked for a second set of eyes on this, and @samreid obliged. Here's the Skype discussion:

[7/12/16, 10:55:11 AM] Sam Reid: That’s a pretty slow leak (perhaps below our threshold of leaks we’ve plugged), but I’m running a fuzz test and will take a look at sn

[2016-07-12 18:41] phet-steele opened #95 "Function machines have different length"
@amanda-phet @pixelzoom the 3-slot function machine on the Patterns screen is slightly shorter than the 3-slot function machines on the Equations and Mystery screens, can it be made slightly larger? You can see the difference by switching between the Patterns and Equations screen (when viewing the 3-slot machine of course).

Seen on everything, for phetsims/tasks/issues/638.

Troubleshooting infor

[2016-07-12 18:52] amanda-phet commented on #95
Good catch! I agree that they should be the same.

[2016-07-12 18:59] phet-steele opened #96 "Invisible stick figure"
@pixelzoom @amanda-phet if you apply Rainbow -> Warhol to the stick figure man,  you get four empty squares. Is this another issue similar to #92 in that it really just comes down to colormaps and can't be solved in general?

![rainwarhol](https://cloud.githubusercontent.com/assets/5863899/16779654/6f79d84c-4830-11e6-8918-a89adb6c17c2.PNG)

For phetsims/tasks/issues/638.

[2016-07-12 19:20] pixelzoom commented on #95
@amanda-phet wrote:

The options are:

(1) Make the builder in the Patterns screen longer.

(2) Make the builder in the Equations & Mystery screens short, which will require making the table and graph narrower.

I'm assuming that you'll want option (1), but just checking.

[2016-07-12 19:27] pixelzoom commented on #96
The problem here is that the stick figure is nearly black (RGB=51,51,51).  The "invert RGB" function therefore makes it nearly white.  Running it through Warhol results in it being mapped to the background color.

Options for addressing this:

(1) Change the color of the stick figure to the same color as the feet (which doesn't exhibit this problem). 15-20 minutes.

(2) Play around with the Warhol

[2016-07-12 19:29] pixelzoom commented on #96
The problem here is that the stick figure is a single color, which is nearly black (RGB=51,51,51). The "invert RGB" function therefore makes it nearly white (RGB=204,204,204). Running it through Warhol results in it being mapped to the background color.

Options for addressing this:

(1) Change the color of the stick figure to the same color as the feet (which doesn't exhibit this problem). 15-20

[2016-07-12 19:34] pixelzoom commented on #95
I went ahead and made the 3-slot builder in the Patterns screen longer, to match the Equations and Mystery screens. @amanda-phet please verify that that is acceptable.

[2016-07-12 19:36] phet-steele opened #97 "x-axis range too short on the Mystery screen"
@amanda-phet @pixelzoom From the results documented in https://github.com/phetsims/function-builder/issues/72#issuecomment-228162485, I do not think extending the max x range to 8 is enough. A good majority of challenges have the x = 7 point cover the x-axis label, maybe the range should be increased?

![7thpoint](https://cloud.githubusercontent.com/assets/5863899/16780696/00692ee4-4835-11e6-9e3a-

[2016-07-12 19:42] pixelzoom commented on #93
My recommendation is to close this at "won't fix", because:

• The leak is very small, 6.2 MB over 60 minutes of fuzz testing, where 100 user interactions are happen per frame. The browser is unlikely to crash under any real usage scenario.

•  Heap comparison indicates no sim-specific objects are leaking. The leak is almost certainly in common code.

• While identifying and fixing common-code lea

[2016-07-12 19:51] pixelzoom commented on #97
The x-axis range is currently [-8,8], since the range extends to the edges of the graph.

The occasional (partial) occlusion of 'x' was noted in design meetings, and we concluded the having the axis labels fully visible in all situations was not a requirement.  The sim doesn't start with the axis labels occluded, and the labels are visible in most situations.  One could also argue that the 'x' lab

[2016-07-12 19:55] pixelzoom commented on #97
The user will have seen the graph previously in the Equations screen, where the range of inputs is [-4,6] and 'x' is therefore never occluded.  So I doubt that they will be even consciously aware of (or concerned about) the axis labels in the Mystery screen.  So I am recommending option (1) - do nothing.

[2016-07-12 20:03] pixelzoom commented on #79
Feedback on configurations proposed by @phet-steele immediately above...

"Equations" screenshot:
(1) Looks OK at the larger size, not so good at smaller size.
(2) Patterns screenshot is more appealing to me.

"Patterns" screenshot:
(1) Having the black "invert RGB" function smack dab in the middle of the screenshot doesn't look great. I think it would look a lot better with a fun-colored function

[2016-07-12 20:28] pixelzoom commented on #96
The problem here is that the stick figure is a single color, which is nearly black (RGB=51,51,51). The "invert RGB" function therefore makes it nearly white (RGB=204,204,204), the same as the background color (white, RGB=255,255,255). So when running the output of "invert RGB" through Warhol, the stick figure and background are mapped to the same grayscale intensity, and therefore mapped to same c

[2016-07-12 20:57] amanda-phet commented on #96
How about a variant on (2).

Rather than make the stick figure sand-colored, is the problem fixed by making it navy (RGB=27,20,100)?

[2016-07-12 21:02] amanda-phet commented on #79
I agree, Patterns looks better.

How about this?

<img width="150" alt="screen shot 2016-07-12 at 3 00 31 pm" src="https://cloud.githubusercontent.com/assets/7852916/16783517/994a9b82-4841-11e6-8e0e-6aa1edb48062.png">

[2016-07-12 21:06] pixelzoom commented on #96
RGB=27,20,100 has the same problem as black. It's inverse is RGB=228,235,155, which maps to the same intensity "band" as the background color (white).

FYI, the computation for intensity is:

[code]

[2016-07-12 21:06] pixelzoom commented on #96
Here's a screenshot with RGB=27,20,100 for the stickFigure.png input:

![screenshot_56](https://cloud.githubusercontent.com/assets/3046552/16783681/44fced40-4842-11e6-9f89-7066709d22b8.png)

[2016-07-12 21:09] pixelzoom commented on #79
Looks OK to me, if you don't mind that the cards in the output carousel are all gray.

[2016-07-12 21:24] pixelzoom commented on #96
RGB=72,91,191 (see color swatch below) is a bit brighter blue and seems to work fine.

![screenshot_57](https://cloud.githubusercontent.com/assets/3046552/16784170/c1b96cd0-4844-11e6-953a-6d300d01380b.png)

[2016-07-12 21:25] amanda-phet commented on #96
Great let's use that blue (72,91,191).

Thanks Chris.

[2016-07-12 21:26] amanda-phet commented on #79
There's plenty of color elsewhere in the screenshot so I'm ok with the gray.

[2016-07-12 21:31] pixelzoom commented on #96
Done, color of stickFigure.png changed to RGB=72,91,191.    Screenshots below showing application of InvertRGB and InvertRGB+Warhol.

![screenshot_58](https://cloud.githubusercontent.com/assets/3046552/16784365/b6c3bfe6-4845-11e6-9b09-83f121fef28d.png)

![screenshot_59](https://cloud.githubusercontent.com/assets/3046552/16784373/ba2cb228-4845-11e6-88ea-a069cdc57c37.png)

[2016-07-12 21:40] ariel-phet commented on #93
Agreed.

[2016-07-12 21:40] #93 closed

[2016-07-12 21:45] pixelzoom commented on #96
@amanda-phet Please test drive this version and verify that it looks OK:

http://www.colorado.edu/physics/phet/dev/html/function-builder/1.0.0-dev.74/function-builder_en.html

[2016-07-12 21:49] pixelzoom commented on #97
Also note that option (2) would address occlusion of 'x', but won't address translations of 'x'.   The label is allowed to get about 4.5 units wide before it's scaled. For example, see this screenshot with `?stringTest=MyAxisLabel`:

![screenshot_61](https://cloud.githubusercontent.com/assets/3046552/16784881/289faa6a-4848-11e6-8d13-dea5bd840d72.png)

[2016-07-12 21:50] pixelzoom commented on #95
@amanda-phet You can also verify in this dev version:

http://www.colorado.edu/physics/phet/dev/html/function-builder/1.0.0-dev.74/function-builder_en.html

[2016-07-12 21:54] pixelzoom commented on #79
OK. I'll proceed with the icon in https://github.com/phetsims/function-builder/issues/79#issuecomment-232180244. @amanda-phet Can you please attach a larger version of this screenshot. I'll need to give it to someone else to make the screenshot, and a larger screenshot will be easier to "read".

[2016-07-12 22:31] amanda-phet commented on #79
<img width="956" alt="screen shot 2016-07-12 at 4 29 49 pm" src="https://cloud.githubusercontent.com/assets/7852916/16785920/0209644e-484e-11e6-87cf-3e1809376793.png">

[2016-07-12 22:32] amanda-phet commented on #97
Option (1).

Occluding the x-axis label is very minor.

[2016-07-12 22:33] amanda-phet commented on #96
Looks great. Closing this issue.

[2016-07-12 22:35] amanda-phet commented on #95
Yup, option (1). Looks good. Closing.

[2016-07-12 23:43] pixelzoom commented on #97
Thanks @amanda-phet. Closing as "won't fix".

[2016-07-12 23:43] #97 closed

[2016-07-12 23:43] pixelzoom commented on #96
Reopening so that I remember to put this on the verification list for 1.0.0-rc.2.

[2016-07-12 23:44] pixelzoom commented on #95
Reopening so that I remember to put this on the verification list for 1.0.0-rc.2.

[2016-07-13 17:34] pixelzoom commented on #92
Please verify in http://www.colorado.edu/physics/phet/dev/html/function-builder/1.0.0-rc.2/function-builder_en.html.

[2016-07-13 17:34] pixelzoom commented on #95
Please verify in http://www.colorado.edu/physics/phet/dev/html/function-builder/1.0.0-rc.2/function-builder_en.html.

[2016-07-13 17:35] pixelzoom commented on #96
Please verify in http://www.colorado.edu/physics/phet/dev/html/function-builder/1.0.0-rc.2/function-builder_en.html.

[2016-07-13 17:53] pixelzoom commented on #79
@samreid has volunteered to create the screenshot, since I'm not familiar with the process, and I don't have the necessary equipment (retina iPad).

[2016-07-13 17:54] pixelzoom commented on #79
@samreid Please check the screenshot into master as assets/function-builder-screenshot.png. Assign the issue back to me, and I can take care of copying it to the 1.0 branch. Thanks!

[2016-07-13 17:56] pixelzoom commented on #79
The final desired configuration for the screenshot is shown in https://github.com/phetsims/function-builder/issues/79#issuecomment-232202043.

[2016-07-13 18:09] phet-steele commented on #92
There is another setup of functions showing a problem (not necessarily Double Warhol) that I believe cannot be addressed, but I will make a note of it. Should not be blocking release:

![twoleftfeet](https://cloud.githubusercontent.com/assets/5863899/16814336/9a79e484-48f2-11e6-8d31-1ccd7ca4e48e.PNG)

[2016-07-13 18:10] phet-steele commented on #92
Otherwise, verified on Win 10 Chrome and OSX 10.11.5 Chrome

[2016-07-13 18:10] #92 closed

[2016-07-13 18:20] pixelzoom commented on #92
Skype discuss that @phet-steele more succinctly summarized in https://github.com/phetsims/function-builder/issues/92#issuecomment-232439522 (but with less entertainment value :)

[7/13/16, 11:57:00 AM] Chris Malley: no
[7/13/16, 11:57:15 AM] Chris Malley: are these new, or just not noticed in previous RC?
[7/13/16, 11:57:33 AM] Chris Malley: single or double Warhol?
[7/13/16, 11:58:23 AM] Steele D

[2016-07-13 18:31] phet-steele commented on #95
Verified on Win 7 & 10 Chrome, OSX 10.11.5 Chrome, and iPad2 iOS 9.3.3

[2016-07-13 18:31] #95 closed

[2016-07-13 18:32] phet-steele commented on #96
Verified on Win 7 & 10 Chrome, OSX 10.11.5 Chrome, and iPad2 iOS 9.3.3

[2016-07-13 18:32] #96 closed

[2016-07-13 18:33] samreid commented on #79
Can I use rc.2 for the screenshot?

[2016-07-13 18:35] pixelzoom commented on #79
Yes, please use 1.0.0-rc.2:
http://www.colorado.edu/physics/phet/dev/html/function-builder/1.0.0-rc.2/function-builder_en.html

[2016-07-13 18:44] samreid commented on #79
Screenshot added above, @pixelzoom please double-check the screenshot for the following:

* correct size
* correct content
* correct filename
* anything else?

[2016-07-13 18:46] pixelzoom commented on #79
[7/13/16, 12:45:44 PM] Chris Malley: Sam, one detail missing from the screenshot.  Amanda shows a card (cherries) entering builder.
[7/13/16, 12:45:53 PM] Sam Reid: oh blah, I’m on it.
[7/13/16, 12:46:06 PM] Sam Reid: I see it now!
[7/13/16, 12:46:16 PM] Chris Malley: Should be a fun multi-finger exercise.

[2016-07-13 18:51] samreid commented on #79
Added a cherry card above, please review.

[2016-07-13 18:51] pixelzoom commented on #79
Looks great. Thanks for your help. Closing.

[2016-07-13 18:52] amanda-phet commented on #79
I was wondering if you'd need two people to take that screenshot on an iPad! Nice work @samreid .

[2016-07-13 19:12] ariel-phet commented on #79
Tis a beautiful screenshot!

[2016-07-13 19:49] amanda-phet commented on #52
Teacher tips are complete. Closing.

[2016-07-13 19:49] #52 closed

[2016-07-13 20:09] pixelzoom commented on #2
As of 7/13/16, all development tasks on this checklist have been completed.

[2016-07-13 21:10] pixelzoom commented on #79
Reopening. I forgot to copy the screenshot to the 1.0 release branch.

[2016-07-13 21:56] pixelzoom commented on #52
Teacher Tips look awesome by the way. Nice job!

[2016-07-14 16:04] #79 closed

[2016-07-14 17:18] pixelzoom opened #98 "notes on PhET-iO instrumentation"
Function Builder was not instrumented for PhET-iO when initially developed, and (due to deadlines) little thought was given to instrumentation.

In this issue, I'll describe potential problems with instrumentation, things that will need to be added/changed, pointers to things that might be useful, etc. Hopefully this will benefit whoever does the instrumentation.

[2016-07-26 17:32] pixelzoom commented on #98
There is currently no way to describe the cards in the Patterns screen (e.g. "butterfly card 1"). The base type (ImageCard) is given an HTMLImageElement that is loaded by the image plug-in, and doesn't know (or card) about the semantics of the image, since that's not required for image processing.  So we'll need to add a name to each ImageCard.  And since >1 instance of each card is created, we'll

[2016-07-26 17:37] pixelzoom commented on #98
SlopeInterceptEquation.toString and HelpfulEquation.toString can be used to provide a text-based representation of what the user is seeing (as rendered by SlopeInterceptEquationNode and HelpfulEquationNode respectively).  It's typically unadvisable to rely on the format of any `toString` function, so we may want to change the names of these, and/or update their documentation.  Also worth noting is

[2016-07-26 17:46] pixelzoom commented on #98
To identify functions (in all screens), we'll need to add an index, so that we can identify (e.g.) "Warhol 1" or "Rotate90 2".   We'll also want to consider whether (e.g.) "Warhol 1" or "Warhol 2" is on top of the stack in the function carousel when the sim starts.

[2016-07-26 17:49] pixelzoom commented on #98
In the Mystery screen, functions are reused from an invisible function carousel, as described in [implementation-notes.md](https://github.com/phetsims/function-builder/blob/master/doc/implementation-notes.md).  There are currently 3 instances of each function type in the carousel.  If the data stream identifies them by index as suggested in https://github.com/phetsims/function-builder/issues/98#is

[2016-07-26 18:00] pixelzoom commented on #98
**Location of objects for dragging and animation**:
This sim supports multi-touch with no exclusions or limitations. It's possible to have many cards and functions being dragged and/or animating simultaneously.   This can result in a huge amount of location data being streamed and interleaved.  Not something that needs to be necessarily addressed in the implementation, but whoever is processing th

[2016-07-26 18:39] pixelzoom commented on #98
Mystery challenges:
Mystery challenges are specified using a simple string format, as shown in MysteryChallenges.js. For example `'* -3 * -1 * 0'`.  This format makes it easy to read and modify challenges in the code.  After a challenge is selected, `MysteryChallenges.parseChallenge` converts the string format to an array of objects.  For the data stream, it might be appropriate to use the string

[2016-07-26 18:43] pixelzoom commented on #98
**Use consistent terminology**:
When naming things in the data stream (tandems, units, etc.), it's highly recommended to use the same terminology that is used in the source code, as documented in [implementation-notes.md](https://github.com/phetsims/function-builder/blob/master/doc/implementation-notes.md).

[2016-08-01 18:27] ariel-phet commented on #2
@amanda-phet I believe all that is left here is to upload an activity and do the sim primer(understood if that will be a bit of time from now)

[2016-08-04 15:03] pixelzoom commented on #2
If it's going to be a bit of time, then let's create an issue specifically for that, then close this issue.

[2016-08-05 17:03] amanda-phet commented on #2
That's fine with me. I'm not sure if primers will ever be finished at the same time a sim is being published, so I'm not sure it makes sense to have on this master checklist, but we should check with Amy H about that. I'll close this issue.

[2016-08-05 17:03] #2 closed

[2016-08-17 21:35] samreid opened #99 "Random number sequences should be reproducible"
In order to support deterministic playback for phet-io for https://github.com/phetsims/phet-io/issues/548, the random number sequences must be reproducible.  In the case of Function Builder, this can be done by changing `new Random()` to `new Random( { staticSeed: true } )`.  The randomness can be tested using a link like:

http://localhost/phet-io/html/wrappers/mirror-input-events.html?sim=functi

[2016-08-17 21:36] samreid commented on #99
Fixed above, reassigned to @pixelzoom for feedback as described in the issue description.

[2016-08-17 21:54] samreid commented on #99
Grunt is passing, sim is launching.

[2016-08-18 19:29] pixelzoom commented on #99
8/18/16 dev meeting:  It's worth replacing DOT.Random with phet.joist.random. I'll do this.

[2016-08-18 19:45] pixelzoom commented on #99
I replaced DOT.Random with phet.joist.random in the above commit. @samreid could you please take a look, to make sure that I understood everything that needs to be done?  If it looks OK, feel free to close this issue.

[2016-08-18 19:52] samreid commented on #99
Looks perfect, thanks! Closing.

[2016-08-18 19:52] #99 closed

[2016-08-24 02:44] samreid opened #100 "Publish a PhET-iO Version"
In https://github.com/phetsims/phet-io/issues/548 @kathy-phet said:

From https://github.com/phetsims/phet-io/issues/548#issuecomment-240588553
I elaborated a bit in an email to @pixelzoom:

Chris,

I wanted to notify you ASAP that Function Builder will be undergoing development/testing/release for PhET-iO for record and playback (which doesn't require tandemization). I already made changes in mas

[2016-08-24 02:46] samreid commented on #100
The latest version is 1.0.0 (both for published and for dev), so the next version will be `1.1.0-dev.1` which is already specified in the package.json.

[2016-08-24 02:46] samreid commented on #100
@pixelzoom would you like me to bump package.json to `1.1.0-dev.2` after publishing `1.1.0-dev.1`?  As far as I know, different developers have different conventions for when to update this version.

[2016-08-24 02:58] pixelzoom commented on #100
I typically update just before publishing, with the exception of the *-dev.1 version.  I pre-set 1.1.0-dev.1 at the same time as I created the 1.0 release branch, so I wouldn't forget to move master to 1.1.0.   Perhaps I should have set it to 1.1.0-dev.0, so that the "increment dev number just before publishing" rule applies in all cases.

[2016-08-24 04:17] samreid commented on #100
I am stuck on Step 5 from https://github.com/phetsims/phet-info/blob/master/deployment-info/sim_deployment.md from the "PhET-iO Deployment Guidelines" section.  I don't think we are deploying to figaro any longer, and I tried using phet-server and ox in that scp command, and bash tells me `node name or service name not known`.  @mattpen can you help me?

[2016-08-24 05:06] samreid commented on #100
@mattpen and I revised the "how to deploy" instructions for the new server, and @mattpen contacted Morlino about granting access to other developers.  @mattpen completed the deploy for now.  Next step is testing, I'll leave it assigned to me for testing.

[2016-08-24 05:12] samreid commented on #100
Publish is complete, and there is a new issue for testing, closing.

[2016-08-24 05:12] #100 closed

[2016-09-08 21:28] samreid opened #101 "Update to use QueryStringMachine"
I'd like to convert Function Builder to use QueryStringMachine as a test case for fleshing out the API.

[2016-09-08 21:37] samreid commented on #101
I converted to use QueryStringMachine in the preceding commit and tested against the phet.chipper.getQueryParameter for several cases.  @pixelzoom can you please take a look at the proposed API in FBQueryParameters.js and let me know if you have any recommendations?

Additional review questions:
1. When `allowedValues` is provided, should QueryStringMachine automatically make the first element the

[2016-09-08 22:22] pixelzoom commented on #101
Answers to review questions:

Provide default value separately.

I like the way things look in @9a23f31c717d1bba88235461286c0db5b6b0a1da.  It's clear what's going on, and I don't mind the duplication of 'flag' type.

Additional suggestions:

Instead of type 'flag', how about type 'boolean' that defaults to 'true'?  E.g., `?ea` would be equivalent to `?ea=true`.

[2016-09-09 02:56] samreid commented on #101
In https://github.com/phetsims/query-string-machine/issues/1 I renamed parse => getAll to match get.

[2016-09-09 03:09] samreid commented on #101
Are you saying we would use `{type:'boolean', defaultValue:true}` for these cases?  I don't think that would work as expected, because we want this behavior:

(no query parameter supplied) => false
?ea => true
?ea=true => true
?ea=false => false
?ea =treu => Error

If we used `{type:'boolean', defaultValue:true}`, I think the table would become:
(no query parameters supplied) => true (INCORRECT)
?

[2016-09-09 06:28] pixelzoom commented on #101
You're right, what I proposed doesn't work.  Looks like there's a legitimate need to distinguish 'flag' from 'boolean'.

[2016-09-09 06:54] samreid commented on #101
If I change initialize-globals.js from
[code]
to
[code]
then ?ea=false works properly.

So I think everything in this issue is complete. (@pixelzoom please reopen if there is more to do here).  In https://github.com/phetsims/query-string-machine/issues/1 we can proceed with next steps, including code review and broader usage.

[2016-09-09 06:54] #101 closed

[2016-09-20 22:52] samreid opened #102 "Speed up new FontAwesomeNode( 'eye_close' )"
I noticed that around 1000ms are being used (on 2012 macbook air) to call `new FontAwesomeNode( 'eye_close' )` in FunctionNode.js.

To test this, I added this code in FunctionNode.js:

[code]

Running a built version in chrome, I saw numbers like 800.  In firefox it was 1232.  In iPad, it is probably much worse.  It seems wasteful to parse the same SVG for so many milliseconds.  Perhaps the svg ca

[2016-09-21 00:12] pixelzoom commented on #102
@samreid's suggestion above is to make the client responsible for reusing instances of `FontAwesomeNode`.

Other ideas, not mutually exclusive:

(1) Make `FontAwesomeNode` responsible for caching the `Shape` that's returned by private `getShapeByName`.  Downside is that once such a Shape is created, it will remain in memory regardless of whether it's being used.

(2) Make `getShapeByName` public,

[2016-09-21 00:16] samreid commented on #102
We tried (1) with disastrous results:

[code]

(2) could help

(3) I don't expect that the static `var icons` code takes a long time to evaluate, because it is only done once per app and is just a handful of static strings.

[2016-09-21 00:35] pixelzoom commented on #102
Looks to me like https://github.com/phetsims/joist/issues/329 was a result of poor implementation, not anything inherent in the idea of caching Shapes.  There are currently 16 icons provided by FontAwesomeNode, so (with caching) there would at most 16 cached Shapes.  Or am I missing something?...

[2016-09-21 00:36] pixelzoom commented on #102
Is the goal of this issue to come up with an approach to solving this issue in general, or to solve it just for this sim?

[2016-09-21 00:38] pixelzoom commented on #102
Is the goal of this issue to come up with an approach to solving this issue in general, or to solve it just for this sim? Because I can resolve this trivially for function-builder by simply creating one static FontAwesomeNode( 'eye_close' ) and using it everywhere.

[2016-09-21 00:41] pixelzoom commented on #102
... I'll just need to be careful not to transform the `FontAwesomeNode` instance, and instead wrap it in a `Node` and transform the wrapper.

[2016-09-21 01:14] pixelzoom commented on #102
A single instance of FontAwesomeNode is now reused, @samreid please review.

[2016-09-21 01:18] pixelzoom commented on #102
Btw... I think that the approach I used (creating a Node subtype that has the static instance as its child) is a decent general approach.

[2016-09-21 01:22] samreid commented on #102
Yes, it looks great for static applications.  But if any of those node subtypes need to be garbage collected, they will explicitly need to detach their reference to the FontAwesomeNode or there will still be a path to a GC root.

[2016-09-21 03:13] pixelzoom commented on #102
I'll investigate this later in the week.

[2016-09-21 03:53] samreid commented on #102
I think in Function Builder objects are mainly static (all preallocated), so it may work here without a hassle.  But as for recommending that pattern for wider use, we would have to make sure to detach from the cached object on dispose.

[2016-09-21 04:52] pixelzoom commented on #102
`FunctionNode` (line 46) creates an `EyeCloseNode` as the default value for options.hiddenNode, the node displayed when a function's identify is hidden.  `MysteryFunctionNode` (subtype of FunctionNode used for the "Mystery" screen) overrides options.hiddenNode with a `Text('?',...)`, see line 40.  So for every `MysteryFunctionNode` created (there are 24 of them) there will be an `EyeCloseNode` nod

[2016-09-21 04:57] pixelzoom commented on #102
In `FunctionNode`... Instead of creating an `EyeCloseNode` by default value for `options.hiddenNode`, I should probably set `hiddenNode: null`, then create an `EyeCloseNode` if the client doesn't set `options.hiddenNode`.

[2016-09-21 05:07] pixelzoom commented on #102
`FunctionNode` changed in above commit so that it created an `EyeCloseNode` only if `options.hiddenNode` is not provided by the client.

[2016-09-21 05:11] pixelzoom commented on #102
Since all instances of `FunctionNode` and its subtypes are created at startup and exist for the lifetime of the sim, I believe that there's no opportunity for memory leakage due to this optimization.

[2016-09-21 05:12] pixelzoom commented on #102
@samreid anything else here?

[2016-09-21 05:13] pixelzoom commented on #102
Ah... Thought of one more thing.  If this significantly affects startup time, then we might want to add it to a maintenance release in the 1.0 branch.   @samreid Is there a noticeable startup improvement on your MacBook Air?

[2016-09-21 16:17] pixelzoom commented on #102
Thinking about this more...  I don't like the pattern I've used here.  There's no memory leak in function-builder only because it all instances of `FunctionNode` exist for the lifetime of the sim. And if that ever changes, instant memory leak.  I'll also need to address this in MOTHA, where I will be dynamically creating "trash buttons" for spectrometer snapshots that appear in a dialog.

Proposal

[2016-09-21 17:21] pixelzoom commented on #102
@samreid and I discussed this issue (in general and specific to function-builder) via Skype.  The preferred solution is to: (1) give clients access to creating of Shapes for fontawesome icons, and (2) address caching in FontAwesomeNode, and (3) prevent memory leaks by telling Path that it's provided Shape is static and should not be observed for changes.  See https://github.com/phetsims/function-b

[2016-09-26 16:21] samreid commented on #102
I'd like to be able to publish a PhET-iO version for data recording before Thursday, is this stable for release out of master?  If not, when will a good time be?

[2016-09-26 16:25] pixelzoom commented on #102
Depends on when https://github.com/phetsims/sun/issues/270 is addressed, it's a prerequisite for addressing this issue correctly.  What's currently checked in is probably superior to what was published in 1.0.0, but has not been thoroughly tested.

[2016-09-26 17:20] pixelzoom commented on #102
Shape caching is being added in https://github.com/phetsims/sun/issues/270, so I've changed the implementation here in anticipation of that feature. Until that issue is completed (which involves adding the ability to make Shapes immutable), function-builder will be leaking memory via the Shape cache.

[2016-09-26 17:57] pixelzoom commented on #102
Prerequisite for https://github.com/phetsims/phet-io/issues/642, which must be completed by 9/29.  Raising priority to high.

[2016-09-26 17:59] samreid commented on #102
I'm not opposed to fixing this, but trying to understand the problem better.  Function Builder never needs to remove something from the cache, so there is not a memory leak in its case, right?

[2016-09-26 18:46] pixelzoom commented on #102
Until `Shape.makeImmutable` is implemented, all FontAwesomeNodes are leaking because the Shapes in the cache have references to them.

[2016-09-26 21:08] pixelzoom commented on #102
In https://github.com/phetsims/sun/issues/270#issuecomment-249673373, `Shape.makeImmutable` was implemented and integrated into `FontAwesomeNode`.   When that issue has been verified, this issue can be closed.

[2016-09-27 15:48] samreid commented on #102
I'm on the hook for the review in https://github.com/phetsims/sun/issues/270#issuecomment-249673373, so I'll assign this issue to myself as well.

[2016-09-27 18:09] samreid commented on #102
On hold as described in the preceding comment.

[2016-09-27 20:13] samreid commented on #102
OK I verified the issue in https://github.com/phetsims/function-builder/issues/102#issuecomment-249698002 so this can be closed.  I also counted the time to create the eye close icons in this new version by changing EyeCloseNode to be:

[code]
and it is down to 59ms, which is much better!  Thanks, closing.

[2016-09-27 20:13] #102 closed

[2016-10-06 07:32] jonathanolson commented on #68
Due to the image not having been loaded by the browser yet (the img tag), we can't immediately get a width/height. Since we want to have a proper width/height before the image is used for bounds purposes, it's helpful to specify the initial values.

The following documentation is in Image.js for handling image elements (in the cleanup branch):
[code]

Is that sufficient?

[2016-10-18 01:42] pixelzoom commented on #68
👍 Closing.

[2016-10-18 01:42] #68 closed

[2017-02-23 21:04] pixelzoom opened #103 "Estimate for a "patterns only" version"
2/23/17 design meeting:

Provide an estimate for a version of Function Builder that has:
• Patterns screen with no changes
• Mystery screen with patterns instead of numbers, no table, no graph

For the revised Mystery screen, the challenges are:

• Colors for mystery functions are randomly chosen from color sets. The icons for pattern functions look good on specific background colors, and we don't

[2017-02-23 21:07] pixelzoom commented on #103
2/23/17 design meeting:
Ideally do this estimate by 3/3/17.
Do this after graphing-lines estimate in https://github.com/phetsims/graphing-lines/issues/66.

[2017-02-23 21:11] pixelzoom commented on #103
Co-assigning to @amanda-phet to come up with a name for this sim, so that I can create the corresponding repository.

[2017-02-26 01:15] pixelzoom opened #104 "make showAnswers a private query parameter"
phetsims/joist#406 is a prerequisite to this.

In FBQueryParameters, set `showAnswers` to false if we're running a production version, so that answers can't be revealed.

[2017-03-06 03:12] pixelzoom commented on #103
@ariel-phet I'll need 2-4 hours of exploratory development to provide a reliable estimate. Or I can provide a WAG.  Let me know which you'd prefer.

[2017-03-06 18:14] ariel-phet commented on #103
@pixelzoom lets do exploratory development. Perhaps once Unit Rates is into RC or during the time you are working no Graphing Lines.

[2017-03-07 17:20] pixelzoom commented on #103
Before starting exploratory work, I'll need a repository for the code.  So we need to choose a sim name. We can change the sim name later, but not at zero cost (repository needs to be move, code needs to be changed, all developers need to change their working copy,...)

Some possible names:

Function Builder: Patterns
Pattern Builder
Pattern Functions

(Side note: I've always wondered why the term

[2017-03-07 17:51] ariel-phet commented on #103
@amanda-phet @pixelzoom I would suggest Function Basics for the moment. I know it is not zero cost to change later, but we have changed names on other repositories and the cost has been acceptably small.

As for the side note...it is true that you are acting on images, but you are trying to identify the pattern of how different function act on the image, but that does contrast with the names of th

[2017-03-07 19:36] amanda-phet commented on #103
@ariel-phet Function Basics was one that I liked the best from our previous discussion. I also like Function Builder: Patterns for users who would recognize the Patterns Screen.

Let's go with Function Basics!

[2017-03-11 17:43] pixelzoom commented on #103
Repository function-basics has been set up, with sim title "Function Basics".   Further discussion will take place in that repository. Closing.

[2017-03-11 17:43] #103 closed

[2017-03-12 19:50] pixelzoom opened #105 "remove unused stuff in config.js"
It's not needed, this sim has no audio.

[2017-03-12 22:05] pixelzoom commented on #105
Also doesn't use VEGAS.

[2017-03-12 22:06] pixelzoom commented on #105
Also doesn't use audio or mipmap plugins.

[2017-03-12 22:10] #105 closed

[2017-04-13 19:54] pixelzoom opened #106 "revised the screenshot"
See https://github.com/phetsims/function-basics/issues/12

We decided to use a screenshot of the Numbers screen, to differentiate from function-basics sim.

[2017-04-13 19:55] amanda-phet commented on #106
Here is the screenshot!

![screen shot 2017-04-13 at 1 55 07 pm](https://cloud.githubusercontent.com/assets/7852916/25021857/df3d6b46-2050-11e7-9a04-646b2db35894.png)

[2017-04-13 19:58] ariel-phet commented on #106
@amanda-phet once we revise the screenshot we should review activities and contact any authors if they are using the previous screenshot as a reference to the sim (for telling their students which sim to use)

[2017-04-14 01:29] pixelzoom commented on #106
@phet-steele Would you mind creating this screenshot, as shown above? Note the '3' card that is partially inserting into the builder.

[2017-04-14 01:30] pixelzoom commented on #106
@phet-steele Would you mind creating this screenshot, as shown above? Note the '3' card that is partially inserting into the builder. You can check in to master only.

[2017-04-14 22:41] phet-steele commented on #106
New screenshot added, back to you @pixelzoom.

[2017-04-14 22:42] phet-steele commented on #106
Also back to @amanda-phet because of @ariel-phet's comment to review activities that may use the old screenshot.

[2017-04-17 16:47] pixelzoom commented on #106
Verified, thank you @phet-steele.

[2017-04-17 16:50] pixelzoom commented on #106
There are no immediate plans to republish this sim, but we do want the screenshot to be changed on the PhET website.  My understanding is that this is a manual process, and the old screenshot is liable to appear for some time thereafter.

@mattpen can you please take care of updating the screenshot on the PhET website?

[2017-04-17 16:51] pixelzoom commented on #106
The screenshot is at:
https://github.com/phetsims/function-builder/blob/master/assets/function-builder-screenshot.png

[2017-04-17 17:03] mattpen commented on #106
I can upload the new screenshot into the directory for the latest version of the sim.  The old screenshot will be cached by Varnish for up to 30 days.  If there is an urgent need, I can clear the cache in the off hours, but   this would not be preferable.

[2017-04-17 17:09] pixelzoom commented on #106
@amanda-phet Are you OK with the old screenshot being visible for up to 30 days?

[2017-04-18 15:19] mattpen commented on #106
@pixelzoom @amanda-phet - I forgot, but the static files aren't cached by varnish any longer but accessed directly.  The new screenshots are now up on the main website.

[2017-04-18 15:19] mattpen commented on #106
OK to close?

[2017-04-18 15:21] pixelzoom commented on #106
Excellent, thanks @mattpen!  Closing.

[2017-04-18 15:21] #106 closed

[2017-04-18 15:39] amanda-phet commented on #106
Oops, I had this written but never submitted it :)

If we can get the screenshot changed now, being visible for 30 days shouldn't be too bad. @mattpen please go ahead and upload the new screenshot for Function Builder

[2017-04-18 16:08] pixelzoom commented on #106
@amanda-phet The new screenshot is live on the PhET website.

[2017-04-18 16:21] amanda-phet commented on #106
I also double-checked the activities and none of them had a screenshot of the sim page in the lesson or activity sheet, so we're all good there!

[2017-04-20 20:22] phet-steele opened #107 "Releasing a card directly centered in a window will let it move back through a non-invertible function"
As a continuation of #39, there is yet another way to inversely pass cards through a non-invertible function. @pixelzoom this affects function-builder-basics and the current production version of function-builder (1.0.3).

This procedure requires pixel perfect technique. The end goal will be to release a card in the same spot as the resting position of the see inside box.

Example procedure, there

[2017-04-21 02:28] pixelzoom commented on #107
I'm happy to report that I apparently have the same pixel-perfect reflexes a @phet-steele  - I was able to reproduce using the (very helpful) steps above.

[2017-04-21 02:40] pixelzoom commented on #107
In `CardNode.animateRightToLeft`, `windowNumber` is the number of the window in the builder that is to the left of the card's location.  In this scenario, `windowNumber` is `Function.NO_SLOT_NUMBER` (-1), meaning that there is no window to the left of the card's location. That makes sense if the card is exactly centered in the window.  The problem then is that instead of blocking the card, the car

[2017-04-21 02:49] pixelzoom commented on #107
@phet-steele Your description of the problem made this very easy to locate, and it was trivial to fix. Please test in master.

[2017-04-21 16:36] phet-steele commented on #107
@pixelzoom I can no longer click a card in a window to have it progress to the next window. I have to give a card a slight nudge to make it move one way or another. Is this functionality important to keep? Otherwise, I can't invert the cards anymore 👍.

[2017-04-21 18:16] pixelzoom commented on #107
Yes, that's an important feature to keep, thanks for noticing.  Fixed in above commit. Back to you @phet-steele.

[2017-04-21 18:25] phet-steele commented on #107
@pixelzoom, maestoso!

[2017-04-21 18:34] pixelzoom commented on #107
Reopening.  Since there are no immediate plans to re-publish Function Builder, I should patch this fix into a 1.0.x maintenance release.

[2017-04-21 18:51] pixelzoom commented on #107
Patched and deployed in 1.0.4.
https://phet.colorado.edu/sims/html/function-builder/latest/function-builder_en.html

Closing.

[2017-04-21 20:54] phet-steele commented on #107
@pixelzoom sorry, I take back my "maestoso!". Somewhere in your fixes we lost the ability to easily move cards through the machine in reverse (dragging manually still works, but "flinging" doesn't). Cards get stuck in the machine at window positions (without windows enabled):

![fb03](https://cloud.githubusercontent.com/assets/5863899/25295781/4c838882-26a2-11e7-9a3e-a8b27392b7bd.gif)

[2017-04-21 20:56] phet-steele commented on #107
Labeled as "top" since it is live on the site.

[2017-04-23 15:25] pixelzoom commented on #107
Reproduced in 1.0.4 and master.

So that this isn't "live", I've rolled back the patch in the 1.0 branch, and published 1.0.5.

I'll resume work on the issue in master.

[2017-04-23 16:07] pixelzoom commented on #107
The other thing we lost here is that, if the card is release exactly centered in the window, it doesn't move to the left and rebound off of the non-invertible function.

[2017-04-23 16:43] pixelzoom commented on #107
Fixed in above commit. Hopefully third time's the charm.  @phet-steele please give it a workout.

[2017-04-23 16:44] pixelzoom commented on #107
Fixed in above commit. Hopefully third time's the charm.

@phet-steele please give it a workout.  If it looks OK, assign back to me for 1.0.6 maintenance release.

[2017-04-25 19:26] pixelzoom opened #108 "make '?' larger and bold on Mystery functions"
In https://github.com/phetsims/function-builder-basics/issues/1, we made the questions marks on the Mystery functions larger and bolder.   Since I need to do a 1.0 maintenance release to pick up https://github.com/phetsims/function-builder/issues/107, I think this enhancement is worth adding too.

The related changes are https://github.com/phetsims/function-builder/commit/440ccd20f72e9044c4383fcde

[2017-04-25 19:37] phet-steele commented on #107
I gave it a good look (🤞), but I think another set of eyes would be useful on this. @maggiewiseman can you test this out on function-builder master? Read through this issue to make sure all the cases are accounted for, please.

@pixelzoom I do have one question, above you say:

This works, releasing a card at the center of the window does make the card bounce off the non-invertible function. But w

[2017-04-25 20:00] pixelzoom commented on #107
@phet-steele and I discussed his above question on the phone.   The scenario in question is when a card is dragged right-to-left, and is released exactly in the center of the "see inside" window.  In that scenario, the behavior depends on whether the function is invertible or non-invertible.  If the function is invertible, then the card stays in the "see inside" window.  If the function is non-inv

[2017-04-25 20:17] pixelzoom commented on #107
@maggiewiseman when you are done with this, please assign the issue back to me so that I can do a maintenance release.

[2017-04-26 12:02] maggiewiseman commented on #107
Ok! @phet-steele @pixelzoom: Just to be clear, I'm testing function-builder off of master, right?

[2017-04-26 15:29] phet-steele commented on #107
@maggiewiseman, correct!

[2017-04-28 12:46] maggiewiseman commented on #107
@pixelzoom @phet-steele  Looks good to me. I cannot make a card get through a non-invertible function and everything seems to be behaving as normal:
- can still fling right and left (w/ non-invertible function) w/o getting stuck whether there's a function there or not and whether the see-window is on or off.
- click to move to next window works
- a card released in center of window of non-invertib

[2017-04-28 13:24] pixelzoom commented on #107
Thanks @maggiewiseman, closing.

[2017-04-28 19:16] pixelzoom commented on #108
This change was already present in master at the result of  phetsims/function-builder-basics#1, and I patched it into the 1.0 branch. I will appear in the 1.06 maintenance release.

[2017-04-28 19:23] pixelzoom commented on #107
This issue was patched in the 1.0 branch (see above commit), and appears in maintenance release 1.0.6.

[2017-04-28 19:36] pixelzoom commented on #108
Reopening. I just noticed issue https://github.com/phetsims/tasks/issues/690.  Apparently there is a 1.1-phetio branch.  @samreid Does this need to be patched there too?

[2017-04-28 19:36] pixelzoom commented on #107
Reopening. I just noticed issue https://github.com/phetsims/tasks/issues/690.  Apparently there is a 1.1-phetio branch.  @samreid Does this need to be patched there too?

[2017-04-28 19:38] samreid commented on #108
Function Builder had a PhET-iO "lite" instrumentation for playbacks.  I don't think anyone is using it any longer, so no need to update it at the moment.

[2017-04-28 19:38] #108 closed

[2017-04-28 19:38] samreid commented on #107
The PhET-iO "lite" version of this sim isn't expected to be used again in the near future, so I'd leave it alone.

[2017-04-28 19:38] #107 closed

[2017-05-03 22:54] pixelzoom opened #109 "symmetry problems with card images"
Related to phetsims/tasks#828 and https://github.com/phetsims/function-builder-basics/issues/18.

In addition to master, this problem is present in the production version of Function Builder (1.0.6), demonstrable on all platforms.

Many of the card images (png files) do not behave properly with the Mirror function.  Some of the cards (snowflake, butterfly, star, rectangle, circle, star) are suppos

[2017-05-03 22:59] pixelzoom commented on #109
@phet-steele so that you're aware of this.

[2017-05-04 16:17] pixelzoom commented on #109
Symmetry problems should be checked using the following function configurations:

Mirror
Mirror > Rotate90
Rotate90 > Mirror
Mirror > Rotate180
Rotate180 > Mirror

The images that have a symmetry problem are:

snowflake.png
butterfly.png
sun.png
circle.png (see Rotate90 > Mirror)
star.png

[2017-05-04 16:25] pixelzoom commented on #109
| image | Horizontal | Vertical |
| -- | -- | -- |
| snowflake.png | | |
| snowflake.png | | |

[2017-05-04 16:31] pixelzoom commented on #109
Looking at the images in Photoshop using "Flip Canvas Horizontal"  and "Flip Canvas Vertical", here are the axes that demonstrate symmetry problems:

| image | Horizontal | Vertical |
| -- | -- | -- |
| snowflake.png |  x | x  |
| butterfly.png | x  |  N/A |
| sun.png | x | x |
| circle.png | x  | x  |
| star.png | x | N/A |

[2017-05-04 16:56] pixelzoom commented on #109
@amanda-phet What's your feeling about the priority of this issue? Should it be addressed before publishing Function Builder: Basics?  Does it require a maintenance release of Function Builder?

[2017-05-04 19:35] pixelzoom commented on #109
In https://github.com/phetsims/function-builder-basics/issues/18#issuecomment-299248432, @amanda-phet indicated that she's going to reach out to the artist to see how much work this is.

[2017-05-12 19:48] clmccutchan commented on #109
@amanda-phet @pixelzoom

There seem to be two different issues.

1. The actual illustration is not symmetrical. No matter how the art board is aligned in export, the image will never be symmetrical. This can almost always be fixed.

2. The illustration is not aligned symmetrically on the art board. When these are exported, the image on the png shifts back and forth when you rotate or reflect it in

[2017-05-15 16:15] pixelzoom commented on #109
@clmccutchan @amanda-phet Do one of you have the new .ai and .png files for the images that have been fixed?

[2017-05-15 16:58] clmccutchan commented on #109
@pixelzoom @amanda-phet Chris, while all of the objects are symmetrical, there may still be a problem with exporting some of them. The pointy objects are particularly fussy and don't seem to export symmetrically in the Illustrator artboard. I'll attach all of the exported pngs and share the .ai url from my Google drive. I don't know if this will give you access to the file or not. I can also email

[2017-05-15 17:00] clmccutchan commented on #109
@pixelzoom  I forgot to note that the original artwork is still in the .ai file on a single artboard. The new artwork is to the right of this, and each object is on a separate artboard.

[2017-05-15 17:21] pixelzoom commented on #109
Thanks @clmccutchan.  But those PNG files that you've attached are nowhere near the sizes of the PNG files that I've been using (found here: https://github.com/phetsims/function-builder/tree/master/images/cards).   The images that you've provided are much smaller, and we scaling them up in the sim will look awful.  I can access the .ai file on Google Drive, but I'd prefer not to attempt to export

[2017-05-15 17:24] amanda-phet commented on #109
I plan to take care of this. @pixelzoom I will email you.

I can directly add these to github but will want the old images in case something goes wrong.

[2017-05-15 17:28] pixelzoom commented on #109
All versions of old images are saved in GitHub.   If/when you add the revised images to GitHub, reference this issue in your commit message, and also commit the new .ai file.

[2017-05-15 17:39] clmccutchan commented on #109
@pixelzoom @amanda-phet The objects can be exported as pngs from the .ai file at a much large size than those I provided. I didn't have specifications on the size needed for the pngs.

[2017-05-16 00:48] clmccutchan commented on #109
@pixelzoom @amanda-phet I've attached the next iteration of the pngs. These should (fingers crossed) all be symmetrical. The widest dimension on each png is 120 px. I can alter that if need be.

![card-icons_butterfly](https://cloud.githubusercontent.com/assets/25354670/26085118/143d1186-399f-11e7-95c8-97316f1bf17d.png)
![card-icons_cherries](https://cloud.githubusercontent.com/assets/25354670/260

[2017-05-16 02:07] pixelzoom commented on #109
@clmccutchan Perhaps @amanda-phet hasn't communicated this to you....  After adjusting symmetry and using even numbers for width and height, we need the dimensions of the PNG files to be in the same ballpark as the current images.  Some of these PNG files have dimensions that are very different.  For example butterfly.png was 153x93, the new version is 120x84, so the new image will appear to be 22

[2017-05-16 02:09] pixelzoom commented on #109
By the way... I checked a few of the above PNG images, and they all behave as desired with "Flip Canvas Horizontal" and "Flip Canvas Vertical".  So nice job @clmccutchan!   Looks like all we have to do is get the PNG dimensions sorted out.

[2017-05-16 14:21] clmccutchan commented on #109
@pixelzoom @amanda-phet Amanda was going to take care of exporting pngs, but it proved to be more complicated than just simply exporting from Illustrator. To get them symmetrical, I had to export them at a large size from Illustrator and then crop them very precisely in Photoshop. I could then adjust the image size as necessary.

Amanda had specified in an email to me that you needed the images in

[2017-05-16 14:56] pixelzoom commented on #109
@clmccutchan asked:

From https://github.com/phetsims/function-builder/issues/109#issuecomment-301655006 (emphasis added):

@amanda-phet It was my understanding (based on our Skype chat) that you were going to specify the new dimensions.  Here's our Skype chat, so that @clmccutchan is in the loop:

[5/15/17, 11:30:49 AM] Amanda McGarry: I can export at any size, and the issue really was about the

[2017-05-16 14:59] pixelzoom commented on #109
Perhaps it will be easier all around if I specify the desired dimensions, and @clmccutchan creates the PNG files?  Stand by, I'll specify the dimensions in my next comment.

[2017-05-16 15:01] amanda-phet commented on #109
Sorry for all of the confusion... since the beaker had a dimension of 123 px I figured 120-130 was a good range for the largest dimension, so I told Cheryl that was a good size. How wide are the cards?

[2017-05-16 15:18] pixelzoom commented on #109
Cards are 70x70.  PNG files are oversized so that quality is consistent across all supported platforms. When imported into the sim, the PNG files have a default scale of 0.4, which can be adjusted to optimize how the image looks.  But none of that really matters for creating the PNG files. What matters is that the revised PNG files need to have _even_ dimensions that are in the same ballpark as th

[2017-05-16 15:31] pixelzoom commented on #109
@clmccutchan Here are the desired dimensions for the PNG files. In all cases, I have simply added 1 to any odd dimensions.

| PNG file | old dimensions | desired dimensions |
| --- | --- | --- |
| beaker.png | 93 x 123 | 94 x 124 |
| butterfly-hires.png | 499 x 344 | 500 x 344 |
| butterfly.png | 135 x 93 | 136 x 94 |
| cherries.png | 93 x 117 | 94 x 118 |
| circle.png | 105 x 108 | 106 x 108 |
|

[2017-05-16 18:10] clmccutchan commented on #109
@pixelzoom Will the snowflake need to rotate 60º to show symmetry with rotation? If so, I will need to keep the dimensions at 118 x 130. If not, I can squish a bit to achieve 112 x130.

[2017-05-16 18:31] pixelzoom commented on #109
@clmccutchan yes, the snowflake needs to show symmetry across both horizontal and vertical axes. 118 x 130 will work just fine.

[2017-05-16 18:39] clmccutchan commented on #109
@amanda-phet @pixelzoom At 118 x 130, you can also rotate the snowflake 60º.

I'm going to email you two the final pngs and .ai file.

[2017-05-16 18:44] pixelzoom commented on #109
Thanks @clmccutchan, good to know, even thought we won't be rotating 60º. The relevant functions in the sim are mirror (reflection about x or y axis), rotate 90º, rotate 180º.

[2017-05-17 17:47] pixelzoom commented on #109
Revised artwork received from @clmccutchan via email.

[2017-05-17 18:44] pixelzoom commented on #109
I've verified the revised artwork and checked it into GitHub. It looks great, and resolves both this issue and https://github.com/phetsims/function-builder-basics/issues/18.  Nicely done @clmccutchan!

I did notice one difference in the artwork for the basic shapes (rectangle, circle, triangle, star) that I believe may be significant.  They have a noticeably reduced stroke width, and (to my eye) d

[2017-05-17 18:53] clmccutchan commented on #109
@pixelzoom Thanks! It was a little more involved than I suspected.

The outline stroke is smaller in the new images because of the image reduction in Photoshop. I can export these four objects from Illustrator with a wider outline stroke so that the reduction in Photoshop will leave a wider stroke.

Let me know what you think, @amanda-phet.

[2017-05-17 19:33] amanda-phet commented on #109
I agree they don't look as good with the thin stroke. It's is pretty pixelated. It doesn't need to exactly match the original but would be good to have it a bit thicker. Sorry Cheryl!
________________________________
From: clmccutchan <notifications@github.com>
Sent: Wednesday, May 17, 2017 12:53:40 PM
To: phetsims/function-builder
Cc: Amanda McGarry; Mention
Subject: Re: [phetsims/function-builde

[2017-05-17 20:37] amanda-phet commented on #109
I've been playing with it a bit and am not actually bothered by the thin stroke in practice. The screenshots above show it much more zoomed in than on my actual screen, and maybe it's because I'm on a retina but it doesn't look bad to me. @pixelzoom would some displays make this situation worse than others?

[2017-05-17 21:16] pixelzoom commented on #109
Everything looks better on retina :)  Borrow one of the non-retina PhET test devices to evaluate.

[2017-05-17 21:54] pixelzoom commented on #109
@amanda-phet said:

The screenshots above show it just about identical in size and quality as what I see on my 2560 x 1440 Apple LED Cinema Display.  And I suspect it looks pretty similar on my 17" 2009 MacBook Pro.

[2017-05-18 18:23] pixelzoom commented on #109
@amanda-phet What is your decision? I'm running out of time to complete this before my vacation.

[2017-05-18 18:34] amanda-phet commented on #109
I planned to look at it on an iPad today but with meetings being remote today it slipped my mind. Let's make the stroke thicker to better match the originals. @clmccutchan are you able to get to this this week?

[2017-05-18 18:48] clmccutchan commented on #109
@amanda-phet @pixelzoom Sure thing. Chris, when do you absolutely need these by?

[2017-05-19 02:08] pixelzoom commented on #109
We've missed the deadline. I won't be able to do anything else on this sim until June 5 at the earliest.

[2017-05-19 02:35] pixelzoom commented on #109
Actually... If I have the revised images (and card-icons.ai) before noon on Friday 5/19, I may be able to squeeze in integration of those images, then get the sim into QA before I go on vacation.  Then (hopefully) QA would be completed by the time I get back, and we can publish before the June conference deadline.  Otherwise, QA won't start until sometime the week of June 5.

[2017-05-19 12:52] clmccutchan commented on #109
@pixelzoom I emailed the four modified pngs with the thicker stroke to you.

[2017-05-19 15:04] amanda-phet commented on #109
Thanks @clmccutchan , they look great.

[2017-05-19 15:24] pixelzoom commented on #109
Thanks @clmccutchan.  I integrated the revised images, and they look great in the sim.   We can now move forward with the next phase to RC testing.

[2017-05-19 15:28] clmccutchan commented on #109
@pixelzoom Awesome! Glad we could get that done before your vacation.

[2017-05-19 15:48] pixelzoom opened #110 "maintenance release: Function Builder 1.0.7"
To pick up these 3 fixes:

phetsims/function-builder#109 (symmetry problems with card images)
phetsims/function-builder-basics#18 (artifacts from ?C function)
screenshot from master

Cherry pick files from function-builder master:

[code]

Increment version id to 1.0.7.

Then build, test, deploy:

[code]

[2017-05-19 15:59] pixelzoom commented on #110
This is on hold until the above issues are verified in https://github.com/phetsims/tasks/issues/844, and Function Builder: Basics 1.0.0 is published.

[2017-05-19 17:27] phet-steele commented on #109
@pixelzoom,  `?C > shrink > ?C` still has a slight issue with the new artwork:

An example where the planet and flask images are slightly bad
<img width="160" alt="screen shot 2017-05-19 at 11 26 57 am" src="https://cloud.githubusercontent.com/assets/5863899/26259421/22afb2a2-3c86-11e7-87a0-e5ed48d06927.png">

[2017-05-19 17:30] pixelzoom commented on #109
Ah yes. I'll also need to constrain Shrink function to even dimensions.

[2017-05-19 17:31] pixelzoom commented on #109
Fix for Shrink pushed to master, @phet-steele please verify.

[2017-05-19 18:21] pixelzoom opened #111 "rectangle -> ?C = swastika"
Noted during RC testing of function-builder-basics, https://github.com/phetsims/tasks/issues/844.

When you run the blue rectangle through `?C` function, you get a swastika:

![screenshot_33](https://cloud.githubusercontent.com/assets/3046552/26261143/4e38fd28-3c8d-11e7-92fb-81af6f5207e5.png)

This is not a new issue, not related to the revised artwork (#109) and is present in the version publishe

[2017-05-19 18:27] pixelzoom commented on #111
I spoken with @amanda-phet about this. Our initial thought was to replace the rectangle with a different shape, perhaps a polygon. But I think we should discuss this a bit more -- perhaps we should just remove the black stroke?  The rectangle would then look unchanged when run through `?C`, which might be a nice learning experience.

[2017-05-19 18:46] phet-steele commented on #109
@pixelzoom, symmetrical cards don't budge. Thanks @clmccutchan!

[2017-05-19 18:48] phet-steele commented on #109
Verified fixed.

[2017-05-19 18:58] phet-steele commented on #110
@pixelzoom, please also grab the screenshot from master. The 1.0 branch still has the old screenshot and overwrote the new one on the website after a maintenance release.

[2017-05-19 19:00] mattpen commented on #106
@pixelzoom - The screenshot reverted to the original when version 1.0.4 was deployed for function builder.  I've fixed the screenshot on the website again, but it will need to be added to the release branch for FB to remain persistent.

[2017-05-19 19:01] clmccutchan commented on #109
@phet-steele That's awesome! Glad I could work out the issue.

[2017-05-19 19:03] pixelzoom commented on #111
Skype discussion with @amanda-phet:

[5/19/17, 12:41:19 PM] Amanda McGarry: I think it looks funny to not have a stroke on just one shape
[5/19/17, 12:41:42 PM] Amanda McGarry: I’ve always thought the star needed the stroke because it’s yellow, and we want contrast
[5/19/17, 12:41:51 PM] Amanda McGarry: but maybe we should remove it from all of the shapes
<img width="127" alt="1495219331" src="htt

[2017-05-19 19:08] pixelzoom commented on #110
Will do, I've added the cherry-pick command above for `function-builder-screenshot.png`.

[2017-05-19 19:10] pixelzoom commented on #109
Okey dokey, closing this one. Thanks everyone.

[2017-05-19 19:10] #109 closed

[2017-05-19 19:14] pixelzoom commented on #111
@clmccutchan when you have time... I'll need:

rectangle.png 108x64
circle.png 108x108
triangle.png 126x126
star.png 126x122 (new color)
card-icons.ai

Thanks!

[2017-05-19 19:16] pixelzoom commented on #111
Here's what we settled on, from @amanda-phet email:

![screenshot_34](https://cloud.githubusercontent.com/assets/3046552/26263270/57531b7a-3c95-11e7-8bfb-0ea05bc96776.png)

[2017-05-19 19:18] pixelzoom commented on #111
@clmccutchan when you have time... I'll need:

rectangle.png 108x64
circle.png 108x108
triangle.png 126x126
star.png 126x122
card-icons.ai

Thanks!

[2017-05-19 19:29] pixelzoom commented on #106
Ah.... The screenshot never got cherry-picked to the 1.0 branch.  I've taken care of that in the above commit.  It will be published in the impending 1.0.7 maintenance release (https://github.com/phetsims/function-builder/issues/110), probably sometime in early June.

[2017-05-19 19:34] pixelzoom commented on #106
@samreid In case it's important to have the correct screenshot in 1.1-phetio, I've updated it in that branch too.

[2017-05-19 19:35] pixelzoom commented on #110
I handled the screenshot in issue #106, since there were multiple branches (1.0, 1.1-phetio) that didn't have the current screenshot.

[2017-05-19 20:08] pixelzoom commented on #110
@samreid with these fixes (replacing all of the card images, among other things), 1.1-phetio is going to be horribly out of sync.  And I've lost track of other changes that have not been propagated to 1.1-phetio.  Your opinion on how to proceed with the 1.1-phetio branch?

[2017-05-22 15:39] samreid commented on #110
For the long run, we will have to figure out how to deal with issues like this, but in this case, the PhET-iO "lite" sim does not have any upcoming usage and does not need to be maintained.

[2017-05-24 01:05] clmccutchan commented on #111
@pixelzoom @amanda-phet I've emailed the new pngs and ai file to both of you.

[2017-05-24 13:52] samreid opened #112 "Why is "twixt" listed in phetLibs in package.json?"
I was looking into https://github.com/phetsims/circuit-construction-kit-common/issues/330 and I noticed that twixt is listed in function builder's package.json.  I removed it and it built and ran OK.  Perhaps I'm unclear what "phetLibs" is for, or perhaps it can be removed.

[2017-06-05 16:30] pixelzoom commented on #112
"phetLibs" is supposed to include optional phet repositories; that is, repositories that are not specified in chipper/build.json.  function-builder uses twixt, and twixt is an optional repository. So I would expect that it needs to be included in package.json, and I'm surprised that it works without it.   FYI, 10 other projects include twixt via their package.json.

[2017-06-05 16:32] pixelzoom commented on #112
vegas and vibe are other optional repositories that need to be specified in a project's package.json.

[2017-06-05 16:36] pixelzoom commented on #112
I verified that function-builder builds and runs without "phetLibs" in its package.json.

make-a-ten has this "phetLibs" in package.json:

[code]

If I totally remove "phetLibs", make-a-ten also builds and runs.

Very curious. I suspect that something has changed within the build process.

[2017-06-05 17:12] pixelzoom commented on #112
I verified that nothing in the build process is automatically adding optional repositories to buildConfig.phetLibs, by placing the following at the end of getBuildConfig.js, and inspecting the output with and without "phetLibs" in package.json.

[code]

[2017-06-05 17:19] pixelzoom commented on #112
Via Skype @samreid said:

[2017-06-05 17:24] pixelzoom commented on #112
phetLibs is essential to lint and published-README tasks.  If repositories are omitted, the sim will build.  But optional repos won't be linted. And they won't appear in the `git clone` instructions that appear in README.md.

[2017-06-05 17:27] pixelzoom commented on #112
As @samreid hypothesized, phetLibs is also essential to generating dependencies.json.  If optional repos are omitted, the sim will build and run, but the optional repos will be missing from dependences.json.  Nothing will warn you about this, and you checkout-shas will also give you an incorrect set of shas in the future (optional repos will silently remain on master).

[2017-06-05 17:28] samreid commented on #112
Should we eliminate `phetLibs` from package.jsons and try to use config.js files as ground truth?

[2017-06-05 17:29] pixelzoom commented on #112
So... It is essential to specify optional repositories in package.json.  But there is nothing that verifies that buildConfig.phetLibs matches what is actually needed by the sim (as specified in config.js).

[2017-06-05 17:37] pixelzoom commented on #112
This is a general issue, moved to https://github.com/phetsims/chipper/issues/580, closing.

[2017-06-05 17:37] #112 closed

[2017-06-05 17:40] pixelzoom commented on #112
@samreid Note that you need to add ```"phetLibs": [ "twixt" ]``` to all CCK repos that use twixt.

[2017-06-05 17:41] samreid commented on #112
Will do, thanks!

[2017-06-05 17:43] pixelzoom commented on #112
@samreid Also... Since you don't have "twixt" in package.json for your CCK projects.... beware that anything you have published so far has an incorrect dependencies.json.  If you use 'grunt check-out' shas, twixt will remain on master.

[2017-06-05 18:24] pixelzoom commented on #111
Files received, thanks @clmccutchan.

[2017-06-05 18:39] pixelzoom commented on #111
@clmccutchan I did not receive a new card-icons.ai file.   It looks like you put the revised icons in new-shapes.ai.   Please put them in card-icons.ai (replacing the relevant old icons) and send me the revised card-icons.ai.

[2017-06-05 18:40] pixelzoom commented on #111
Please make sure that you're modifying the the latest card-icons.ai, which can be found in https://github.com/phetsims/function-builder/tree/master/assets.

[2017-06-05 18:50] pixelzoom commented on #111
@amanda-phet @phet-steele Please verify in this dev version:
http://www.colorado.edu/physics/phet/dev/html/function-builder/1.1.0-dev.4/function-builder_en.html

Verify that:
(1) The swastika problem is gone.
(2) No additional issues have been introduced by removing the stroke from the 4 basic shape.

[2017-06-05 20:02] pixelzoom commented on #111
Revised card-icons.ai received from @clmccutchan, thanks!

[2017-06-05 20:15] samreid commented on #112
Added twixt above, leaving closed.

[2017-06-05 20:33] pixelzoom commented on #111
@amanda-phet @phet-steele This issue is blocking both a Function Builder maintenance release (#110) and continued testing of Function Builder: Basics (https://github.com/phetsims/tasks/issues/844).  So high priority on verification please.

[2017-06-05 20:35] phet-steele commented on #111
You caught me typing this up!

?c still has little lines through the rectangle on high resolution screens:
<img width="178" alt="screen shot 2017-06-05 at 1 56 28 pm" src="https://cloud.githubusercontent.com/assets/5863899/26801682/da2faa50-49fa-11e7-883e-bbb7bcf01150.png">

The lines are more pronounced with double ?c:
<img width="199" alt="screen shot 2017-06-05 at 1 56 46 pm" src="https://cloud

[2017-06-05 20:39] pixelzoom commented on #111
@phet-steele said:

Via Skype, @phet-steele clarified that @amanda-phet has reviewed this, no further changes are needed, and we're OK to proceed.

Closing.

[2017-06-05 20:39] #111 closed

[2017-06-05 21:29] pixelzoom commented on #110
Something went wrong with build-server, so 1.0.7 was messed up.  I had to then publish 1.0.8, which mysteriously worked.

Closing/.

[2017-06-05 21:29] #110 closed

[2017-06-07 19:01] ariel-phet opened #113 "Make a sim primer"
Especially now that we have a function builder basics sim, it would be good to have a primer for both this sim and the basics version

[2017-09-18 17:45] pixelzoom opened #114 "delete code related to 'on demand' initialization"
This sim has 2 query parameters (`initScreenViews` and `initScenes`) that allow you to specify whether to initialize ScreenViews and scenes on "startup" or "onDemand".   We decided to go with "startup" since performance was plenty good.   I neglected to remove the unused strategy ("onDemand") during the cleanup phase for this sim.

[2017-09-18 17:57] pixelzoom commented on #114
Done. Verified with `?ea&fuzzMouse` and `grunt build`.  Closing.

[2017-09-18 17:57] #114 closed

[2017-10-06 17:42] #113 closed

[2017-11-29 22:07] pixelzoom opened #115 "why did file size of images increase?"
From https://github.com/phetsims/resistance-in-a-wire/issues/120#issuecomment-347764684

I said:

@samreid said:

images/ is  96,026 bytes in the parent commit which is https://github.com/phetsims/function-builder/commit/20ce3711725c42e8747bcc636ca99ea225c9ae1f

I said:

[2017-11-29 22:36] pixelzoom commented on #115
beaker.png went from `93x123 PNG (32-bit color) 3.00K` to `94x124 PNG (32-bit color) 20.91K`, similar dimensions but almost 7x larger.

[2017-11-29 22:46] pixelzoom commented on #115
@amanda-phet FYI.

[2017-12-01 20:20] clmccutchan commented on #115
@pixelzoom I'm not sure! But I can check into it. I'm totally slammed with other work until next Tuesday  though.

[2017-12-03 19:02] pixelzoom commented on #115
Thanks @clmccutchan. Relatively low priority, so when you have a chance...

[2017-12-05 16:51] pixelzoom commented on #115
The increase in size is undoubtedly due to how the files were saved/exported as PNG.  My preferred procedure is to copy each icon to a new .ai file, then "File > Save for Web".  If I do that with the beaker icon, my beaker.png is 2629 bytes, almost 10x smaller than the file created by @clmccutchan.

@clmccutchan how did you create the PNG files?

[2017-12-05 16:56] pixelzoom commented on #115
If I use Ilustrator's "File > Export", check "Use artboards", Resolution=300dpi, Anti-aliasing=Art Optimized, then beaker.png is 21638 bytes (21.6K), closer to the 20.91K  that @clmccutchan provided.  So I'm guessing that she used "File > Export" with settings that bloat the file size.

[2017-12-05 17:45] clmccutchan commented on #115
@pixelzoom There's a story here. About half of the pngs export out of Illustrator not centered on the artboard. To get the pngs centered, I had to take them into Photoshop and crop them. When I exported the pngs out of Illustrator at lower resolution and then centered them in Photoshop, people thought the final images were too pixelated. So, I exported out of Illustrator at a higher resolution and

[2017-12-05 18:41] pixelzoom commented on #115
@clmccutchan said:

I see that in [images/cards/README.md](https://github.com/phetsims/function-builder/blob/master/images/cards/README.md), minus the bit about needing to export from Illustrator at higher resolution.

[2017-12-06 04:59] samreid commented on #115
Photoshop also has a "save for web" option that is compressed.

[2017-12-11 16:17] clmccutchan commented on #115
@pixelzoom Just wanted to check in on the status of this. Do you need me to export these at a lower resolution from Photoshop?

[2017-12-12 17:57] pixelzoom commented on #115
Thanks for checking in @clmccutchan, I'll take a stab at it.

[2017-12-12 18:14] pixelzoom commented on #115
In the preceding commit, I used Photoshop's "Save for Web" to reduce the size of the PNG files.  I opened each PNG file that was checked into GitHub, and simply used "Save for Web" with default settings.  The resulting file sizes are still larger than what we had before we addressed #109 (symmetry problems), but I think that this is acceptable.

Here are the specific of how file size has changed:

[2017-12-12 18:30] pixelzoom commented on #115
I've tested function-builder and function-builder-basics with the revised images, and I'm confident that this does not introduce any problems that were fixed in #109 and  phetsims/function-builder-basics#18.

The next step is to push these changes to the 1.0 branch of function-builder. (The 1.1-phetio branch will be ignored, per Slack developer discussion). Then publish maintenance releases of fun

[2017-12-12 19:25] pixelzoom opened #116 "maintenance release: Function Builder 1.0.10"
.. for this fix:

https://github.com/phetsims/function-builder/issues/115 (why did file size of images increase?)

Cherry pick files from function-builder master:

[code]

[2017-12-12 19:26] pixelzoom commented on #116
Done, [1.0.10](https://www.colorado.edu/physics/phet/dev/html/function-builder/1.0.10/function-builder_en.html) is published.

[2017-12-12 19:26] #116 closed

[2017-12-12 20:46] pixelzoom commented on #115
function-builder 1.0.10 (see #116) and function-builder-basics 1.0.2 (see https://github.com/phetsims/function-builder-basics/issues/21) have been deployed.

Closing.

[2017-12-12 20:46] #115 closed

[2018-01-09 19:52] pixelzoom commented on #104
Deferred until we have a way to identify production versions, see phetsims/joist#406.

[2018-03-06 17:59] pixelzoom opened #117 "use MathSymbols.js"
See FBSymbols.

See https://github.com/phetsims/scenery-phet/issues/353

[2018-03-07 23:25] pixelzoom commented on #117
This was trivial to change, since math symbols were already factored out into FBSymbols.

Closing.

[2018-03-07 23:25] #117 closed

[2018-03-29 00:31] pixelzoom opened #118 "use phet.chipper.queryParameters.speed"
Replace '?slow' with phet.chipper.queryParameters.speed

See https://github.com/phetsims/joist/issues/476#issuecomment-377078368

[2018-03-29 00:41] pixelzoom commented on #118
I remove `?slow`.  phet.chipper.queryParameters.speed is working nicely, and provides the same result.

Closing.

[2018-03-29 00:41] #118 closed

[2018-06-15 20:44] JRomero0613 opened #119 "[1.1.3-rc.1-phetio] Recorder Wrapper Doesn't work."
Test Device: PC Laptop

OS: Windows 10 v. 1803

Google Chrome v. 67.0.3396.87

Problem Description: For phetsims/QA#128 when running this sim version with the recorder wrapper nothing comes up on the screen and the console gives the following error:

[code]

[2018-06-15 21:47] JRomero0613 commented on #119
I have tried this with the &phet-io.emitInputEvents query parameter and the recording wrapper still does not work. I do get a different error from the one previously with this new query parameter:

[code]

[2018-06-15 21:54] zepumph commented on #119
because that is a boolean query parameter, try `&phet-io.emitInputEvents=true`

[2018-06-15 22:30] JRomero0613 commented on #119
I am still not able to run the recorder wrapper using this new query parameter or any of the other ones used before. I get the same error as before seen in https://github.com/phetsims/function-builder/issues/119#issuecomment-397750826

[2018-06-15 22:43] pixelzoom commented on #119
Is this issue specific to Function Builder, or something general?

Is there some PhET-iO activity going on for Function Builder that I'm not aware of?

[2018-06-15 22:52] zepumph commented on #119
@pixelzoom this is a maintenance release for a version from last October or so.

@JRomero0613 I apologize! I got confused on issues. I too am getting that weird error about query string machine. I'm unsure what that is about. I'll look into it.

[2018-06-28 19:42] zepumph commented on #119
When looking at the diff between that branch and when it was on master, https://github.com/phetsims/function-builder/compare/1.1-phetio, it looks like 1.1.0 and 1.1.1 were both delivered, but there are commits, and updated dependency commits for a 1.1.2 from Nov 12, 2016. This is strange because there isn't a 1.1.2 release on phet-io production. Then I found the paper trail for 1.1.2 starting here

[2018-06-28 19:48] JRomero0613 commented on #119
@zepumph When you make those changes to the new version let me know and I can test it for you

[2018-06-28 20:32] zepumph commented on #119
I don't know how to proceed. I tried deploying this simulation with chipper 1.0 and 2.0, and can't deploy it. I successfully was able to revert the shas I wanted to, so the tip of the branch is ready for a new RC. @jonathanolson how did you deploy the previous rc.

When trying to use chipper 2.0, I wasn't able to build it successfully because the old chipper needed to see the "phetio" string in th

[2018-06-29 16:46] jonathanolson commented on #119
I'm going to move forward to see if I can do an RC deploy off of the 1.1-phetio branch.

[2018-06-29 16:48] jonathanolson commented on #119
Ahh yup, as noted it is failing with:
[code]

[2018-06-29 16:58] zepumph commented on #119
Yes please do! I committed that to try to use chipper 1.0 to deploy. I don't care how it's deployed though.

[2018-06-29 17:05] jonathanolson commented on #119
Failure with:
[code]

@mattpen presumably it's fine to patch whatever version of chipper it's using to not fail for this, since our deployment will be run with the proper brand, correct?

[2018-06-29 19:44] mattpen commented on #119
This is fine if we are using chipper 2.0.  For chipper 1.0, phetio must be in the string or we will have to make changes to the build-server.

[2018-07-06 23:02] jonathanolson commented on #119
Patched and deployed to https://phet-dev.colorado.edu/html/function-builder/1.1.3-rc.5.

[2018-07-06 23:04] jonathanolson commented on #119
Hmm, a build order was reported, one sec.

[2018-07-06 23:07] jonathanolson commented on #119
@mattpen can you look into this failure?

[code]

[2018-07-07 00:07] zepumph commented on #119
@mattpen this may have to do with the update to use `writePhetioHtaccess` that we did recently. I think that we will still need to support chipper 1.0 for phet-io in this way though.

[2018-07-09 16:16] jonathanolson commented on #119
Also had a fail for the first normal phet-io maintenance release:
[code]

[2018-07-12 17:47] mattpen commented on #119
@zepumph @jonathanolson - This error is because the build-server assumes that the .htaccess file should belong in `{{sim-name}}/build/wrappers` (chipper 1.0) or `{{sim-name}}/build/{{brand}}/wrappers` (chipper 2.0).  In the case of this sim, the appropriate directory for the .htaccess file is actually `{{sim-name}}/build/protected`.  We can either add some logic to the build-server so that it can

[2018-07-12 18:02] mattpen commented on #119
All files appear to have been transferred successfully, but the command fails to update the time on the target directories.  It looks like this may be due to rsyncing to or from an NFS (https://stackoverflow.com/a/668049/2496827).  I'm going to add the `--omit-dir-times` flag which should resolve this.

[2018-07-12 18:53] pixelzoom commented on #119
7/12/18 dev meeting:
• FB only has "phet-io lite" and was provided for research studies. So we don't need to patch this release branch of FB.  No one should try to patch this, so it's OK if it fails.
• @jonathanolson will remove FB from phet-io-maintenance.json.

[2018-07-12 18:54] #119 closed

[2018-07-13 17:15] samreid commented on #119
@kathy-phet FYI if you know of research partners that will need to use Function Builder for scenery input event playback, we should publish a new version from master.

[2018-07-13 18:13] pixelzoom commented on #104
Done in master, awaiting deployment.

[2018-08-24 19:45] pixelzoom opened #120 "evaluate stepper option to Carousel"
Carousel was converted to use TWIXT/Animation in https://github.com/phetsims/sun/issues/381.  The default is `stepper: 'manual'`, which means that the client must call `step` to control the Carousel's animation.   To avoid having to make changes in this sim, `stepper: 'timer'` was added to Carousel call sites, which means that the animation will run automatically using the sim Timer.

The responsi

[2018-08-24 19:50] pixelzoom commented on #120
@jonathanolson randomly selected to review.

[2018-08-28 01:47] pixelzoom opened #121 "Assertion failed: Parameters to setTranslation should be finite numbers"
Look like trouble in scene-phew/Drawer, probably introduced in https://github.com/phetsims/scenery-phet/issues/396.

CT error:

function-builder : fuzz : require.js : run
Uncaught Error: Assertion failed: Parameters to setTranslation should be finite numbers
Error: Assertion failed: Parameters to setTranslation should be finite numbers
    at window.assertions.assertFunction (https://bayes.colorad

[2018-08-28 01:59] pixelzoom commented on #121
Fixed in above commit, fuzz tested, closing.

[2018-08-28 01:59] #121 closed

[2018-09-07 19:07] KatieWoe opened #122 "title case"
For phetsims/tasks/issues/953
The checkboxes that read "simplify" should read "Simplify"
![title case2](https://user-images.githubusercontent.com/41024075/45238401-eddc1300-b29e-11e8-92bd-c0c9b98ff8db.PNG)

[2018-09-07 19:16] pixelzoom commented on #122
This checkbox was very specifically labeled "simplify", as requested by @amanda-phet in https://github.com/phetsims/function-builder/issues/90.   And I know of no convention that requires every control label to start with an uppercase letter.  (I would in fact disagree with such a convention.)

Assigning to @amanda-phet to decide whether to do anything.

[2018-09-07 19:17] pixelzoom commented on #122
Here's the context, in the Numbers screen:

![screenshot_752](https://user-images.githubusercontent.com/3046552/45238835-6394ae80-b2a0-11e8-9034-2030afd43520.png)

[2018-10-27 23:55] pixelzoom commented on #120
Blocked until @samreid changes the default as planned in https://github.com/phetsims/twixt/issues/19#issuecomment-418943560.

[2018-10-28 03:40] samreid commented on #120
https://github.com/phetsims/twixt/issues/19#issuecomment-418943560 seems to imply that the Carousel default should also be the PHET_CORE/Timer instead of manual.

[2018-11-01 03:17] jonathanolson commented on #120
That sounds like a large API change, but I see cases (like in AnimationTests) that are manually stepped but use the default still. Are there cases that still need to be updated?

[2018-11-01 03:31] samreid commented on #120
I tried to catch as many cases as I could in the commits listed after https://github.com/phetsims/twixt/issues/19#issuecomment-433674965, but maybe I missed some.  I can re-review them.  Thanks for pointing out the missed case in AnimationTests.  I'll reassign https://github.com/phetsims/twixt/issues/19 to double check.

[2018-11-02 05:39] pixelzoom opened #123 "use BooleanProperty, NumberProperty, StringProperty"
Related to phetsims/axon#196.

[2018-11-02 06:45] pixelzoom commented on #123
Done, closing.

[2018-11-02 06:45] #123 closed

[2018-11-30 20:55] pixelzoom commented on #122
Over in https://github.com/phetsims/tasks/issues/953#issuecomment-419548715, @arouinfar's opinion was that "simplify" (lowercase) was just fine in this context.  @amanda-phet can you please make a decision on this?

[2018-11-30 20:58] pixelzoom commented on #120
`stepper: timer` (the new default for Carousel) is appropriate for function-builder. Closing.

[2018-11-30 20:58] #120 closed

[2018-11-30 21:00] pixelzoom commented on #57
Should be able to replace `endDrag( null )` workaround with a call the `interruptSubtreeInput` on the target Node.

[2018-11-30 21:02] pixelzoom commented on #49
phetsims/scenery#547 is still unresolved, so can't revisit this yet.

[2018-12-06 22:10] amanda-phet commented on #122
I think this one is ok to leave lowercase. I think it minimizes the weight of that function, which is desirable.

[2018-12-06 22:10] #122 closed

[2019-01-15 19:54] pixelzoom commented on #57
In the previous commit, I replaced `endDrag( null )` with `interruptSubtreeInput`, and add `interruptSubtreeInput` to the RestAllButton callback.

Tested with `?ea&fuzz` on  desktop, and manually with multitouch on iOS 12.1.1.

Closing.

[2019-01-15 19:54] #57 closed

[2019-01-15 20:04] pixelzoom commented on #49
This is still blocked by phetsims/scenery#547.

[2019-03-07 20:24] pixelzoom commented on #104
In https://github.com/phetsims/chipper/issues/743, `showAnswers` is not available in any built version, and we implemented a new way to enable/disable it.  I'll inform the QA team when it's time to test.

[2019-04-08 20:12] pixelzoom opened #124 "remove Tween preload"
This applies to function-builder and function-builder-basics.

TWEEN was replaced by twixt over in https://github.com/phetsims/twixt/issues/18.  But I still see this in package.json, which I suspect should be removed:

[code]

[2019-04-08 20:32] pixelzoom commented on #124
Tween preload was removed, tested requirejs and built versions for both sims. Closing.

[2019-04-08 20:32] #124 closed

[2019-04-15 21:31] KatieWoe opened #125 "Usability on small screens review"
Per @kathy-phet's request in https://github.com/phetsims/QA/issues/295 I am making issues in each published sim repo detailing the pointer areas and usability of sims on phone sized screens.  Done on an iPhone 7 iOS 12 device.

Potential Difficulties Noticed:
* Carousel dots can't be interacted with
* Pointer areas visible when something is in a different part of the carousel (screen 4)

Screensho

[2019-04-15 21:37] pixelzoom commented on #125
@KatieWoe said:

Can you clarify?   I'm looking at the screenshot that you provided for screen 4 (Mystery) and I don't see the problem.

[2019-04-15 21:39] pixelzoom commented on #125
@KatieWoe you didn't mention it, but this is also a general problem:

![screenshot_963](https://user-images.githubusercontent.com/3046552/56167161-a506de00-5f94-11e9-8180-1672dfccb381.png)

The drawer's control overlaps with the middle piece in the functions carousel.

[2019-04-15 21:40] KatieWoe commented on #125
Sorry, I miscounted.  I meant third screen.  If you look to the right of the bottom carousel.  In addition, when the x/y table isn't extended the pointer areas of their up/down buttons are still visible.  Neither are intractable though.  Good catch with https://github.com/phetsims/function-builder/issues/125#issuecomment-483429139.

[2019-04-15 21:55] pixelzoom commented on #125
Re pointer areas for things that are outside the clipping area of the carousel...  It's caused by the fact the scenery does not consider clipping when drawing pointer areas.  So you'll see pointer areas for things that are not drawn and can't possibly be interacted with. We previously decided that this was a non-issue, see https://github.com/phetsims/function-builder/issues/81#issuecomment-2300602

[2019-04-15 22:08] KatieWoe commented on #125
@pixelzoom Still perfectly usable on the small screen in master.

[2019-04-15 22:11] pixelzoom commented on #125
@amanda-phet over to approve the decisions in https://github.com/phetsims/function-builder/issues/125#issuecomment-483433394 and close.

[2019-04-17 21:11] amanda-phet commented on #125
I think this change look good. I agree that the others can be left as-is.

[2019-04-17 21:11] #125 closed

[2019-04-19 16:59] KatieWoe opened #126 "Greyscale function does not impact Warhol function"
**Test device:**
Dell
**Operating System:**
Win 10
**Browser:**
chrome
**Problem description:**
Found during https://github.com/phetsims/QA/issues/309, but unconnected to that release.
When the greyscale function is placed before the Warhol function the result is indistinguishable from the Warhol function on its own.  If greyscale if first, this does not seem to be a problem.  Seen in both full si

[2019-04-19 17:14] amanda-phet commented on #126
That does seem like a bug, but it is not. The warhol function takes an input and assigns it colors, so if the original color was red, green, blue, or gray (from the grayscale function), it assigns it four new colors with four backgrounds. The butterfly does something a little different but I can't remember why.

[2019-04-19 17:14] #126 closed

[2019-05-27 14:05] pixelzoom opened #127 "CT: adjacent times should have been collapsed"
The occurred once, never seen it before, probably a corner case:

[code]

Relevant code is in `HelpfulEquationNode` constructor:

[code]

[2019-05-27 14:59] pixelzoom commented on #127
Not obvious why this happened, and the assertion messages don't contain enough info.  I've added more details to the assertion messages and will have another look if it happens again.  Until then, deferred.

[2019-06-24 00:30] pixelzoom commented on #127
Finally happened in CT on 6/22, here's the stack trace with more detailed assertion message.

[code]

[2019-07-11 16:51] pixelzoom commented on #127
This hasn't happened in CT again, and I have not been able to reproduce manually or with `?ea&fuzz`.  So this is probably some very rare corner case.  If it does happen, it won't crash the sim, it will just show a non-simplified form of an equation.  I'm going to close this, and we can reopen if it occurs again.

[2019-07-11 16:51] #127 closed

[2019-07-29 17:33] amanda-phet opened #128 "Consider using PropertyFractionNode (common)"
Any sim that uses a fraction in a display might want to consider using (and modifying, if needed) the new fraction common code that was added due to https://github.com/phetsims/fractions-intro/issues/7 .

[2019-08-12 16:05] pixelzoom commented on #128
I have investigated.  The advantage to doing this is almost negligible, and the amount of work is large.   Even if there were some a11y or PhET-iO advantage, those features should be addressed for equations _in general_, not just fractions.

So I'm going to close this as "won't fix".  @amanda-phet feel free to reopen if you disagree.

[2019-08-12 16:05] #128 closed

[2020-01-23 23:59] samreid opened #129 "Seam in the function pipe"
While working on https://github.com/phetsims/chipper/issues/840, I noticed a seam at the input and output of the function pipe:

![image](https://user-images.githubusercontent.com/679486/73034229-97bf2f80-3e01-11ea-99d5-57b4cbc9bba2.png)

Not sure this warrants any work, but I thought I should write it down.

[2020-01-24 00:14] pixelzoom commented on #129
@samreid browser and OS?

[2020-01-24 00:15] samreid commented on #129
Google Chrome
Version 79.0.3945.130 (Official Build) (64-bit)

MacOS 10.15.1 (19B88)

[2020-01-24 00:27] pixelzoom commented on #129
I can reproduce this on macOS 10.15.1 + Chrome 79.0.3945.130 + Firefox 72.0..2 by resizing the browser window. At some sizes the seam is visible, at some sizes it's not visible.   I have not been able to reproduce with Safari 13.0.4.

To provide the effect of cards going into the ends of the builder, it's composed of 3 pieces, as shown below.  So there's already significant overlap that should hid

[2020-01-24 00:33] pixelzoom commented on #129
For purposes of debugging in scenery, note that the implementation of `BuilderNode` uses `clipArea`.

[2020-01-26 18:55] ariel-phet commented on #129
I can see this artifact on Windows 10 current Chrome version. I don't think this warrants any work currently, but we could see if it still exists next time we visit function builder. Therefore marking as deferred but leaving open.

[2020-01-27 00:47] pixelzoom commented on #129
I'm going to migrate this to scenery, since there's nothing to be done in function-builder.

[2020-02-28 19:11] KatieWoe opened #130 "Function machine shows multiple pieces when switching during fade"
**Test device**
iPad
**Operating System**
iPadOS 13
**Browser**
Safari
**Problem description**
For ES6 Testing
When switching the function machine between number of pieces, there is a brief fading transition. During this, if you switch again it can show two or more settings at once.
**Steps to reproduce**
1. Go to the Mystery screen
2. Set the machine to have three steps
3. Quickly switch to and f

[2020-02-28 19:13] KatieWoe commented on #130
Can't reproduce on published

[2020-02-29 03:15] pixelzoom commented on #130
Unlikely that this is due to ES6 module migration.  More likely due to conversion from Tween to twixt in https://github.com/phetsims/twixt/issues/18.

[2020-03-03 17:37] pixelzoom commented on #130
I had difficultly reproducing this, but I think I've resolved it in the above commit.

@KatieWoe please verify in master. If it looks OK, you can close this issue.

[2020-03-03 21:23] KatieWoe commented on #130
Looks good in master

[2020-03-03 21:23] #130 closed

[2020-03-16 17:59] KatieWoe opened #131 "Firefox: number card leaves a graphics artifact in builder"
**Test device**
Dell
**Operating System**
Win 10
**Browser**
Firefox
**Problem description**
Found during https://github.com/phetsims/chipper/issues/840, however it happens in both versions and in master. Couldn't seem to reproduce in Chrome or in the published version in Firefox.
When sending things through the function machine, sometimes a bit of the outline of the box will stay behind. This is

[2020-03-16 18:05] pixelzoom commented on #131
@KatieWoe I could probably dig them out of phetsims/chipper#840, but could you please be specific about "both versions" in this issue?

[2020-03-16 18:07] KatieWoe commented on #131
https://phet-dev.colorado.edu/html/function-builder/1.2.0-dev.1/phet/function-builder_en_phet.html
and
https://phet-dev.colorado.edu/html/function-builder/1.2.0-dev.4/phet/function-builder_en_phet.html
First has mipmaps, second doesn't.

[2020-03-16 18:22] pixelzoom commented on #131
I asked @KatieWoe for clarification of FF version on Slack. She was testing with FF 74.0.  I had FF 73.0.1 installed on macOS 10.15.3, so tested with that first and could not reproduce. After upgrading to FF 74.0 (latest), I can reproduce on macOS.    So this issue appears to have been introduced in FF 74.

That said... This issue is barely noticeable and doesn't impact usability of the sim.  I'll

[2020-03-16 18:23] pixelzoom commented on #131
I'm also removing the bug label.  This is not a bug, it's a rendering artifact that we currently have no control over.

[2020-04-08 22:13] KatieWoe opened #132 "Mac 10.10 erases images when black/white and negative filters are used"
**Test device**
Dirac
**Operating System**
10.10.5
**Browser**
Safari 10.1.2
**Problem description**
Found during https://github.com/phetsims/chipper/issues/840, but reproduced and recorded on published version.
When an image goes through the function machine when it has the black/white or the negative rainbow filter it comes out blank instead. If you remove the filter and put it back on, sometime

[2020-04-08 22:58] pixelzoom commented on #132
I recommend checking on 10.13 and 10.14.  I confirmed that it does not occur on macOS 10.15.4.

The images on cards are rendered using the Canvas API.   The 2 functions that have been identified as problematic are Grayscale.js and InvertRGB.js.  They are the only 2 functions that edit the canvas data directly, while other functions perform transformations (scale, rotate,...) of the canvas image.

[2020-04-08 23:01] pixelzoom commented on #132
@KatieWoe can you please confirm that this is not an issue on 10.13.6 and 10.14.6 ?

[2020-04-09 01:15] ariel-phet commented on #132
@KatieWoe  if you confirm that this is not an issue on 10.13.6 and 10.14.6 feel free to close. If it is an issue on those please reassign to me.

[2020-04-09 15:35] KatieWoe commented on #132
Confirmed that they don't occur on 10.13 or 10.14

[2020-04-09 15:46] pixelzoom commented on #132
@ariel-phet How wold you like to proceed now that @KatieWoe determined that it's not a problem on 10.13 or 10.14 ?

[2020-04-09 16:14] ariel-phet commented on #132
Let's go ahead an close. not worth fixing such a platform specific bug currently when it can fixed with an OS upgrade.

[2020-04-09 16:14] #132 closed

[2020-09-08 23:38] pixelzoom opened #133 "replace deprecated input listeners"
Related to https://github.com/phetsims/scenery/issues/1078.

- [x] MovableNode: SimpleDragHandler > DragListener

[2020-09-09 00:52] pixelzoom commented on #133
Done, closing.

[2020-09-09 00:52] #133 closed

[2020-09-21 20:28] pixelzoom opened #134 "Assertion failed: zero operand not valid"
Probably related to NumberPicker changes in https://github.com/phetsims/scenery-phet/issues/627.

To reproduce:
1. Run sim from master or phettest
2. Go to Equations screen
3. Scroll the carousel until you can see the division operator
4. Press the decrement arrow on the division operator, which is supposed to skip over `0` value.
[code]

[2020-09-21 20:29] pixelzoom commented on #134
Looks like this also occurred once in CT.  But with a different error message?

[code]

[2020-09-21 20:34] pixelzoom commented on #134
Fixed in the above commit. Closing.

[2020-09-21 20:34] #134 closed

[2021-01-19 17:07] pixelzoom opened #135 "CT: adjacent divide should have been collapsed"
This happened for the first time on 1/18/2021, 8:45:48 PM.  It's either a new issue introduced by common-code changes, or (more likely) something that is unlikely to be exercised by CT.  Note that a specific equation (`[[x]/3]/1`) is shown in the assertion message, so I would start by trying to manually reproduce that equation.

[code]

[2021-03-19 00:00] pixelzoom opened #136 "Functions and cards can be dragged outside the bounds of the browser window"
@brooklynlash reported in Slack:

[2021-03-19 00:02] pixelzoom commented on #136
In general, there is no constraint on dragging unless something can become “lost” by dragging it outside the bounds.  Since the functions and cards in Function Builder animate back, there is no possibility of them becoming lost, so no need for drag constraints.  @KatieWoe FYI,  because it sounds like you may not be aware of this convention.

Let's also confirm with the designer @amanda-phet to be

[2021-03-22 22:20] amanda-phet commented on #136
Many sims have defined bounds of the play area, but when there are toolboxes or panels to bring things to a play area, we can see this kind of behavior. Least Squares Regression is a sim with the same type of behavior (try the data points). So this is certainly not unique to Function Builder, but is probably less common in our sims.

[2021-03-22 22:20] #136 closed

[2021-04-27 17:18] pixelzoom opened #137 "Factor out duplicated credits."
Credits are duplicated in function-builder-main.js and function-builder-basics-main.js, and they should be identical since the latter is a subset of the former.  But I see that the credits are already out of sync.  The more current pattern is to factor out shared credits into a constants file (FBConstants.js).

[2021-04-27 17:49] pixelzoom commented on #137
Done, closing.

[2021-04-27 17:49] #137 closed

[2021-04-29 20:43] pixelzoom commented on #104
`showAnswers` has been private for almost 2 years now, and is working fine. So I'm just going to close this issue.

[2021-04-29 20:43] #104 closed

[2021-05-13 21:36] pixelzoom commented on #131
This is no longer a problem in FF 88.0.1.  Tested on macOS.

Closing.

[2021-05-13 21:36] #131 closed

[2021-08-03 13:30] pixelzoom commented on #135
This is still occurring very occassionally as of 8/2/2021.

[2022-01-10 19:42] oliver-phet opened #138 "User request: composite functions"

[2022-01-10 21:25] amanda-phet commented on #138
The sim currently supports this, since you can compose up to three functions. I might need clarification on what they are looking for, but I would respond with something along the lines of using the "see inside" checkbox to see between each function.

[2022-01-22 16:02] pixelzoom opened #139 "Function Builder: publish 1.2 with LoL support"
@kathy-phet said that it would be beneficial for Legends of Learning to republish Function Builder from master.  Function Builder is not a PhET-iO sim, so this will be core features.  This also includes Function Builder: Basics.

The plan is:
- [ ] dev test
- [ ] RC test
- [ ] publish 1.1

There are no outstanding issues in the function-builder and function-builder-basics repos, and no general "bl

[2022-01-22 16:03] pixelzoom commented on #139
@amanda-phet FYI.

[2022-01-22 16:13] pixelzoom commented on #139
The published version is 1.0.x, so I was expecting to be publishing 1.1.x.  But when I went to publish the dev version of Function Builder, it was 1.2.x.  Investigation revealed these 1.1 dev and phet-io (!) versions were published to bayes:

[code]

The dates on these are curious.  The initial commit to function-builder was 3/11/17, and all of the phetio versions shown above are dated in 2016.

[2022-01-22 16:18] pixelzoom commented on #139
bayes thinks that it's the correct year, so that's not the problem:

[code]

[2022-01-22 16:37] pixelzoom commented on #139
I still don't know what was going on here, but here's who published these odd versions:

[code]

Note that the syntax for these version numbers is all over the place.

Do any of you know what was going on here?

[2022-01-22 16:47] pixelzoom commented on #139
I still don't know what was going on here, but it looks like there was some PhET-iO work going on that I either didn't know about, or have forgotten about.

@jonathanolson created the 1.1-phetio branch on 07/06/2018.

I see no PhET-iO instrumentation in the 1.1-phetio branch, so I don't know why it was created, or why (or how!) phetio versions were published.

Here's who published these odd versio

[2022-01-22 16:49] pixelzoom commented on #139
Perhaps this was related https://github.com/phetsims/function-builder/issues/119, a problem with the Record Wrapper. Maybe that doesn't require PhET-iO instrumentation?

[2022-01-22 17:03] pixelzoom opened #140 "branch: 1.1-phetio"
In https://github.com/phetsims/function-builder/issues/139, I was attempting to publish a new version of Function Builder.  The published version is 1.0.x, so I was expecting to be publishing 1.1.x. But when I went to publish the dev version of Function Builder, it was 1.2.x. Investigation revealed a 1.1-phetio branch and many 1.1 versions published to bayes.     That resulted in a lot of confusio

[2022-01-22 17:05] pixelzoom commented on #139
The published version is 1.0.x, so I was expecting to be publishing 1.1.x.  But when I went to publish the dev version of Function Builder, it was 1.2.x.   That's confusing and concerning.  We'll investigate in https://github.com/phetsims/function-builder/issues/140.

In the meantime, I'll advance both function-builder and function-builder-basics to 1.2, and proceed with dev deploy.

[2022-01-22 17:16] pixelzoom commented on #139
https://phet-dev.colorado.edu/html/function-builder/1.2.0-dev.5/phet/function-builder_en_phet.html

[2022-01-22 17:41] pixelzoom opened #141 "QA credits for 1.2 release"
For https://github.com/phetsims/function-builder/issues/139.

function-builder and function-builder-basics share the same credits in FBConstants.js. The current QA credits are:

[code]

@KatieWoe when we get towards the end of QA for the 1.2 release, please let me know who to add.

[2022-01-22 18:27] pixelzoom commented on #140
@kathy-phet said that this branch was created to support a study that Ian was doing. Record/playback was turned on to support that, but no other PhET-iO instrumentation was done.  And that I should just ignore the 1.1-phetio branch, and not be concerned about this for 1.2 publication in https://github.com/phetsims/function-builder/issues/139.

@samreid @zepumph anything to add to that?

[2022-01-25 16:55] samreid commented on #140
Perhaps this overlaps in part with https://github.com/phetsims/function-builder/issues/100?

[2022-01-25 17:18] zepumph commented on #140
That sounds right. We released a version a long long time ago outfitted with record/playback support for a researcher. As far as I know, it has not been used in years.

It is not actively maintenance released (from the PhET-iO deploy status in the admin section of the phet website).

You can search for "function" in [Partners.md](https://github.com/phetsims/phet-io/blob/dc4a8304ae89c353bd17bc4a034

[2022-01-25 17:18] zepumph commented on #140
@jonathanolson was only involved in those releases as part of a batch MR, unassigning him.

[2022-01-25 17:26] kathy-phet commented on #140
I don't think this issue needs more discussion. It's pretty much ancient history at this point, and @pixelzoom created 1.2 dev for phet brand. I'm going to close this issue.

[2022-01-28 01:43] pixelzoom commented on #140
Thanks for the info.

I'm going to re-open this because the convention is to document branches with a GitHub issue. And the issue is to remain open until the branch is deleted.  In this case, it's questionable as to whether "1.1-phetio" is a non-standard branch name.  But as the responsible dev for this repo, I anticipate having questions about this branch in the future. So documenting this branch

[2022-02-01 16:44] pixelzoom commented on #139
Higher-priority issues were added to the QA queue, so https://github.com/phetsims/qa/issues/766 and https://github.com/phetsims/qa/issues/767 are on hold, and will require new dev versions.  QA will contact me when they are ready to proceed.

[2022-02-08 17:52] pixelzoom commented on #139
@KatieWoe said in Slack:

I published new dev versions:
* [1.2.0-dev.6](https://phet-dev.colorado.edu/html/function-builder/1.2.0-dev.6/phet/function-builder_all_phet.html) for https://github.com/phetsims/qa/issues/766
* [1.2.0-dev.2](https://phet-dev.colorado.edu/html/function-builder-basics/1.2.0-dev.2/phet/function-builder-basics_all_phet.html) for https://github.com/phetsims/qa/issues/767

[2022-02-09 16:47] Nancy-Salpepi opened #142 "Clicking on an item or function can cause screen to pan"
**Test device**
MacBook Air (m1 chip)

**Operating System**
12.0.1

**Browser**
Safari and Chrome

**Problem description**
For https://github.com/phetsims/qa/issues/766, https://github.com/phetsims/qa/issues/767 and possibly related to https://github.com/phetsims/joist/issues/770:

Sometimes, when I click on an item in the carousel or a function while zoomed in, the screen pans.

**Steps to reprod

[2022-02-09 20:11] KatieWoe opened #143 "Mystery screen takes longer to enter"
**Test device**
iPad
**Operating System**
iPadOS 15.3
**Browser**
Safari
**Problem description**
For https://github.com/phetsims/qa/issues/766. Fairly minor, and I didn't see it on my Windows 11 device.
When switching screens, the mystery screen was noticeably slower to be entered than the others. This was on iPad, though a newer iPad. Not sure if it was slow enough to be considered a problem. It

[2022-02-09 20:31] pixelzoom commented on #143
I've tested 1.2.0-dev.6 this with an iPad 6, iPhone 11, and MacBook Pro.  I can't reproduce this - switching to the Mystery screen was just as fast as any of the other screens.  So I suspect this is a problem with the test device.

@KatieWoe Did you try rebooting the iPad? Could you try on a different iPad?

[2022-02-09 20:42] pixelzoom commented on #142
I reproduced the problem in 12.0-dev.6 and master.  I tried a few other sims that use Carousel, and saw this behavior occassionally, but not a consistently as in Function Builder. Perhaps it's because cards taken from the left carousel are constrained to be dragged on a straight line to the input slot of the "builder"?

@jessegreenberg any thoughts?

[2022-02-09 20:46] KatieWoe commented on #143
Rebooting the iPad did not fix this. I tested on an iPhone 7 and while I could see it there, it seemed much less noticeable.

[2022-02-10 17:20] jessegreenberg commented on #142
I am disappointed with how panning while dragging an object is working currently, it keeps causing problems like this and https://github.com/phetsims/joist/issues/769 and https://github.com/phetsims/molecule-shapes/issues/213. I am meeting with JO this afternoon to discuss the approach and alternatives.

[2022-02-10 19:01] pixelzoom commented on #142
My feeling is that this should not block forward progress on Function Builder, since any fix will (hopefully?) be addressed as a maintenance release to all sims.  @jessegreenberg @amanda-phet do you agree?

[2022-02-10 19:25] amanda-phet commented on #142
@pixelzoom I agree, this doesn't need to block Function Builder.

[2022-02-10 19:52] jessegreenberg commented on #142
So far issues related to this were not important enough to block publication. So I wasn't expecting to do a batch maintenance release, but I will check with @kathy-phet and others about whether that is worthwhile.

This case seems worse than others and I think it should be fixed, but I understand if that doesn't fit in the timeline. Pan and zoom could be disabled for this publication if that is be

[2022-02-10 20:43] amanda-phet commented on #143
I'm not sure what to do for this, either. I just tested on my iPad 6 (iOS 14) and couldn't reproduce it, so there's probably not much we can do unless it's more pervasive.

Assigning to @kathy-phet to prioritize.

[2022-02-11 00:51] kathy-phet commented on #142
This sim doesn't have a deadline for re-publication, so the timeline is fine and fixing this issue sounds good.

[2022-02-11 19:06] Nancy-Salpepi opened #144 "Top border of sim flashes after exiting full screen mode with Chromebook"
**Test device**
Chromebook version 98.0.475891

**Problem description**
For https://github.com/phetsims/qa/issues/766 and https://github.com/phetsims/qa/issues/767

I noticed that after exiting full screen mode, when I send a card through the tunnel in either direction, the top border between the sim and toolbars flashes.

I could not reproduce this on MacOS12 + safari/chrome.

**Steps to reproduc

[2022-02-11 19:29] amanda-phet commented on #144
@Nancy-Salpepi did you check any other sims? This might not be a function builder bug.

[2022-02-11 19:58] Nancy-Salpepi commented on #144
I looked at a few sims with light backgrounds where I was capable of moving things: GFL:B, Fractions:Intro, Masses and Springs, and Pendulum lab --I didn't see any flashing, although a couple of times the top border disappeared when exciting full screen mode and then reappeared once I clicked on something.

I do see the flashing happening in the published version of function builder with the Chrom

[2022-02-11 23:59] pixelzoom commented on #139
Slack to @amanda-phet and @kathy-phet:

Chris Malley 4:00 PM
QA has completed dev testing for Function Builder & Function Builder: Basics.  There are 3 issues, none sim-specific:
https://github.com/phetsims/function-builder/issues/142
https://github.com/phetsims/function-builder/issues/143
https://github.com/phetsims/function-builder/issues/144
Kathy decided to wait for a fix for https://github.co

[2022-02-16 17:45] jessegreenberg commented on #142
This has been fixed in function-builder. The solution in https://github.com/phetsims/scenery/issues/1356 doesn't work in this case yet because of https://github.com/phetsims/scenery/issues/1361 and the usage of DAG in this sim so https://github.com/phetsims/function-builder/commit/8aba031e024896fd4f8d833005ebcf24c3ef4eb2 was added to fix this. That workaround can be removed once https://github.com

[2022-02-16 22:58] pixelzoom commented on #142
I'm not familiar with how this feature is implemented, and I don't understand the solution.  So I'll take your word for it.

@Nancy-Salpepi would you please verify that this is fixed in master?

[2022-02-16 22:59] pixelzoom commented on #144
@amanda-phet waiting for your feedback.

[2022-02-16 23:00] pixelzoom commented on #143
@kathy-phet waiting for you to prioritize and decide whether this is blocking.

[2022-02-16 23:01] pixelzoom commented on #143
Labeling as blocking until I hear otherwise.

[2022-02-16 23:03] pixelzoom commented on #138
@oliver-phet checking on the status of this issue. Have you responded to the user?

[2022-02-16 23:16] KatieWoe commented on #141
Kathryn Woessner, Nancy Salpepi, and Emily Miller worked on https://github.com/phetsims/qa/issues/766 and https://github.com/phetsims/qa/issues/767

[2022-02-16 23:17] pixelzoom commented on #139
Status as of 2/16/2022 @ 4:17PM MST:

* https://github.com/phetsims/phet-core/issues/103 block publication, in progress by @jonathanolson
* https://github.com/phetsims/function-builder/issues/142 blocks sim publication, fixed by @jessegreenberg, pending test by @Nancy-Salpepi
* https://github.com/phetsims/function-builder/issues/143 block sim publication, assigned to @kathy-phet
* https://github.c

[2022-02-16 23:44] oliver-phet commented on #138
Yes, I responded to the user on Jan 10. Haven't heard from the user since then so I'll close for now!

[2022-02-16 23:44] #138 closed

[2022-02-17 13:05] Nancy-Salpepi commented on #142
@pixelzoom I am no longer able to reproduce cases where significant panning occurs when I click on an item.

In some cases, if I click on an item that is partially off screen, the screen will pan slightly so that the entire object is on screen. I think this is acceptable behavior, but leaving it up to you as to whether this can be closed or not.

https://user-images.githubusercontent.com/87318828/

[2022-02-17 16:43] pixelzoom commented on #142
I don't know know how this feature is supposed to behave. @jessegreenberg is this acceptable behavior?

[2022-02-17 18:27] pixelzoom commented on #142
Great, thanks.  Then this is ready to rock N roll.  Closing.

[2022-02-17 18:27] #142 closed, assigned to pixelzoom

[2022-02-17 20:43] pixelzoom commented on #144
2/17/22 design meeting:

Not blocking for Function Builder.  Likely a common-code issue.  @kathy-phet decided this is not worth tracking down, specifically in Function Builder or generally.

Closing as "won't fix".

[2022-02-17 20:43] #144 closed

[2022-02-17 20:46] pixelzoom commented on #143
2/17/22 design meeting:

@kathy-phet says does not block publication, and is not worth investigating in Function Builder. @KatieWoe if QA sees this pattern in other sims, please bring it up again.

Closing.

[2022-02-17 20:46] #143 closed

[2022-02-17 20:52] pixelzoom commented on #139
2/17/22 design meeting:

TypeScript conversion is the priority for Q1 2022, and it's therefore difficult to minimize common-code changes between the time of publishing dev version for testing, and creating release branches after testing has completed.  So we decided to pause further work on this issue until the beginning of Q2.  Around 4/1, PhET is planning to re-deploy a batch of PhET-iO sims, an

[2022-02-24 20:16] KatieWoe commented on #141
Putting on hold until more testing is done in case more people need to be added. If we don't move forward with this, feel free to close @pixelzoom

[2022-04-07 18:18] pixelzoom commented on #139
On hold until PHET-iO batch release https://github.com/orgs/phetsims/projects/44 happens.

[2022-04-07 18:19] pixelzoom commented on #135
I haven't seen this in a long while.  It's not blocking, and will not cause problems in practice.

[2022-05-19 15:35] pixelzoom commented on #139
At 5/12/22 dev meeting, @kathy-phet asked me to decouple this from the PhET-iO batch release, which is delayed.

On 5/19/22, @KatieWoe said that QA has capacity to do dev testing.  I published these dev tests:

* https://github.com/phetsims/qa/issues/804
* https://github.com/phetsims/qa/issues/805

[2022-05-19 15:36] pixelzoom commented on #141
Dev testing has resumed for #139, so removing the "on-hold" label.

[2022-05-20 01:40] Nancy-Salpepi opened #145 "[Safari] MathSymbolFont leaves graphics artifact on Equations screen"
**Test device**
MacBook Air (m1 chip)

**Operating System**
12.3.1

**Browser**
safari

**Problem description**
For https://github.com/phetsims/qa/issues/804, I see a very minor artifact on the Equations Screen -- when the 'y' in the equation moves to the right, the end of the tail stays behind. (Sorry-I know these artifact issues are annoying)

* This is also seen in published
* This doesn't happ

[2022-05-20 15:22] pixelzoom commented on #145
Reproduced in master.

This problem occurs when `MathSymbolFont` is used.  Scenery is getting the bounds wrong, and therefore leaving graphics artifacts when the rendered equation changes.  To confirm, make this change in FBConstants.js. You'll see that there is no problem when using `PhetFont`.

[code]

Using `?renderer=canvas` results in no change.

My recommendation is to:
* open a general scen

[2022-05-20 18:51] KatieWoe opened #146 "Shaking sim when a card comes in from off screen"
**Test device**
Dell
**Operating System**
Win 11
**Browser**
Chrome
**Problem description**
For https://github.com/phetsims/qa/issues/804. This seems to happen on the published sim as well.
If a card is dragged off screen and let go to return to their carousels, the sim, and particularly the edges of the function machine, seem to flash and shake. It seems to happen whenever a card is to the left o

[2022-05-20 20:58] pixelzoom commented on #146
@KatieWoe I have not been able to reproduce this on any macOS browsers (Safari, Chrome, Firefox).

Is this specific to Win11 + Chrome, or does it happen with other browsers on Win11?

[2022-05-20 21:08] KatieWoe commented on #146
It doesn't look like it happens on Firefox, or if it does it isn't nearly as bad.

[2022-05-23 16:23] KatieWoe opened #147 "Lag on iPad when sim is zoomed in"
**Test device**
iPad Air 2
**Operating System**
iPadOS 15.5
**Browser**
Safari
**Problem description**
For https://github.com/phetsims/qa/issues/804. Did not seem to happen on Win 11 Chrome or on other sims on the iPad.
Zooming in to the sim seems laggy and panning, with or with out objects, while zoomed in also lags. The sim itself does not seem to lag.

**Visuals**

https://user-images.githubuse

[2022-05-23 16:25] KatieWoe commented on #147
Ok, I have no idea why everything in the video is green. That definitely didn't happen while testing. The file plays fine on my computer, so something happened while uploading to github it seems.

[2022-05-23 16:30] KatieWoe commented on #147
Here's a screen recording of the video. Uploading the video to Slack produced the same problem.
![trythis](https://user-images.githubusercontent.com/41024075/169865736-87fbf9a5-d406-4bd2-bef4-217f25010f26.gif)

[2022-05-23 17:51] KatieWoe commented on #147
I only checked one or two published sims, but it seemed specific to function builder/basics.

[2022-05-23 17:53] pixelzoom commented on #147
@KatieWoe said:

It looks fine to me. Perhaps it's a playback problem on your machine.

[2022-05-23 17:56] pixelzoom commented on #147
@KatieWoe can you please test master, or a recently-published dev version?  If it's a recent regression, it's unlikely to be present in published sims.  And since this feature is not at all sim-specific, I can't imagine why it would occur in Function Builder but not in other sims.

[2022-05-23 18:13] Nancy-Salpepi commented on #147
Side note: @KatieWoe it isn't your machine. The video is green when I watch it on the Dell (win10 + chrome) but fine when I watch it on my mac with chrome.

[2022-05-23 20:40] jessegreenberg commented on #147
I confirmed the performance problem on my iPad Air 2. I found that performance of pan and zoom is significantly better if the workaround for https://github.com/phetsims/function-builder/issues/69 is removed.

[code]

Is it possible to remove that now?

[2022-05-23 20:47] pixelzoom commented on #146
We could work around this by preventing the user from dragging cards (and presumably functions) outside the visible bounds of the ScreenView.  But those are significant code changes that I'd rather not make, and I'm more inclined to do nothing.

@jonathanolson thoughts on what's causing this, and how/whether to address it?

@amanda-phet your opinion on whether this needs to be addressed for the 1.

[2022-05-23 20:49] pixelzoom commented on #146
@KatieWoe does this also occur when a function is dragged off-screen and released?

[2022-05-23 20:53] pixelzoom commented on #147
I could investigate removing the workround.  But perhaps we should investigate why pan/zoom performance is so poor with canvas?  There are other sims that rely on canvas, and will presumably have this same problem.  @jessegreenberg @jonathanolson thoughts?

[2022-05-23 21:57] KatieWoe opened #148 "Sim can freeze when taking screenshots"
For https://github.com/phetsims/qa/issues/804 and https://github.com/phetsims/qa/issues/805. Seen on iPadOS 15.5. It didn't seem to happen on the published version of the sim. I also didn't see it on Win 11 Chrome

When taking screenshots from the phet menu, it would take a noticeably long time. This was especially the case if the function machine had three slots. If you try to drag objects while

[2022-05-23 22:02] pixelzoom commented on #148
@KatieWoe With features like this that are common to all sims, it would be helpful to know if other sims (in master, or published around the same time) are experiencing the same problem.  Is that the case with this feature?  There's absolutely nothing about screenshots that are specific to this sim.

[2022-05-23 22:32] jessegreenberg commented on #147
Checking out some other usages: `renderer: 'canvas'`  is used on the skater in energy-skate-park and performance was OK there on my iPad Air 2. wave-interference uses it and framerate was slower there, but acceptable in my opinion. Performance was OK for large CanvasNodes like the ones in rutherford-scattering.

I am not sure why it is so poor for the `controlsLayer`, @jonathanolson may know if th

[2022-05-23 22:37] KatieWoe commented on #146
Yes it does. It varies a bit by screen, but not much.

[2022-05-23 22:45] KatieWoe commented on #148
I was able to get something similar on Geometric Optics without the freezing, but with the long wait times. However, instead all screenshots after the first one when I tried to replicate the bug were empty with a size 0mb size.

[2022-05-24 14:43] pixelzoom commented on #148
Production? Master? A dev version?....  I need details.

[2022-05-24 14:44] KatieWoe commented on #148
Production, sorry, I thought I included that. I wasn't able to test dev versions or master at the time since that part of the website was down.

[2022-05-24 15:13] pixelzoom commented on #148
I can't reproduce this.  On my iPad6 with iPadOS 15.5 and Safari, taking a screenshot takes barely more than 1 second.

Questions:
* Roughly how long, in seconds, is "a noticeably long time"?
* Which test device are you seeing this with, and what model iPad is it?
* Does it occur with other iPads?

[2022-05-24 15:18] pixelzoom commented on #148
@KatieWoe says:
* as much as 3 seconds to take a screenshot
* iPad Air 2 test device
* @kathy-phet has the other iPad running iPadOS 15.5, and @KatieWoe needs to get it back from her

[2022-05-24 15:21] pixelzoom commented on #148
I had no problems taking screenshots of Geometric Optics 1.1.1, and there are no empty (0kb) screenshots.

@KatieWoe is also seeing slow screenshots with Fourier 1.0.4.

[2022-05-24 15:22] Nancy-Salpepi opened #149 "Slot outline seen when trying to move a card backwards with Firefox"
**Test device**
Dell

**Operating System**
Win10

**Browser**
Firefox

**Problem description**
For https://github.com/phetsims/qa/issues/804 and https://github.com/phetsims/qa/issues/805, the dashed outline of the slot is visible when trying to drag an output card backward through an invertible function. This is very minor and doesn't affect the usability of the sim, but still wanted to mention.

[2022-05-24 15:35] pixelzoom commented on #149
Reproduced on macOS 12.3.1 + FF 100.0.2.   This is probably yet-another scenery bounds issue.  I recommend that we do nothing, and close as "won't fix".  @amanda-phet if you agree, please close.

[2022-05-24 15:45] pixelzoom commented on #148
I don't know if it's significant, but https://github.com/phetsims/function-builder/issues/147 (performance problem with pan/zoom) was also reported on iPad Air 2 by @KatieWoe, confirmed on iPad Air 2 by @jessegreenberg. And I could not reproduce on iPad6. Is there something that both Screenshot and Pan/Zoom are using that is having problems on iPad Air 2?

[2022-05-24 15:53] pixelzoom commented on #148
I wondered:

Looking at ScreenshotGenerator.js, I see that the screenshot feature is based on canvas.  And in #147, @jessegreenberg narrowed down the pan/zoom performance problem to use of canvas.  So there does appear to be a relationship here.

Assigning to @samreid (author of ScreenshotGenerator.js) and @jonathanolson for input.

[2022-05-24 17:16] jessegreenberg commented on #148
I tried on my iPad Air 2 and had similar results as @KatieWoe. It takes ~3 seconds to see the "Do you want to download..." dialog from Safari.

I tried a couple of others (graphing-lines, friction) and it took ~1 second to see the dialog.

To be honest even 3 seconds felt acceptable to me, other apps and actions can take a long time to process on this old device (though generally not in PhET sims)

[2022-05-24 17:46] jessegreenberg commented on #148
While tethering my iPad Air 2 to my Mac I didn't see any freeze or error in the dev tools but the safari page did automatically refresh as if it was trying to recover from a problem.

[2022-05-24 21:46] pixelzoom commented on #148
Thanks for testing @jessegreenberg.

[2022-05-24 21:53] pixelzoom commented on #148
Here's a summary of the problem with the Screenshot feature:

* A screenshot takes longer than expected, 3 seconds or more.
* After the screenshot completes, the sim sometimes freezes and requires a restart.
* When taking another screenshot, the sim sometimes freezes before the screenshot completes, and requires a restart.
* When tethered to a Mac, there are no error messages in the console.
* Thi

[2022-05-24 21:55] pixelzoom commented on #147
Until I hear otherwise, labeling this as blocking.  @amanda-phet please weigh in.

[2022-05-25 13:59] jonathanolson commented on #147
It sounds like the screenshot and pan/zoom issues are both Canvas-related on the iPad Air 2? I couldn't reproduce slowness on my laptop (with the Canvas workaround applied). I don't have an iPad recent enough to test or reproduce otherwise. Setting the entire sim or screenview to Canvas could possibly improve performance too if the workaround is needed. There were two Canvases needed to display th

[2022-05-25 14:16] jonathanolson commented on #148
Devtools console? I'm curious whether the application failure would report out any more information.

Could be a number of things, not sure if we're going over some memory limit, if the browser process is erroring out, or possibly if it's more of an input failure (somehow) afterward. Debugging while tethered with XCode tools would be my first line of attack.

[2022-05-25 14:18] jonathanolson commented on #148
Also if tethering is not an option, working to reproduce based on cutting screenshot parts out of screenshotting (e.g. screenshotting with Canvas but not saving the file, or the opposite of saving a blank file) to see if the part that causes the crash can be isolated.

[2022-05-25 14:19] jonathanolson commented on #148
Let me know if I should collaborate with someone who has one of the affected devices, or whether I should pick one up(?).

[2022-05-25 14:26] jonathanolson commented on #146
Not exactly sure. Could try the `preventFit: true` flag on the item that goes off-screen (or everything) to see if it helps. Is that rendered in Canvas or SVG?

[2022-05-25 14:33] jonathanolson commented on #148
I was looking into something else (https://github.com/phetsims/function-builder/issues/145), and laptop Safari slowed down to a crawl on ?rootRenderer=canvas. The bulk of the time is spent applying a Canvas filter (ColorMatrixFilter of some type) with the per-pixel operations and get/put of data. This is possibly related.

[2022-05-25 14:33] jonathanolson commented on #147
I was looking into something else (https://github.com/phetsims/function-builder/issues/145), and laptop Safari slowed down to a crawl on ?rootRenderer=canvas. The bulk of the time is spent applying a Canvas filter (ColorMatrixFilter of some type) with the per-pixel operations and get/put of data. This is possibly related.

[2022-05-25 14:36] jonathanolson commented on #147
We're left with this slow option, since Safari does not implement Canvas filters (https://developer.mozilla.org/en-US/docs/Web/API/CanvasRenderingContext2D/filter) - so Canvas on Safari will be quite negatively impacted when there is an active filter, especially one that is having to filter something on a screen-size Canvas.

[2022-05-25 14:53] jonathanolson commented on #145
Using `?rootRenderer=canvas` fixes this. But it's worth a try, it slaughters the sim's performance (looks like due to the filters, Safari + Canvas has to use a particularly slow code-path for filters).

[2022-05-25 14:54] jonathanolson commented on #145
Since this looks like an SVG issue, there's the usual workaround attempt of "put some `fill: 'transparent'` rectangle around it that somehow forces a repaint in SVG" solution. Let me know if collaborating would be good.

[2022-05-25 15:45] pixelzoom commented on #148
Yes, you should collaborate with someone who has one of the affected devices, or pick one up.   While we can live with the slower performance of canvas, we can't live with it crashing the sim.

[2022-05-25 16:51] pixelzoom commented on #145
I'm really not excited about the recommended workaround. Especially since this is a general problem with MathSymbolFont that affects all sims that use it.  I've created https://github.com/phetsims/scenery/issues/1416 to address the general problem.

In the meantime, I recommend that we "do nothing" for Function Builder, and live with the artifacts. @amanda-phet do you agree?

[2022-05-25 16:56] pixelzoom commented on #146
I discussed this more with @KatieWoe.  The card doesn't have to be off-screen, it just has to be to the left or right of the carousels.

@jonathanolson asked:

Since the entire screen is shifting around, I'm not sure what you're referring to.  The flickering is most noticeable on the ends of the builder, but pretty much everything is shifting around.  There's one layer of controls that's has `rend

[2022-05-25 17:24] pixelzoom commented on #146
Re the `preventFit: `'true'` workaround...  It seems like every time I publish a sim, I'm encountering the problem of parts of the display shifting around, and I end up back at applying the `preventFit: 'true'` workaround.  Perhaps we should address the issue generally, which is being tracked in https://github.com/phetsims/scenery/issues/1289.

[2022-05-25 17:36] pixelzoom commented on #69
In https://github.com/phetsims/function-builder/issues/147#issuecomment-1135117675, @jessegreenberg identified this workaround (the use of `renderer: 'canvas'` specifically) as causing a performance problem with pan/zoom on iPad Air 2.  So I'm going to attempt to remove the workaround, to see if it resolves https://github.com/phetsims/function-builder/issues/147.

[2022-05-25 17:49] pixelzoom commented on #146
In the above commit, I (again) applied the `preventFit: 'true'` workaround.  Since the entire screen is shifting around, I applied it to `FBScreenView`, the base class for all ScreenViews in this sim.

I don't have a Win11 test machine.  @KatieWoe please test [1.2.0-dev.8](https://phet-dev.colorado.edu/html/function-builder/1.2.0-dev.8/phet/function-builder_en_phet.html) and let me know if it reso

[2022-05-25 17:51] pixelzoom commented on #147
Since I don't feel like we're moving forward on any kind of general solution, I decided to try removing the #69 workaround.

@KatieWoe please test [1.2.0-dev.8](https://phet-dev.colorado.edu/html/function-builder/1.2.0-dev.8/phet/function-builder_en_phet.html). Does it resolve the problem?

[2022-05-25 17:55] pixelzoom commented on #69
To potentially address #147, the workaround was removed in the above commit.

@KatieWoe please test (1.2.0-dev.8)[https://phet-dev.colorado.edu/html/function-builder/1.2.0-dev.8/phet/function-builder_en_phet.html], to verify that the problem originally reported in #35 has not returned.  Unfortunately the movie that demonstrated #35 seems to be lost. But basically, dragging a card through the build

[2022-05-25 18:20] KatieWoe commented on #146
It does seem to resolve the problem on Win 11 Chrome

[2022-05-25 18:28] pixelzoom commented on #146
Thanks @KatieWoe.

Since I never received a response from @amanda-phet, I'm going to make the call, and move ahead with this solution in FB 1.2.

[2022-05-25 18:40] amanda-phet commented on #145
This was first documented last year in https://github.com/phetsims/scenery-phet/issues/689

My recommendation continues to be that we don't address it until @kathy-phet prioritizes it.

@pixelzoom do you have a recommendation for which issue we keep for tracking the discussion/fix for this? https://github.com/phetsims/scenery-phet/issues/689 or https://github.com/phetsims/scenery/issues/1416?

[2022-05-25 19:09] amanda-phet commented on #147
@pixelzoom said

I agree that this should be addressed, if possible, since this is important for all sims.

[2022-05-25 19:12] pixelzoom commented on #145
I closed duplicate https://github.com/phetsims/scenery/issues/1416, and moved the info to https://github.com/phetsims/scenery-phet/issues/689.

Closing this issue as "won't fix".

[2022-05-25 19:12] #145 closed

[2022-05-25 19:14] amanda-phet commented on #148
I recall this being an issue in another recent sim, but can't remember the sim and can't find an issue about it. But this doesn't seem like the first time we've had screenshot lags - maybe @KatieWoe will remember? It might be helpful to hunt down that thread, if there was one, for any additional context.

[2022-05-25 19:16] amanda-phet commented on #149
Thanks for being so thorough @Nancy-Salpepi ! I agree with @pixelzoom that this shouldn't be addressed if the root is a scenery bounds issue. It doesn't seem worthwhile at this time.

[2022-05-25 19:18] KatieWoe commented on #148
I know there was an issue of slow screenshots, but I don't recall there being a freezing or crashing issue associated with it. If I find it I will link it here.

[2022-05-25 19:19] pixelzoom commented on #69
So now the sim is totally unresponsive on iPad Air 2?  I can't explain that.  The only changes between 1.2.0-dev.7 and 1.2.0-dev.8 were:

* https://github.com/phetsims/function-builder/commit/ee7f34bd49594bd12953acf46e68956058e398ef - removed workaround use of `renderer: 'canvas'` in SceneNode.js
* https://github.com/phetsims/function-builder/commit/652022afda8745e12b7ccb8d5fab7cf571607507 - added

[2022-05-25 19:26] amanda-phet commented on #148
Right, sorry I wasn't clear. Do you remember when we had the slow screenshot issue? Might be useful to reference here to document the history of this issue.

[2022-05-25 19:28] KatieWoe commented on #148
Looking for it now.

[2022-05-25 19:35] pixelzoom commented on #69
I got on Zoom with @KatieWoe.  The iPad Air 2 must have been in some weird state.  After restarting the browser (and iPad?) the sim loads an is responsive.  So @KatieWoe will continue with verifying this issue.

[2022-05-25 19:47] KatieWoe commented on #148
Found it https://github.com/phetsims/number-line-operations/issues/78

[2022-05-25 20:00] KatieWoe commented on #69
Boxes did not seem to show up. In addition, while the screenshots were a bit slow, they seemed faster and I didn't see the crashing/freezing behavior. As long as https://github.com/phetsims/function-builder/issues/69#issuecomment-1137706620 was just a one off I'd say this fix looks better.

[2022-05-25 20:08] pixelzoom commented on #147
I asked @jonathanolson:

We discussed on Zoom, and I think I understand now.  The combination of `renderer:canvas` and filters (anything from scenery/js/filters) causes poor performance on Safari.  ButtonNode (the base class of all sun buttons) uses 2 filters.  So developers must really be careful about where they use `renderer:canvas`.    In the case of the workaround for #35, `renderer:canvas` w

[2022-05-25 20:13] pixelzoom commented on #69
Thanks @KatieWoe.  We'll proceed with this change for FB 1.2.

[2022-05-25 21:29] KatieWoe commented on #147
Looks much better now :)

[2022-05-25 22:12] pixelzoom commented on #135
Based on the error message: `adjacent divide should have been collapsed: [[x]/3]/1` ...

I briefly tried to reproduce this (in master) by setting up configurations like the one shown below in the _Equations_ screen.  I had no luck.

<img width="1150" alt="screenshot_1686" src="https://user-images.githubusercontent.com/3046552/170375734-a5b7bc69-cb6f-4917-9165-8da882791189.png">

[2022-05-25 22:22] pixelzoom commented on #135
To reproduce:
* go to the Equations screen
* open the bottom (Equation) drawer
* set up the builder configuration `÷ 3` `+ 1` `÷ 1`, as shown below
* attempt to change the middle function to `+ 0`, and the assertion will fail

<img width="1165" alt="screenshot_1688" src="https://user-images.githubusercontent.com/3046552/170377809-d2b6569b-7098-4788-bbc6-238759aab212.png">

Then attempt to change t

[2022-05-25 22:51] pixelzoom commented on #135
The fix for this needs to be applied in the constructor of HelpfulEquation.js, where we're currently doing nothing for the `if ( currentOperand === 0 )` case.

[code]

[2022-05-25 23:36] pixelzoom commented on #135
In HelpfulEquation.js, lne 113 is likely the buggy line:

[code]

It should have been:

[code]

[2022-05-26 14:45] pixelzoom commented on #148
@KatieWoe Can you please test other sims in master, and other recently-published sims, to see if they crash when taking Screenshots on iPad Air 2 ?   If this affects other sims (especially published sims) then it may be best to proceed with publishing FB 1.2 with this known problem, then doing a batch MR for affected sims.

[2022-05-26 15:01] pixelzoom commented on #148
@KatieWoe to be clear, when testing other sims, look for the following:

* crashing during/after using the Screenshot feature (this is most important)
* empty/0MB screenshots, like what you observed in published Geometric Optics (this is not good, but the sim is still usable)
* unusually long time to complete the screenshot (this we can live with)
* anything else that seems wrong/odd

[2022-05-26 21:12] pixelzoom commented on #69
To verify in 1.2.0-rc.1, test on iPad, and verify that you don't see the problem pictured in https://github.com/phetsims/function-builder/issues/69#issuecomment-1137645258, and described in #35.

[2022-05-26 21:18] pixelzoom commented on #135
To verify in 1.2.0-rc.1, you'll need to compare its behavior to 1.0.25 (the published version).

* You'll be looking at the unsimplified (aka "helpful") equation format, shown in the Equations screen, with the bottom "drawer" open and the "simplified" checkbox unchecked. (see screenshot in https://github.com/phetsims/function-builder/issues/135#issuecomment-1137967445.
* Set up various combination

[2022-05-26 21:20] pixelzoom commented on #146
To verify in 1.2.0-rc.1, confirm that they problem described in https://github.com/phetsims/function-builder/issues/146#issue-1243505062 is not present on Win11 + Chrome.

[2022-05-26 21:22] pixelzoom commented on #147
To verify in 1.2.0-rc.1, confirm that performance is acceptable when using the pan/zoom feature on iPadOS 15.5.  Please test on an iPad Air 2, and on an iPad.

[2022-05-26 21:29] pixelzoom commented on #139
Slack#design-sims 5/26/2022:

Since I’m out today, here’s a quick “check in” update on Function Builder.
Dev testing was completed for 1.2 release.  Most of the issues were common-code issues, and all but 1 have been addressed. https://github.com/phetsims/function-builder/issues/148 is a showstopper: the Screenshot feature is crashing on iPad Air 2.  This issue will require [@jonathanolson](https:

[2022-05-26 22:14] KatieWoe commented on #148
Some updates from todays testing:
1. I tested 5 of the most recent published sims and I was not able to replicate the crashing behavior on them. Since getting the crash could sometimes be hard in the dev test this was found in, this isn't a guarantee the problem isn't there, but I didn't see it.
2. I briefly tested the problem dev test on iPad Air 2s running iOS 13 and 14. I didn't see the problem

[2022-05-26 22:34] kathy-phet commented on #148
@KatieWoe - Thanks, were you able to replicate the problem on anything that is published on the website using the iOS 15 devices? (Or only things on dev?)

[2022-05-26 22:36] KatieWoe commented on #148
I was not able to replicate on the website. I tried about 5 of the most recent sims, including prototypes. This bug can be hard to reproduce, so this isn't a guarantee, but I didn't see it.

[2022-05-26 22:39] kathy-phet commented on #148
OK - Let's publish a new version of FB, and see if you see it once its built and published.

[2022-05-26 23:26] pixelzoom commented on #148
@kathy-phet can you please clarify what you mean by "published"? Do you mean ignore this issue for now, publish 1.2 to the website, then see if it's reproducible?  I'm not sure why it would be _not_ be reproducible in the production version, when it's been reproduced in a (built) dev version.

[2022-05-27 17:36] jonathanolson commented on #148
I have an iPad Air 2, and I'm able to reproduce this. I'll grab a cord to tether it at home to debug.

[2022-05-27 18:01] Nancy-Salpepi commented on #135
In my testing, the unsimplified equations look the same in 1.2.0-rc.1 and 1.2.25 except in the instances mentioned in the above https://github.com/phetsims/function-builder/issues/135#issuecomment-1139067805. The unsimplified equations are following the format outlined in https://github.com/phetsims/function-builder/blob/master/doc/equation-formats.md.

Closing but will reopen if something comes u

[2022-05-27 18:01] #135 closed

[2022-05-27 20:45] KatieWoe commented on #146
Looks good on Win 11 Chrome in rc.1. Closing

[2022-05-27 20:45] #146 closed

[2022-05-31 21:33] KatieWoe commented on #69
I am not seeing the issue from https://github.com/phetsims/function-builder/issues/35. However, unlike what I said in https://github.com/phetsims/function-builder/issues/69#issuecomment-1137794483, I did manage to get a crashing behavior with the screenshot. However, it took many more tries to replicate.

[2022-05-31 21:42] KatieWoe commented on #148
Note in https://github.com/phetsims/qa/issues/807: I did manage to get a crashing behavior with the screenshot. However, it took many more tries to replicate.

[2022-05-31 21:42] KatieWoe commented on #69
Closing unless this comes up again.

[2022-05-31 21:42] #69 closed

[2022-05-31 21:45] pixelzoom commented on #69
Just to clarify... This issue deals only with the graphics artifacts caused by dragging cards, and it sounds like that is no longer a problem.  The screenshot crash is being tracked in https://github.com/phetsims/function-builder/issues/148.  @jonathanolson is investigating. We may delay FB 1.2 until he addresses it.  Or we may publish FB 1.2 with that known problem, then address it in an MR.  Tha

[2022-05-31 22:16] KatieWoe commented on #147
This looks good in rc.1. Closing

[2022-06-03 20:18] jonathanolson commented on #148
Using Instruments (OS logging), shows:

[code]

https://github.com/openlayers/openlayers/issues/12908 seems potentially related.

[2022-06-03 20:21] jonathanolson commented on #148
https://bugs.webkit.org/show_bug.cgi?id=231157 also could trigger this, if we're using a larger path in this sim.

[2022-06-03 20:49] jonathanolson commented on #148
Simulator is also showing:
[code]

[2022-06-03 21:35] jonathanolson commented on #148
Reducing the size of Canvases used in the internal rendering-to-Canvas code prevents the crash. Doing layer fitting could potentially resolve this (it might be related to the filters it's applying).

[2022-06-03 23:04] jonathanolson commented on #148
I believe the above approach (layer fitting in the Canvas approach) fixes this. It improves the memory AND performance characteristics of screenshotting (particularly for Safari + filters, which was the main bottleneck).

@KatieWoe can you test master (built) function-builder-basics to see if this resolves the issue on your end? It seems to on my test iPad.

@pixelzoom can you see the changes, and

[2022-06-06 18:14] KatieWoe commented on #148
On master the screenshots are taken much faster now. They are taken fast enough that if the crashing issue is there I don't think I'll be able to react fast enough to recreate it.

[2022-06-06 18:26] pixelzoom commented on #148
@KatieWoe Recall that using the Screenshot feature multiple times result in a crash.  Reaction time is irrelevant in that case.  So please make sure that you're testing that.

[2022-06-06 19:04] pixelzoom commented on #148
Changes look OK to me (though this is outside my wheelhouse).

This presumably affects more than just Function Builder.  @jonathanolson what's your opinion on how this should be addressed?  Should I patch this into the 1.2 branch for function-builder?  Do we need a MR for other sims?

[2022-06-06 19:48] KatieWoe commented on #148
Sorry, it took me a bit of time to get a built version up and running. Taking several screenshots (10 downloaded and several others canceled) did not crash the sim.

[2022-06-07 00:25] jonathanolson commented on #148
I'd recommend patching this into sims that crash at the very minimum. If it seems to speed up screenshots across sims for Safari, I'm also fine patching that in (probably @kathy-phet's decision there).

[2022-06-09 16:12] pixelzoom commented on #148
@jonathanolson I see this error in CT for many sims. energy-forms-and-changes, geometric-optics, graphing-quadratics, molecules-and-light, ...   So do we have a new problem here?

[code]

[2022-06-09 16:13] jonathanolson commented on #148
Looking into it.

[2022-06-09 16:15] pixelzoom commented on #148
Since this is a general problem (not specific to function-builder), I'm transferring this issue to scenery.

[2022-06-09 16:17] pixelzoom opened #150 "Sim can crash when taking screenshots"
For https://github.com/phetsims/qa/issues/804 and https://github.com/phetsims/qa/issues/805.

This is a general issue, see https://github.com/phetsims/scenery/issues/1424.  Blocking and on-hold until that issue is addressed.

[2022-06-10 21:21] pixelzoom commented on #150
In the above commits, I patched scenery branches function-builder-1.2 and function-builder-basics-1.2.

shas that were cherry-picked:

https://github.com/phetsims/scenery/commit/e761ef4da06cc8c4e1a5c0578d68d0db5b34a4ad
https://github.com/phetsims/scenery/commit/ace23fc4566773387bb33efa9960b4248b702f5f

[2022-06-10 21:41] pixelzoom commented on #150
To verify in 1.2.0-rc.2:

* Test on iPad to verify that it's still fixed.
* Test on a few desktop platforms (macOS and Win) to verify that it's working correctly there too.

History for the general issues is in https://github.com/phetsims/scenery/issues/1424.

[2022-06-10 22:11] pixelzoom commented on #139
We decidd to do another RC spot-check, to patch in #150 (Screenshot crash).

RC tests published 6/10/2022:
* https://github.com/phetsims/qa/issues/813
* https://github.com/phetsims/qa/issues/813

[2022-06-13 19:18] KatieWoe commented on #150
I was unable to reproduce this in RC 2. Closing

[2022-06-13 19:18] #150 closed

[2022-06-13 20:43] pixelzoom commented on #139
In order to update QA credits for #141, I patched function-builder 1.2 and function-builder-basics 1.2, then published 1.2.0-rc.3 for both sims.  As with last-minute credits updates that have been done in the past, these RCs were not QA tested.  I spot-checked the About dialog, to make sure the credits looked correct.

[2022-06-13 21:11] #139 closed

[2022-06-14 20:47] amanda-phet opened #151 "LOL deliverables"
Need to create deliverables for this sim and Function Builder: Basics.

- [ ]  metadata for each screen (description, vocab words, questions for before/after sim use)
- [ ]   icons
- [ ]   delivered to LoL